<div class="my-4 d-flex align-items-center gap-2">
  <h1 class="mb-0">
    <%= @message.nom %>
  </h1>
</div>

<h4 class='mt-4'>Exemple de message</h4>
<div class='card p-4'>
  <%= simple_format @message.body_builder(current_user) %>
</div>

<h4 class='mt-4'>Destinataires</h4>
<%= @message.destinataires.join(', ') %>


<div class='mt-5'>
  <%= link_to "Modifier", edit_message_path(@message) %> |
  <%= link_to "Retour", messages_path %>
</div>
