<div class="d-flex gap-5 align-items-center vh-100 pb-5">
  <div class="flex-grow-1">
    <%= image_tag "undraw_Real_time_sync_re_nky7.png", class: "mw-50" %>
    <h1 class="text-primary">Crystal Data</h1>
    <h2 class="fw-normal fs-4">Vos données métier, en ligne et en mobilité</h2>
    <h3 class="fw-light fs-5">Cette application Web vous permet de créer des tables de données à partir de feuilles Excel, de les partager en ligne et en mobilité</h3>
    <%= link_to "En savoir plus", "/about", class: "btn btn-outline-primary mt-4" %>
  </div>

  <div class="flex-grow-1 border p-5">
    <h2 class="text-center mb-5">Connexion</h2>

    <%= form_for :user, url:'/login', class: "d-flex flex-column gap-4" do |f| %>

      <%= f.text_field :email, required: true, class: 'form-control', placeholder:'Adresse mail' %>
      <%= f.password_field :password, required: true, class: 'form-control', placeholder:'Mot de passe' %>
      <div>
        <%= f.check_box :remember_me %>
        <%= f.label(:remember_me, "Maintenir la connexion ?") %>
      </div>

      <div class='d-flex gap-4 mb-4'>
        <%= f.submit "S'identifier", class: 'btn btn-outline-success w-100 flex-grow-1' %>
        <%= link_to "Créer un compte", signup_path, class: 'btn btn-outline-warning w-100 flex-grow-1' %> 
      </div>

    <% end %>

    <%= link_to "Se connecter en tant qu'invité (mode démonstration)", demo_path, class: 'btn btn-outline-primary w-100' %>
  </div>
</div>


