<div class="page-header">
	<h1>
		Crystal-data: vos données métier, en ligne et en mobilité 
	</h1>
</div>

<h4>
	Cette application Web vous permet de créer des tables de données à partir de feuilles Excel, de les partager en ligne et en mobilité
</h4>
<br />

<div class="page-header">
	<h2>
		Motivation
	</h2>
</div>

Développeur d'applications métiers depuis plus de 20 ans, j'ai souvent aidé mes clients à passer 
d'un système d'information en silos, où les données métier critiques de l'entreprise sont enfermées 
dans des feuilles Excel, à un système de type plateforme où les données sont centralisées, 
partagées entre les services, et qui permet à la direction d'avoir une vue d'ensemble de l'activité. 
A force de mettre en place ce type de solution, j'ai remarqué que des motifs se répétaient et 
qu'à chaque nouveau projet les besoins étaient les mêmes :
<br><br>
<ul class="list-group">
	<li class="list-group-item"><i class="fa fa-check"></i> Importer les données d'Excel</li>
	<li class="list-group-item"><i class="fa fa-check"></i> Accéder aux données de n'importe où</li>
	<li class="list-group-item"><i class="fa fa-check"></i> Rechercher, filtrer</li>
	<li class="list-group-item"><i class="fa fa-check"></i> Partager les données en toute sécurité</li>
	<li class="list-group-item">Organiser et lier les données entre elles</li>
	<li class="list-group-item">Ajouter des règles métiers</li>
	<li class="list-group-item">Créer des vues personnalisées</li>
	<li class="list-group-item">Gérer des utilisateurs et des rôles</li>
</ul>
C'est pourquoi j'ai développé Crystal-data, afin d'offrir les 4 premiers services d'un système ouvert 
de type plateforme et aider des entreprises à franchir le pas vers le décloisonnement de leurs données, 
pour une gestion efficace, collaborative et centrée sur leurs objectifs. 
Et, pourquoi pas, poser ainsi les fondations d'une future application sur mesures, 
intégrant les liens entre les données, les règles métiers et les vues personnalisées.
<br /><br />

<div class="page-header">
	<h2>
		Fonctionnalités
	</h2>
</div>

<div class="page-header">
	<h3>
		<i class="fa fa-check"></i>
		Créer des tables de données<br>
	</h3>
</div>

<%= link_to image_tag(image_path("screen-lg.png"), width:'95%', id:"imageresource-lg1", class:"img-thumbnail"), image_path("screen-lg.png") %>
<br /><br />

<pre>Créez vos tables de donnée simplement à partir de feuilles Excel (exportées au format CSV)</pre>
<br /><br />

<div class="page-header">
	<h3>
		<i class="fa fa-check"></i>
		Ajoutez de nouvelles colonnes 
	</h3>
</div>
<%= link_to image_tag(image_path("screen-lg-modif.png"), width:'95%', id:"imageresource-lg2", class:"img-thumbnail"), image_path("screen-lg-modif.png") %>
<br /><br />
<pre>Ajoutez des colonnes de type: Texte, Nombre, Euros, Date, Oui/Non, Liste de choix, Champ calculé (formule <%= link_to "Ruby","https://www.ruby-lang.org/fr/documentation/quickstart/", :target => "_blank" %>), Fichier, Signature manuscrite, Coordonnées GPS, Météo locale</pre>
<br /><br />

<div class="page-header">
	<h3>
		<i class="fa fa-check"></i>
		Ajoutez, éditez vos enregistrements dans un formulaire
	</h3>
</div>
<%= link_to image_tag(image_path("screen-lg-form.png"), width:'95%', id:"imageresource-lg3", class:"img-thumbnail"), image_path("screen-lg-form.png") %>
<br /><br />

<pre>Un formulaire permet de saisir vos données, sur PC ou sur mobile. Chaque modification est consignée dans un historique (qui, quand, quoi)</pre>
<br /><br />

<div class="page-header">
	<h3>
		<i class="fa fa-check"></i>
		Recherchez, filtrez et triez vos données 
	</h3>
</div>
<%= link_to image_tag(image_path("screen-lg-filtre.png"), width:'95%', id:"imageresource-lg4", class:"img-thumbnail"), image_path("screen-lg-filtre.png") %>
<br /><br />

<div class="page-header">
	<h3>
		<i class="fa fa-check"></i>
		Partagez vos données avec d'autres utilisateurs
	</h3>
</div>
<%= link_to image_tag(image_path("screen-lg-partage.png"), width:'95%', id:"imageresource-lg5", class:"img-thumbnail"), image_path("screen-lg-partage.png") %>
<br /><br />

<div class="page-header">
	<h3>
		<i class="fa fa-check"></i>
		Exportez vos données vers un tableur 
	</h3>
</div>
<%= link_to image_tag(image_path("screen-lg-excel2.png"), width:'95%', id:"imageresource-lg6", class:"img-thumbnail"), image_path("screen-lg-excel2.png") %>
<br /><br />

<div class="page-header">
	<h3>
		<i class="fa fa-check"></i>
		Suivi graphique de l'activité & Notification après chaque ajout de nouvelles données
	</h3>
</div>
<%= link_to image_tag(image_path("screen-lg-chart.png"), width:'95%', id:"imageresource-lg8", class:"img-thumbnail"), image_path("screen-lg-chart.png") %>
<br /><br />

<div class="page-header">
	<h3>
		<i class="fa fa-check"></i>
		Accédez à vos données en mobilité
		</i> 
	</h3>
</div>
<%= link_to image_tag(image_path("screen-sm-1.png"), width:'32%', id:"imageresource-sm-1", class:"img-thumbnail"), image_path("screen-sm-1.png") %>
<%= link_to image_tag(image_path("screen-sm-2.png"), width:'32%', id:"imageresource-sm-2", class:"img-thumbnail"), image_path("screen-sm-2.png") %>
<%= link_to image_tag(image_path("screen-sm-3.png"), width:'32%', id:"imageresource-sm-3", class:"img-thumbnail"), image_path("screen-sm-3.png") %>
<br /><br />
<pre>Les écrans s'adaptent automatiquement à la taille d'un écran de smartphone => WebApp</pre>
<br /><br />


<h2>
	Sources
</h2>

Les sources (Ruby on Rails) sont disponibles sur
<%= link_to image_tag("GitHub.png", size:"50x20"), "https://github.com/philippe-nougaillon/crystalData" %>
<br /><br />

<h2>
	Me contacter
</h2>

Philippe NOUGAILLON
<%= link_to image_tag("LinkedIn.png", size:'20x20'), "https://fr.linkedin.com/in/philippe-nougaillon-a028a840" %>
<br /><br />
