<h1 style="text-align: center">Bienvenue !</h1>

Votre compte CrystalDATA a été créé avec succès.
<br><br>
Pour vous connecter, cliquez sur le lien suivant :
<%= link_to root_url, root_url %>

<p>En cas de besoin, vous pouvez nous contacter à l'adresse suivante : <%= link_to "https://www.philnoug.com/contact", "https://www.philnoug.com/contact?objet=CrystalDATA" %></p>

<hr style="margin-top: 30px; border: 1px solid #ccc">

<h2 style="margin-top: 2rem">Découvrez nos autres logiciels open-source :</h2>

<div style="margin-bottom: 1.5rem">
  <%= link_to "Talea", "https://www.philnoug.com/logiciels", style: 'font-size: 20px;' %>
  <p>Application de <b>gestion des Interventions</b> (gestion de services techniques)</p>
</div>

<div style="margin-bottom: 1.5rem">
  <%= link_to "Camino", "https://www.philnoug.com/logiciels", style: 'font-size: 20px;' %>
  <p>Application de <b>gestion de projets</b>, en équipe et en mobilité</p>
</div>

<div style="margin-bottom: 1.5rem">
  <%= link_to "PrestoFacto", "https://www.philnoug.com/logiciels", style: 'font-size: 20px;' %>
  <p>Application de <b>gestion et de facturation</b> des services journaliers (Cantine, garderie, péri-scolaire,...)</p>
</div>

<div style="margin-bottom: 1.5rem">
  <%= link_to "Émargements", "https://www.philnoug.com/logiciels", style: 'font-size: 20px;' %>
  <p>Application de <b>gestion des feuilles de présence</b> numérique</p>
</div>

<div style="margin-bottom: 1.5rem">
  <%= link_to "Business School Planning", "https://www.philnoug.com/logiciels", style: 'font-size: 20px;' %>
  <p>Application de <b>gestion de planification</b> de cours et de salles, à l’usage d’établissement de l’enseignement supérieur</p>
</div>

<hr style="margin-top: 30px; border: 1px solid #ccc">

<h1 style="text-align: center">Welcome !</h1>

Your CrystalDATA account has been successfully created.
<br><br>
To connect, click on the following link:
<%= link_to root_url, root_url %>

<p>If necessary, you can contact us at the following address: <%= link_to "https://www.philnoug.com/contact", "https://www.philnoug.com/contact?objet=CrystalDATA" %></p>

<hr style="margin-top: 30px; border: 1px solid #ccc">

<h2 style="margin-top: 2rem">Discover our other open-source software:</h2>

<div style="margin-bottom: 1.5rem">
  <%= link_to "Talea", "https://www.philnoug.com/logiciels", style: 'font-size: 20px;' %>
  <p>Application of <b> Intervention management </b> (technical services management)</p>
</div>

<div style="margin-bottom: 1.5rem">
  <%= link_to "Camino", "https://www.philnoug.com/logiciels", style: 'font-size: 20px;' %>
  <p>Application of <b> Project management </b>, as a team and mobility</p>
</div>

<div style="margin-bottom: 1.5rem">
  <%= link_to "PrestoFacto", "https://www.philnoug.com/logiciels", style: 'font-size: 20px;' %>
  <p>Application of <b> Management and billing </b> of daily services (canteen, daycare, after-school care, ...)</p>
</div>

<div style="margin-bottom: 1.5rem">
  <%= link_to "Émargements", "https://www.philnoug.com/logiciels", style: 'font-size: 20px;' %>
  <p>Application of <b> Management of Digital Presence sheets</p>
</div>

<div style="margin-bottom: 1.5rem">
  <%= link_to "Business School Planning", "https://www.philnoug.com/logiciels", style: 'font-size: 20px;' %>
  <p>Application of <b> Planning management </b> of courses and classrooms, for the use of higher education establishment</p>
</div>