<tr id="<%= dom_id graph %>">
  <td><b><%= graph.name.humanize %></b></td>
  <td><%= graph.field.name %></td>
  <td><%= graph.filter.name %></td>
  <td><%= graph.chart_type %></td>
  <td><%= graph.sort %></td>
  <td><%= graph.desc %></td>
  <td><%= graph.group %></td>
  <td style="text-align: right; white-space: nowrap;">
    <% if policy(graph).edit? %>
      <%= link_to t('scaffold.update'), edit_graph_path(graph), class: 'btn btn-sm btn-outline-primary me-2' %>
    <% end %>
    <% if policy(graph).destroy? %>
      <%= button_to t('scaffold.destroy'), graph, method: :delete, 'data-turbo-confirm': t('scaffold.sure?'), class: 'btn btn-sm btn-outline-danger', form_class: 'float-end' %>
    <% end %>
  </td>
</tr>
