<tr id="<%= dom_id graph %>">
  <td><%= link_to graph.name.humanize, graph, 'data-turbo': false %></td>
  <td><%= graph.chart_type.humanize %></td>
  <td><%= graph.table.name %>/<%= graph.field.name %></td>
  <td><%= graph.filter.try(:name) %></td>
  <td style="text-align: center"><%= graph.visibility ? '✓' : '-' %></td>
  <td style="text-align: right; white-space: nowrap;">
    <% if policy(graph).edit? %>
      <%= link_to t('scaffold.update'), edit_graph_path(graph), class: 'btn btn-sm btn-outline-primary me-2' %>
    <% end %>
    <% if policy(graph).destroy? %>
      <%= button_to t('scaffold.destroy'), graph, method: :delete, 'data-turbo-confirm': t('scaffold.sure?'), class: 'btn btn-sm btn-outline-danger', form_class: 'float-end' %>
    <% end %>
  </td>
</tr>
