<div id="<%= dom_id graph %>">
  <p>
    <strong>Name:</strong>
    <%= graph.name %>
  </p>

  <p>
    <strong>Field:</strong>
    <%= graph.field_id %>
  </p>

  <p>
    <strong>Filter:</strong>
    <%= graph.filter_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= graph.chart_type %>
  </p>

  <p>
    <strong>Sort:</strong>
    <%= graph.sort %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= graph.desc %>
  </p>

</div>
