<p style="color: green"><%= notice %></p>

<%= render @graph %>

<div>
  <%= link_to "Edit this graph", edit_graph_path(@graph) %> |
  <%= link_to "Back to graphs", graphs_path %>

  <%= button_to "Destroy this graph", @graph, method: :delete %>
</div>
