<div class="mx-auto mt-2 <%= 'w-50' if ['pie','d'].include? @graph.chart_type %>">
  <div class="shadow-sm pt-4 pb-5 px-5">
    <h1 class="mb-4"><%= @graph.name.humanize %></h1>
    <canvas data-turbo="false" id="chart0"></canvas>
  </div>

  <div class="d-flex float-end mt-4 mb-2">
    <% if policy(@graph).edit? %>
      <%= link_to edit_graph_path(@graph), class: 'text-gray-300 hover-text-secondary', title: t('graphs.edit_title') do %>
        <span class="material-symbols-outlined">
          edit
        </span>
      <% end %>
    <% end %>
    <% if policy(@graph).destroy? %>
      <%= button_to @graph, method: :delete, data: {turbo_confirm: t('scaffold.sure?') }, class:'text-gray-300 hover-text-danger btn btn-sm p-0', title: t('graphs.delete_title') do %>
        <span class="material-symbols-outlined">
          delete
        </span>
      <% end %>
    <% end %>
    <%= link_to t('scaffold.back'), params[:from_url] || graphs_path, class: 'ms-3' %>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<%= render partial: 'partials/graph_script', locals: {graph: @graph, i: 0} %>