<div class="mx-auto shadow-sm mt-2 pt-4 px-5 <%= 'w-50' if ['pie','d'].include? @graph.chart_type %>">
  <h1 class="mb-4 text-warning"><%= @graph.name.humanize %></h1>
  <canvas data-turbo="false" id="chart"></canvas>

  <div class="d-flex float-end mt-4">
    <% if policy(@graph).edit? %>
      <%= link_to edit_graph_path(@graph), class: 'text-gray-300 hover-text-secondary' do %>
        <span class="material-symbols-outlined">
          edit
        </span>
      <% end %>
    <% end %>
    <% if policy(@graph).destroy? %>
      <%= button_to @graph, method: :delete, data: {turbo_confirm: t('scaffold.sure?') }, class:'text-gray-300 hover-text-danger btn btn-sm p-0' do %>
        <span class="material-symbols-outlined">
          delete
        </span>
      <% end %>
    <% end %>
    <%= link_to t('scaffold.back'), params[:from_url] || graphs_path %>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  var data = {
    labels: <%= @results.keys.to_json.html_safe %>,
    datasets: [
      {
        label: "<%= "#{@graph.name}" %>",
        <% if ['pie','doughnut', 'bar'].include?(@graph.chart_type) %>
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(153, 101, 255, 0.2)',
            'rgba(255,159,64, 0.2)',
            'rgba(201, 203, 207, 0.2)',
          ],
          borderColor: [
            'rgb(255, 99, 132)',
            'rgb(75, 192, 192)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)',
            'rgb(153, 102, 255)',
            'rgb(255, 159, 64)',
            'rgb(201, 203, 207)'
          ],
          borderWidth: 1,
        <% else %>
          backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(75, 192, 192)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)',
            'rgb(153, 101, 255)',
            'rgb(255,159,64)',
            'rgb(201, 203, 207)'
          ],
        <% end %>
        data: <%= @results.values.to_json.html_safe %>,
      },
    ],
  };

  var configChart = {
    type: "<%= @graph.chart_type %>",
    data: data,
    options: {},
  };

  var chartElement = document.getElementById("chart");
  if (chartElement) {
    new Chart(chartElement, configChart);
  }
</script>