<div class="my-4 d-flex align-items-center text-secondary gap-2">
  <h1 class="mb-0">
    <%= t('maillogs.title') %>
  </h1>
</div>

<p class="text-muted">
  <%= t('maillogs.description1') %>
  <%= link_to "MailGun", "https://www.mailgun.com/fr/", target: "_blank", class: "text-primary hover:underline" %>,
  <%= t('maillogs.description2') %>
</p>

<%= form_tag request.path, method: :get do %>
  <div class="row align-items-end">
    <div class="col-sm-4">
      <%= label_tag :to, t('maillogs.receiver') %>
      <%= select_tag :to, 
                      options_for_select(@mail_logs.pluck(:to).uniq.sort, params[:to]), 
                      include_blank: true, 
                      class: 'form-select form-select-sm w-100',
                      onchange: 'this.form.submit()' %>
    </div>

    <div class="col-sm-2">
      <%= label_tag :search_subject, t('maillogs.subject') %>
      <%= select_tag :search_subject, options_for_select(@mail_logs.pluck(:subject).uniq.sort, params[:search_subject]), include_blank: true, onchange:'this.form.submit()', class:"form-select form-select-sm w-full" %>
    </div>
    <div class="col-sm-3">
      <%= check_box_tag :ko, 1, params[:ko], onchange:'this.form.submit()' %>
      <%= label_tag :ko, t('maillogs.only_ko?') %>
    </div>
  </div>
<% end %>

<table class="table mt-4">
  <thead>
    <tr>
      <th><%= t('misc.time_ago') %></th>
      <th><%= t('maillogs.receiver') %></th>
      <th><%= t('maillogs.subject') %></th>
      <th><%= t('maillogs.status') %></th>
      <th><%= t('maillogs.state') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mail_logs.each do |mail_log| %>
      <% status_ko = @result_failed["items"].find{|item| item["message"]["headers"]["message-id"] == mail_log.message_id } %>

      <% if params[:ko].blank? || (mail_log.created_at > 5.days.ago && status_ko) %>
        <%= render partial: "mail_log", locals: {mail_log: mail_log, status_ko: status_ko} %>
      <% end %>

    <% end %>
  </tbody>
</table>