<div id="details">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
    <% @table.fields.détaillable.ordered.each_with_index do |field, index| %>
      <% values = @table.value_datas_détaillable(@record_index) %>
      <% value = field.values.find_by(record_index: @record_index) %> 
      <% field_value = value.data if value %>
      <div class="col mb-4">
        <label class="fw-bold d-flex gap-2 mb-2">
          <span class="material-symbols-outlined text-black-50">
            <%= field.icon %>
          </span>
          <%= field.name.humanize %>
        </label>
        <% if value = values[index]%>
          <div class="form-control w-100 min-h-field"> 
            <% case field.datatype when 'Fichier' %>
              <%= link_to Blob.find(value).file_attachment.filename, url_for(Blob.find(value).file), target: '_blank' %>
            <% when 'Image', 'PDF' %>
              <% blob = Blob.find(value) %>
              <% if blob.file.representable? %>
                <%= link_to url_for(blob.file), {target: "_blank"} do %>
                  <%= image_tag(blob.file.representation(resize_to_limit: [200, 250]), class: 'shadow') %>
                <% end %>
              <% end %>
            <% when 'Signature' %>
              <img src=<%= value %>>
            <% when 'Date' %>
              <%= l(value.to_date) unless value.blank? %>
            <% when 'Texte_long' %>
              <%= value %>
            <% when 'Texte_riche' %>
              <%= simple_format(value) %>
            <% when 'Euros' %>
              <%= number_to_currency(value) %>
            <% when 'Formule' %>
              <%= field.evaluate(@table, record_index) %>
            <% when 'Workflow' %>
              <% items = field.items_splitted.map{|e| e.split(':')}.to_h %>
              <% color = items[value] %>
              <span class="badge bg-<%= color %>"><%= value %></span>
            <% when 'URL' %>
              <%= link_to URI.parse(value).host, value, target: "_blank" %>
            <% when 'Couleur' %>
              <span style="background-color: <%= value %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <% when 'GPS' %>
              <% unless value.blank? %>
                <%= render partial: 'partials/mapbox', locals: {value: value} %>
              <% end %>
            <% when 'Collection' %>
              <% linked_value = field.get_linked_table_record(value.to_i) %>
              <%= link_to linked_value, details_path(Table.find(field.relation.relation_with_id).slug, record_index: value) %>
            <% when 'Utilisateur' %>
              <%= value %>
            <% when 'Vidéo_YouTube' %>
              <iframe width="280" height="157" src="<%= value %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <% when 'QRCode' %>
              <div class="w-sm-50"><%= raw value %></div>
            <% when 'Distance' %>
              <%= value %>
            <% else %>
              <%= value %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="text-end text-warning">
    MÀJ le <%= l @table.last_update_at(@record_index) %>
    (il y a <%= time_ago_in_words(@table.last_update_at(@record_index)) %>)
  </div>
</div>