<nav class="navbar d-flex d-lg-none navbar-expand-lg fixed-top bg-white shadow-sm">
  <div class="container-fluid">
    <% if controller_name == "tables" && action_name == "show" %>
      <ul class='mb-0 px-0' style='list-style-type: none;'>
        <%= render partial: 'partials/navbar_table_show'%>
      </ul>
    <% else %>
      <h1 class="navbar-brand mb-0">
        <ul class="navbar-nav">
          <li class="nav-item ps-1">
            <%= link_to user_signed_in? ? (current_user.favorite_table ? table_path(current_user.favorite_table) : tables_path) : new_user_session_path, class: 'text-decoration-none link-black' do %>
            <%= image_tag 'icons/aikku.png', style: "height: 2rem" %>
            FORM
            <% end %>
          </li>
        </ul>
      </h1>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to current_user.favorite_table ? table_path(current_user.favorite_table) : tables_path, class: 'nav-link link-primary d-flex align-items-center gap-1' do %>
              <span class="material-symbols-outlined">
                house
              </span>
              Accueil
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to tables_path, title: "Liste des Objets", class: 'nav-link link-dark d-flex align-items-center gap-1' do %>
              <span class="material-symbols-outlined">
                database
              </span>
              Objets
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to filters_path, title: "Liste des filtres", class: 'nav-link link-success d-flex align-items-center gap-1' do %>
              <span class="material-symbols-outlined">
                Tune
              </span>
              Filtres
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to notifications_path, title: "Liste des Notifications", class: 'nav-link link-warning d-flex align-items-center gap-1' do %>
              <span class="material-symbols-outlined">
                notifications_active
              </span>
              Notifs
            <% end %>
          </li>
          <!--
          <li class="nav-item">
            <%= link_to graphs_path, title: "Graphiques", class: 'nav-link link-secondary d-flex align-items-center gap-1' do %>
              <span class="material-symbols-outlined">
                Query_stats
              </span>
              Graphiques
            <% end %>
          </li>
          -->
          <li class="nav-item">
            <%= link_to securite_tables_path, title: "Liste des accès", class: 'nav-link link-danger d-flex align-items-center gap-1' do %>
              <span class="material-symbols-outlined">
                lock
              </span>
              Sécurité
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to assistant_path, title: "Assistant", class: 'nav-link link-info d-flex align-items-center gap-1' do %>
              <span class="material-symbols-outlined">
                family_star
              </span>
              Assistant
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to current_user, title: "Graphiques", class: 'nav-link link-secondary d-flex align-items-center gap-1' do %>
              <span class="material-symbols-outlined">
                badge
              </span>
              Profil
            <% end %>
          </li>
        <% end %>

        <li class="nav-item">
          <%= link_to a_propos_path, title: "À Propos de CrystalDATA", class: 'nav-link link-secondary d-flex align-items-center gap-1' do %>
            <span class="material-symbols-outlined">
              help
            </span>
            Aide
          <% end %>
        </li>

        <% if user_signed_in? %>
          <%= button_to destroy_user_session_path, method: :delete, class:'btn btn-outline-danger btn-sm', 'data-turbo': false, title: 'Se déconnecter' do %>
            Déconnexion
          <% end %>
        <% end %>
        
        <% if controller_name == "tables" && action_name == "show" %>
          <% if policy(@table).show_attrs? %>
            <li class="nav-item text-end">
              <%= link_to show_attrs_path(id:@table), class:'nav-link', title:"Modifier les attributs de l'Objet '#{@table.name}'" do %> 
                Modifier Attributs
              <% end %>
            </li>
          <% end %>
          <% if policy(@table).edit? %>
            <li class="nav-item text-end">
              <%= link_to edit_table_path(id:@table), class:'nav-link', title:"Modifier l'Objet '#{@table.name}'" do %> 
                Modifier Objet
              <% end %>
            </li>
          <% end %>
          <% if policy(@table).partages? %>
            <li class="nav-item text-end">
              <%= link_to partages_path(@table), class:'nav-link', title:"Voir les utilisateurs qui partagent l'Objet '#{@table.name}'" do %>
                Partages
              <% end %>
            </li>
          <% end %>
          <% if policy(@table).logs? %>
            <li class="nav-item text-end">
              <%= link_to logs_path(id:@table), class:'nav-link', title:"Historique des modifications de l'Objet '#{@table.name}'" do %>
                Activité
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>