<nav class="nav d-none d-sm-flex flex-column bg-secondary gap-5 py-4 position-fixed top-0 start-0 overflow-hidden h-100 align-items-center">
  <div class="flex-fill d-flex flex-column gap-5 mt-2">
    <li class="nav-item">
      <%= link_to user_signed_in? ? (current_user.favorite_table ? table_path(current_user.favorite_table) : tables_path) : new_user_session_path, title: "Page d'accueil" do %>
        <i class="fa-solid fa-house text-white"></i>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to tables_path, title: "Liste des tables" do %>
        <i class="fa-solid fa-cubes text-muted"></i>
      <% end %>
    </li>
  </div>
  <li class="nav-item">
    <%= link_to a_propos_path, title: "À Propos de CrystalData" do %>
      <i class="fa-solid fa-circle-question text-info"></i>
    <% end %>
  </li>
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to current_user, title: "Profil utilisateur" do %>
        <i class="fa-solid fa-circle-user fa-2xl text-primary"></i>
      <% end %>
    </li>
    <li class="nav-item">
      <%= button_to destroy_user_session_path, method: :delete, class:'btn btn-accent btn-outline !normal-case', 'data-turbo': false, title: 'Se déconnecter' do %>
        <i class="fa-solid fa-right-from-bracket text-warning"></i>
      <% end %>
    </li>
  <% end %>
</nav>

<nav class="navbar d-flex d-sm-none navbar-expand-lg fixed-top bg-secondary">
  <div class="container-fluid">
    <h1 class="navbar-brand mb-0">CrystalData</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to user_signed_in? ? (current_user.favorite_table ? table_path(current_user.favorite_table) : tables_path) : new_user_session_path, class: 'nav-link text-white' do %>
            <i class="fa-solid fa-house"></i>
            <% if user_signed_in? %>
              Objet Principal  
            <% else%>
              Accueil
            <% end %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to tables_path, title: "Liste des tables", class: 'nav-link text-muted' do %>
            <i class="fa-solid fa-cubes"></i>
            Tables
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to a_propos_path, title: "À Propos de CrystalData", class: 'nav-link text-info' do %>
            <i class="fa-solid fa-circle-question"></i>
            À Propos
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to current_user, title: "Profil utilisateur", class: 'nav-link text-primary' do %>
              <i class="fa-solid fa-circle-user"></i>
              Profil
            <% end %>
          </li>
          <li class="nav-item">
            <%= button_to destroy_user_session_path, method: :delete, class:'nav-link btn btn-accent btn-outline !normal-case text-warning', 'data-turbo': false, title: 'Se déconnecter' do %>
              <i class="fa-solid fa-right-from-bracket"></i>
              Déconnexion
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>