<nav class="nav d-none d-sm-flex flex-column bg-secondary gap-5 py-4 position-fixed top-0 start-0 overflow-hidden h-100">
  <li class="nav-item flex-fill mx-auto mt-2">
    <%= link_to root_path, title: "Liste des tables" do %>
      <i class="fa-solid fa-house text-white"></i>
    <% end %>
  </li>
  <% if @current_user %>
    <li class="nav-item mx-auto">
      <%= link_to @current_user, title: "Profil utilisateur" do %>
        <i class="fa-solid fa-circle-user fa-2xl text-primary"></i>
      <% end %>
    </li>
    <%
=begin%>
 <li class="nav-item mx-auto">
      <%= link_to root_path, title: "Paramètres" do %>
        <i class="fa-solid fa-gear text-white"></i>
      <% end %>
    </li> 
<%
=end%>
    <li class="nav-item mx-auto">
      <%= link_to "/logout", title: "Se déconnecter" do %>
        <i class="fa-solid fa-right-from-bracket text-warning"></i>
      <% end %>
    </li>
  <% else %>
    <li class="nav-item mx-auto">
      <%= link_to a_propos_path, title: "À Propos de CrystalData" do %>
        <i class="fa-solid fa-circle-question text-white"></i>
      <% end %>
    </li>
  <% end %>
</nav>