<nav class="nav d-none d-lg-flex flex-column shadow-sm position-fixed overflow-hidden h-100 align-items-center">
  <div class="flex-fill d-flex flex-column w-100">

    <% if user_signed_in? && current_user.admin? %>
      <li class="nav-item">
        <%= link_to user_signed_in? ? (current_user.favorite_table ? table_path(current_user.favorite_table) : tables_path) : new_user_session_path, 
                    title: t('navbar.home_title'), 
                    class: "d-flex flex-column align-items-center text-decoration-none link-primary py-3 #{'bg-body-secondary shadow-sm' if params[:controller] == 'tables' && @table && @table.show_on_startup_screen }",
                    disabled: current_user && current_user.favorite_table do %>
          <span class="material-symbols-outlined">
            home
          </span>
          <%= t('misc.home') %>
        <% end %>
      </li>
    <% end %>

      <li class="nav-item">
        <%= link_to tables_path, title: t('navbar.tables_title'), class: "d-flex flex-column align-items-center text-decoration-none py-3 link-dark #{'bg-body-secondary shadow-sm' if params[:controller] == 'tables' && (( !(@table && @table.show_on_startup_screen) && current_user.admin? && params[:action] != 'securite') || current_user.user? && params[:action] == 'index') }" do %>
          <span class="material-symbols-outlined">
            database
          </span>
          <%= t('tables.title') %>
        <% end %>
      </li>
    <% if user_signed_in? && current_user.admin? %>
      <li class="nav-item">
        <%= link_to filters_path, title: t('navbar.filters_title'), class: "d-flex flex-column align-items-center text-decoration-none py-3 link-success #{'bg-body-secondary shadow-sm' if params[:controller] == 'filters'}" do %>
          <span class="material-symbols-outlined">
            join_inner
          </span>
          <%= t('filters.filters') %>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to notifications_path, title: t('navbar.notifications_title'), class: "d-flex flex-column align-items-center text-decoration-none py-3 link-warning #{'bg-body-secondary shadow-sm' if params[:controller] == 'notifications'}" do %>
          <span class="material-symbols-outlined">
            notifications_active
          </span>
          <%= t('misc.notifications_navbar') %>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to graphs_path, title: t('navbar.graphs_title'), class: "d-flex flex-column align-items-center text-decoration-none py-3 link-success #{'bg-body-secondary shadow-sm' if params[:controller] == 'graphs'}" do %>
          <span class="material-symbols-outlined">
            analytics
          </span>
          <%= t('graphs.title') %>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to dashboard_path, title: t('navbar.dashboard_title'), class: "d-flex flex-column align-items-center text-decoration-none py-3 link-secondary #{'bg-body-secondary shadow-sm' if params[:action] == 'dashboard'}", 'data-turbo': false do %>
          <span class="material-symbols-outlined">
            dashboard
          </span>
          <%= t('misc.dashboard') %>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to assistant_path, title: t('navbar.assistant_title'), class: "d-flex flex-column align-items-center text-decoration-none py-3 link-info #{'bg-body-secondary shadow-sm' if params[:action] == 'assistant'}", 'data-turbo': 'false' do %>
          <span class="material-symbols-outlined">
            family_star
          </span>
          <%= t('misc.assistant') %>
        <% end %>
      </li>

    <% else %>
      <% @tables.each do |table| %>
        <li class="nav-item">
          <%= link_to table_path(table), title: table.name, class: "d-flex flex-column align-items-center text-decoration-none py-3 link-secondary #{'bg-body-secondary shadow-sm' if params[:controller] == 'tables' && @table == table}", 'data-turbo': 'false' do %>
            <span class="material-symbols-outlined">
              database
            </span>
            <%= truncate(table.name, length: 11) %>
          <% end %>
        </li>
      <% end%>
    <% end %>

    <!--
    <% if user_signed_in? %>
      <li class="nav-item w-100">
        <%= link_to current_user, title: t('navbar.profile_title'), class: "d-flex flex-column align-items-center text-decoration-none py-3 text-black-50 #{'bg-light-subtle shadow-sm' if params[:controller] == 'users'}" do %>
          <span class="material-symbols-outlined">
            badge
          </span>
          <%= t('misc.profile') %>
        <% end %>
      </li>
    <% end %>
    -->
  </div>
</nav>