<% unless ['show_details', 'related_tables'].include?(action_name) && field.Collection? && @relation.field == field %>
  <% if value %>
    <td style="vertical-align: middle; <%= 'text-align: right;' if field.is_numeric %>">
      <% case field.datatype when 'Fichier' %>
        <%= link_to Blob.find(value).file_attachment.filename, url_for(Blob.find(value).file), target: '_blank' %>
      <% when 'Image', 'PDF' %>
        <% blob = Blob.find(value) %>
        <% if blob.file.representable? %>
          <%= link_to image_tag(blob.file.representation(resize_to_limit: [100, 100])), url_for(Blob.find(value).file), title: blob.file.filename %>
        <% end %>
      <% when 'Signature' %>
        <img class="w-100" src=<%= value %>>
      <% when 'Date' %>
        <% unless value.blank? %>
          <% if Value.is_valid_date?(value) %>
            <%= link_to_if is_link, l(value.to_date), details_path(table.slug, record_index: record_index), data: { turbo_frame: "_top" }, class: 'font-bold link-offset-2' %>
          <% else %>
            <%= t('tables.error') %>
          <% end %>
        <% end %>
      <% when 'Texte_long' %>
        <%= truncate(value, length: 80) %>
      <% when 'Texte_riche' %>
        <%= simple_format(value) %>
      <% when 'Euros' %>
        <span style="white-space: nowrap"><%= number_to_currency(value) %></span>
      <% when 'Formule' %>
        <%= field.evaluate(table, record_index) %>
      <% when 'Statut' %>
        <% items = field.items_splitted.map{|e| e.split(':')}.to_h %>
        <% color = Field.bootstrap_class(items[value]) %>
        <span class="badge bg-<%= color %>"><%= value %></span>
      <% when 'URL' %>
        <%= link_to URI.parse(value).host, value, target: "_blank", data: { turbo_frame: "_top" }, class: 'text-black' %>
      <% when 'Couleur' %>
        <span style="background-color: <%= value %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <% when 'GPS' %>
        <%= value %>
      <% when 'Collection' %>
        <% linked_value = field.get_linked_table_record(value.to_i) %>
        <% linked_table = Table.find_by(id: field.relation.try(:relation_with_id)) %>
        <% if linked_table %>
          <%= link_to_if policy(linked_table).show_details?, linked_value, details_path(linked_table.slug, record_index: value), data: { turbo_frame: "_top" }, class: 'font-bold link-offset-2', 'data-testid': "Voir les détails de #{field.items.tr('[]','').split('.').first} à la ligne n°#{value}" %>
        <% else %>
          <%= t('tables.collection_not_found') %>
        <% end %>
      <% when 'Utilisateur' %>
        <%= value %>
      <% when 'Vidéo_YouTube' %>
        <% if value.include?('embed') %>
          <iframe width="200" height="120" src="<%= value %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <% else %>
          <div class="d-flex gap-2">
            <span class="material-symbols-outlined text-black-50" title="<%= t('tables.youtube_error') %>" role="button">
              error
            </span>
            <%= link_to value, value, target: "_blank", data: { turbo_frame: "_top" }, class: 'text-black' %>
          </div>
        <% end %>
      <% when 'QRCode' %>
        <%= raw value %>
      <% when 'Distance' %>
        ~<%= value %> km
      <% when 'Tags' %>
        <% value.split(', ').each do |tag| %>
          <span class='badge bg-secondary'><%= tag.humanize %></span>
        <% end %>
      <% when 'Email' %>
        <%= mail_to value %>
      <% when 'Stars' %>
        <div class="d-flex">
          <% value.to_i.times do %>
            <i class="bi bi-star-fill"></i>
          <% end %>
          <% (5 - value.to_i).times do %>
            <i class="bi bi-star"></i>
          <% end %>
        </div>
      <% when 'Oui_non?' %>
        <%= link_to_if is_link, t("misc.#{value}"), details_path(table.slug, record_index: record_index), data: { turbo_frame: "_top" }, class: 'font-bold link-offset-2' %>
      <% else %>
        <%= link_to_if is_link, value, details_path(table.slug, record_index: record_index), data: { turbo_frame: "_top" }, class: 'font-bold link-offset-2' %>
      <% end %>

      <% if field.operation %>
        <% @sum[field.id] += value.to_f %>
      <% end %>

    </td>
  <% else %>
    <td></td>
  <% end %>
<% end %>
