<div class="overflow-x-auto">
  <table class="table table-striped table-hover sticky">
    <thead>
      <tr style="vertical-align: middle">
        <% table.fields.listable.each_with_index do | field, index | %>
          <%= render partial: 'partials/table_header_cell', locals: {table:, field:, index:} %>
        <% end %>
        <th>màj</th>
        <th></th>
      </tr>
    </thead>

    <% unless records.size.zero? %>
      <% @records_size = 0 %>
      <tbody>
        <% records.each do | record_index | %>
          <%= render partial: 'partials/table_row', locals: {table:, record_index:}  %>
        <% end %>
      </tbody>

      <% if table.fields.listable.where.not(operation: nil).any? %>
        <tfoot>
          <tr>
            <% table.fields.listable.each do |field| %>
              <%= render partial: 'partials/table_footer_cell', locals: {field:} %>
            <% end %>
            <td colspan=2></td>
          </tr>
        </tfoot>
      <% end %>
    <% end %>
  </table>
</div>
<div class="d-flex align-items-center justify-content-end gap-2">
  <p class="flex-fill mb-0">
    Affichage de 
    <%= @records_size || '0' %>
    <%= table.name.pluralize(@records_size) %>
    
    <% if action_name == 'show' %>
      sur <%= table.size %> au total
    <% end %>
  </p>
  <%= link_to url_for(params.merge(format: :xls)), class: 'btn btn-outline-success btn-sm', title: "Exporter la collection d'objets '#{table.name.humanize}' au format XLS" do %>
    <i class="fa fa-file-excel"></i>
    Export XLS
  <% end %>
  <%= link_to url_for(params.merge(format: :csv)), class: 'btn btn-outline-primary btn-sm', title: "Exporter la collection d'objets '#{table.name.humanize}' au format CSV" do %>
    <i class="fa fa-file-csv"></i>
    Export CSV
  <% end %>
  <%= link_to url_for(params.merge(format: :pdf)), class: 'btn btn-outline-danger btn-sm', title: "Exporter la collection d'objets '#{table.name.humanize}' au format PDF" do %>
    <i class="fa fa-file-pdf"></i>
    Export PDF
  <% end %>
</div>