<% unless ['show_details', 'related_tables'].include?(action_name) && field.Collection? && @relation.field == field %>
  <% if value %>
    <td style="<%= 'text-align: right;' if field.is_numeric %>">
      <% case field.datatype when 'Fichier' %>
        <%= link_to Blob.find(value).file_attachment.filename, url_for(Blob.find(value).file), target: '_blank' %>
      <% when 'Image', 'PDF' %>
        <% blob = Blob.find(value) %>
        <% if blob.file.representable? %>
          <%= link_to image_tag(blob.file.representation(resize_to_limit: [100, 100])), url_for(Blob.find(value).file), title: blob.file.filename %>
        <% end %>
      <% when 'Signature' %>
        <img src=<%= value %> style="border: 1px #CCC solid; padding: 10px;">
      <% when 'Date' %>
        <% unless value.blank? %>
          <%= link_to_if is_link, l(value.to_date), details_path(table.slug, record_index: record_index), data: { turbo_frame: "_top" }, class: 'text-black' %>
        <% end %>
      <% when 'Texte_long' %>
        <%= truncate(value, length: 80) %>
      <% when 'Texte_riche' %>
        <%= simple_format(value) %>
      <% when 'Euros' %>
        <span style="white-space: nowrap"><%= number_to_currency(value) %></span>
      <% when 'Formule' %>
        <%= field.evaluate(table, record_index) %>
      <% when 'Workflow' %>
        <% items = field.items_splitted.map{|e| e.split(':')}.to_h %>
        <% color = items[value] %>
        <span class="badge bg-<%= color %>"><%= value %></span>
      <% when 'URL' %>
        <%= link_to URI.parse(value).host, value, target: "_blank", data: { turbo_frame: "_top" }, class: 'text-black' %>
      <% when 'Couleur' %>
        <span style="background-color: <%= value %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <% when 'GPS' %>
        <%= value %>
      <% when 'Collection' %>
        <% linked_value = field.get_linked_table_record(value.to_i) %>
        <% linked_table = Table.find(field.relation.relation_with_id) %>
        <%= link_to_if policy(linked_table).show_details?, linked_value, details_path(linked_table.slug, record_index: value), data: { turbo_frame: "_top" }, class: 'text-black', 'data-testid': "Voir les détails de #{field.items.tr('[]','').split('.').first} à la ligne n°#{value}" %>
      <% when 'Utilisateur' %>
        <%= value %>
      <% when 'Vidéo_YouTube' %>
        <iframe width="200" height="120" src="<%= value %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <% when 'QRCode' %>
        <%= raw value %>
      <% when 'Distance' %>
        ~<%= value %> km
      <% else %>
        <%= link_to_if is_link, value, details_path(table.slug, record_index: record_index), data: { turbo_frame: "_top" }, class: 'text-black' %>
      <% end %>

      <% if field.operation %>
        <% @sum[field.id] += value.to_f %>
      <% end %>

    </td>
  <% else %>
    <td></td>
  <% end %>
<% end %>