<div class="overflow-x-auto">
  <table class="table sticky" style='        border-collapse: separate;
        border-spacing: 0 20px;'>
    <thead>
      <tr style="vertical-align: middle">
        <% table.fields.listable.ordered.each_with_index do | field, index | %>
          <%= render partial: 'partials/table_header_cell', locals: {table:, field:, index:} %>
        <% end %>
        <th>
          <%= link_to url_for(params.permit!.merge(sort_by: 0)), class:'text-decoration-none d-flex gap-2' do %>
            <span class="material-symbols-outlined text-black-50">
              update
            </span>
            <span class="text-nowrap text-black">
              MÀJ
              <% if params[:sort_by] == '0' %>
                <span class="text-decoration-none text-warning "><%= (session[:order_by] == 'ASC') ? '△' : '▽' %></span>
              <% end %>
            </span>
          <% end %>
        </th>
        <th></th>
      </tr>
    </thead>

    <% unless records.size.zero? %>
      <% @records_size = 0 %>
      <tbody>
        <% records.each do | record_index | %>
          <%= render partial: 'partials/table_row', locals: {table:, record_index:}  %>
        <% end %>
      </tbody>

      <% if table.fields.listable.where.not(operation: nil).any? %>
        <tfoot>
          <tr>
            <% table.fields.listable.ordered.each do |field| %>
              <%= render partial: 'partials/table_footer_cell', locals: {field:} %>
            <% end %>
            <td colspan=2></td>
          </tr>
        </tfoot>
      <% end %>
    <% end %>
  </table>
</div>
<% if %w[show_details related_tables].include?(action_name) %>
  <% if policy(table).fill? %>
    <%= link_to "(+) #{table.name.humanize}", fill_path(table, relation: @relation, value: @record_index), class: 'btn btn-outline-primary mb-4', data: { turbo_frame: "_top" }  %>
  <% end %>
<% end %>
<div class="d-flex flex-wrap align-items-center justify-content-end gap-2">
  <p class="flex-fill mb-0">
    Affichage de 
    <%= @records_size || '0' %>
    <%= table.name.pluralize(@records_size) %>
    
    <% if action_name == 'show' %>
      sur <%= @records.size %> au total
    <% end %>
  </p>
  <% if action_name != 'show_details' %>
    <div class="d-block">
      <%= link_to url_for(params.merge(format: :xls)), class: 'btn btn-outline-success btn-sm', title: "Exporter la collection d'objets '#{table.name.humanize}' au format XLS" do %>
        XLS
      <% end %>
      <%= link_to url_for(params.merge(format: :csv)), class: 'btn btn-outline-primary btn-sm', title: "Exporter la collection d'objets '#{table.name.humanize}' au format CSV" do %>
        CSV
      <% end %>
      <%= link_to url_for(params.merge(format: :pdf)), class: 'btn btn-outline-danger btn-sm', title: "Exporter la collection d'objets '#{table.name.humanize}' au format PDF" do %>
        PDF
      <% end %>
    </div>
  <% end %>
</div>