<%= image_tag "undraw_Real_time_sync_re_nky7.png", class:'w-100 w-sm-75 mx-auto' %>
<h1 class="text-primary">CrystalDATA</h1>
<h2 class="fw-normal fs-4"><%= t('misc.homepage_subtitle') %></h2>
<h3 class="fw-light fs-5">
    <%= t('misc.homepage_description') %>
</h3>
<div class="d-flex flex-row flex-wrap gap-4 mt-2">
    <%= link_to t('misc.learn_more'), a_propos_path, class: "btn btn-outline-primary flex-fill" %>
    <%= link_to t('misc.demo'), user_connect_guest_user_path(1), class: 'btn btn-outline-success flex-fill' %>
</div>
