<%= form_for(@notification) do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :field_id, "Attribut à surveiller" %><br>
    <%= f.select :field_id, options_from_collection_for_select(@fields, 'id', 'field_with_table', @notification.field_id), {include_blank: true, required: true}, class: 'form-select w-100' %>
  </div>

  <div class="my-4">
    <%= f.label :value, "Valeur qui déclenchera la notification" %><br>
    <%= f.text_field :value, class: "form-control w-100", required: true, placeholder: "ex: Terminé" %>
  </div>

  <div>
    <%= f.label :send_to, "Envoyer notification à (emails séparés par des virgules)" %><br>
    <%= f.text_field :send_to, value: @notification.send_to || current_user.email, class: "form-control w-100", required: true %>
  </div>

  <%= f.submit class: "btn btn-outline-primary mt-4" %>
<% end %>
