<tr id="<%= dom_id notification %>">
  <td><%= notification.table.name %></td>
  <td><%= notification.field.name %></td>
  <td><%= notification.value %></td>
  <td><%= notification.send_to %></td>
</tr>
