<div class="my-4 d-flex align-items-center text-warning gap-2">
  <h1 class="mb-0">
    <%= t('notifications.index') %>
  </h1>
</div>

<div class="overflow-x-auto">
  <table class="table table-hover border align-middle">
    <thead>
      <tr class="table-secondary">
        <th><%= t('notifications.object') %></th>
        <th><%= t('misc.attribute') %></th>
        <th><%= t('notifications.trigger_value') %></th>
        <th><%= t('notifications.send_to') %></th>
        <th><%= t('notifications.last_sent') %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% if @notifications.any? %>
        <% @notifications.each do |notification| %>
          <%= render notification %>
        <% end %>
      <% else %>
        <tr>
          <td colspan=7>
            <i>
              <%= t('notifications.no_notification') %>
            </i>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>

<%= link_to t('notifications.new'), new_notification_path, class: 'btn btn-outline-primary' %>
<%= link_to t('notifications.mail_log'), mail_logs_path, class: 'btn btn-outline-secondary' %>