<div class="d-flex flex-end align-items-center justify-content-between flex-wrap my-4 ">
  <h1 class="text-secondary mb-0">
    Profil
  </h1>
  <%= button_to destroy_user_session_path, method: :delete, class:'btn btn-outline-danger', 'data-turbo': false, title: 'Se déconnecter' do %>
    Se déconnecter
  <% end %>
</div>

<div class="mb-5">
  <h2>Informations personnelles</h2>  
  <p>Nom : <%= @user.name %></p>
  <p>Email : <%= @user.email %></p>
  <i>Utilisateur depuis <%= time_ago_in_words(@user.created_at) %></i><br>
</div>

<div class="w-sm-50 mb-5">
  <h3>Les objets partagés avec vous</h3>
  <% if @tables_users.any? %>
    <table class="table table striped table-sm table-hover">
      <thead>
        <th>Objet</th>
        <th>Rôle</th>
      </thead>
      <tbody>
        <% @tables_users.each do |table_user| %>
          <tr>
            <td><%= table_user.table.name %></td>
            <td><%= table_user.role %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Aucun objet partagé avec vous pour l'instant...</p>
  <% end%>
</div>

<div>
  <h3>Activité du compte</h3>

  <div class="mb-4">
    <p>Nombre d'objets créés : <span class="badge bg-info"><%= @total_tables %></span></p>
    <p>Nombre total d'objets dans vos collections : <span class="badge bg-primary"><%= @total_lignes %></span></p>
  </div>
</div>