<h1 class="text-primary mb-4">
  <%= @user.name %>
</h1>

<div class="mb-4">
  <h2>Informations personnelles</h2>  
  <i>Utilisateur depuis <%= time_ago_in_words(@user.created_at) %></i><br>
  <i>Ce compte a été modifié il y a <%= time_ago_in_words(@user.updated_at) %></i>
</div>

<%= form_for(@user, html: {class: 'form-horizontal'}) do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.messages.not_saved', count: @user.errors.count) %></h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <div class="col-sm-3">
      <%= f.label 'Nom' %>
      <%= f.text_field :name, required:true, class: 'form-control' %>
    </div>
  </div>
  
  <div class="mb-4">
    <div class="col-sm-3">
      <%= f.label 'Adresse mail' %>
      <%= f.text_field :email, required:true, class: 'form-control' %>
    </div>
  </div> 

  <% unless current_user.id == 1 %>
    <div class="col-sm-2">
      <%= f.label :password, 'Mot de passe' %>
      <%= f.password_field :password, required:true, class: 'form-control mb-4', placeholder:'Mot de passe' %>
      <%= f.label :password_confirmation, 'Confirmation' %>
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder:'Confirmation' %>
    </div>
  <% end %>

  <div>
    <div class="col-sm-10">
      <%= f.submit "Modifier", class: 'btn btn-outline-primary' %>
    </div>
  </div>

<% end %>

<div class="my-5">
  <h2>Activité du compte</h2>

  <div class="mb-4">
    <p>Nombre d'objets créés : <span class="badge text-bg-primary"><%= @total_tables %></span></p>
    <p>Nombre total d'objets dans vos collections : <span class="badge text-bg-primary"><%= @total_lignes %></span></p>
  </div>
</div>

<div class="my-5 w-50">
  <h2>Vos objets partagés</h2>
  <table class="table table striped table-sm table-hover">
    <thead>
      <th>Objet</th>
      <th>Rôle</th>
    </thead>
    <tbody>
      <% @tables_users.each do |table_user| %>
        <tr>
          <td><%= table_user.table.name %></td>
          <td><%= table_user.role %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

