<div class="mb-5">
	<div class="d-flex justify-content-between align-items-center">
		<div>
			<h1 class="text-primary mb-2">CrystalDATA</h1>
			<h2 class="fw-normal fs-4 mt-0">
				Vos données métier 'In da Cloud' 
				<span class="fw-lighter text-secondary fs-6">Go, go, go... It's your birthday!</span>
			</h2>
		</div>
		<%= image_tag 'icons/crystaldata.png', class:'mt-3', style: "height: 8rem" %>
	</div>

	<h3 class="fw-bold text-dark my-4">Pour qui et pour quel usage ?</h3>

	<h4 class="mb-2">Field Service Management (FSM)</h4>

	<p class="fs-5 fw-light w-sm-75">
		Vous êtes une entreprise de service avec des équipes sur le terrain et
		vous cherchez une méthode de gestion de vos interventions (ex: BTP, SAV, Installation, Maintenance) ?
		<br><br>
		CrystalData est un gestionnaire d'informations NO-CODE qui vous permet de créer  
		des collections d'objets métiers (ex: Clients, Interventions, Technicien, Frais, Projets, etc.), 
		de les lier (Clients <=> Interventions <=> Techniciens <=> Frais) 
		et de les partager en ligne avec vos collaborateurs, en toute sécurité.
	</p>

	<h4 class="mb-2">Project Management</h4>
	<p class="fs-5 fw-light w-sm-75">
		Vous êtes responsable d'une équipe et du bon déroulement d'un programme de projets ?
		<br><br>
		CrystalData vous permet de créé rapidement, et sans faire une ligne de code, un outil de suivi de l'état de chaque projet,
		d'être notifié quand un changement d'état important est enregistré, et de voir vos dates d'échéances 
		dans une vue 'Calendrier' ou dans votre agenda personnel (Google Calendar/Outlook/etc.).     
	</p>

	<h4 class="mb-2">DATA Management</h4>
	<p class="fs-5 fw-light w-sm-75">
		Vous êtes à la recherche d'un outil simple pour gérer vos dossiers, documents, rapport, et vos informations collectées sur le terrain ?
		<br><br>
		CrystalData a été conçu pour être utilisable sur un smartphone afin de collecter les données au plus près de leur origine et quelle que soit leur nature (Texte, Chiffre, Photo, PDF, etc.). 
		Des données de contexte, comme l'état de la météo, la position GPS, peuvent être acquises automatiquement.
		Un outil de génération de Graphiques vous permet de visualiser les informations sous la forme d'une courbe ou d'un histogramme.
	</p>

	<h3 class="fw-bold text-dark my-4">Principales fonctionnalités</h3>

	<ul class="list-group list-group-flush mb-5 w-sm-75">
		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Créez des Objets constitués d'attributs variés, comme : Texte, Nombre, Euros, Date, Oui/Non, Liste de choix, Fichier, Image, PDF, Position GPS, Lien vers un Objet dans une autre Collection, QR Code, Météo...
		</li>
		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Ajoutez, éditez vos objets dans un formulaire
		</li>
		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Recherchez, filtrez et triez vos objets
		</li> 
		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Partagez vos collections d'objets avec d'autres utilisateurs
		</li>		

		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Exportez vos collections en CSV, XSL et PDF
		</li> 

		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Soyez notifié après chaque ajout d'objet dans une de vos collections, ou quand un attribut change d'état
		</li>

		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Activité: chaque modification d'un objet est consignée dans un historique (quand, qui, quoi, valeur avant, valeur après)
		</li>		

		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Accédez à toutes vos collections en mobilité (Les écrans s'adaptent automatiquement aux smartphones/tablettes)
		</li> 

		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
    		Assistant (IA). 
			Posez une question à l'Assistant, basée sur les données de vos collections d'objets
		</li> 

	</ul>

	<h3 class="fw-bold text-dark my-4">L'objet CrystalDATA et ses Attributs</h3>

	<p class="fs-5 fw-light w-sm-75">
		Un objet est constitué d'attributs (ex: Nom, Marque, Couleur, Age, Prix, Qté en stock, etc.) et 
		chaque attribut a un type spécifique afin de s'adapter au mieux aux données qu'il contiendra (Texte, Nombre, Date, Liste, Oui/Non, Fichier, etc.)
		<br><br>
		Les types d'attributs disponibles sont : 

		<div class="mt-4">
			<%= link_to a_propos_path(anchor: 'texte'), class: 'btn btn-outline-primary btn-lg', title: 'Texte' do %>
				<span class="material-symbols-outlined text-dark align-middle">abc</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'texte'), class: 'btn btn-outline-primary btn-lg', title: 'Texte long' do %>
				<span class="material-symbols-outlined text-dark align-middle">notes</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'texte'), class: 'btn btn-outline-primary btn-lg', title: 'Texte riche' do %>
				<span class="material-symbols-outlined text-dark align-middle">text_snippet</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'chiffres'), class: 'btn btn-outline-primary btn-lg', title: 'Nombre' do %>
				<span class="material-symbols-outlined text-dark align-middle">tag</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'chiffres'), class: 'btn btn-outline-primary btn-lg', title: 'Euros' do %>
				<span class="material-symbols-outlined text-dark align-middle">euro</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'chiffres'), class: 'btn btn-outline-primary btn-lg', title: 'Formule' do %>
				<span class="material-symbols-outlined text-dark align-middle">calculate</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'date'), class: 'btn btn-outline-primary btn-lg', title: 'Date' do %>
				<span class="material-symbols-outlined text-dark align-middle">calendar_today</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'oui_non'), class: 'btn btn-outline-primary btn-lg', title: 'Oui/Non?' do %>
				<span class="material-symbols-outlined text-dark align-middle">help</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'liste'), class: 'btn btn-outline-primary btn-lg', title: 'Liste de choix' do %>
				<span class="material-symbols-outlined text-dark align-middle">format_list_numbered</span>
			<% end %>

		</div>
		<div class="mt-4">
			<%= link_to a_propos_path(anchor: 'liste_objet'), class: 'btn btn-outline-primary btn-lg', title: "Liste d'objets (Collection)" do %>
				<span class="material-symbols-outlined text-dark align-middle">database</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'fichier'), class: 'btn btn-outline-primary btn-lg', title: 'Fichier' do %>
				<span class="material-symbols-outlined text-dark align-middle">description</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'fichier'), class: 'btn btn-outline-primary btn-lg', title: 'Image' do %>
				<span class="material-symbols-outlined text-dark align-middle">image</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'fichier'), class: 'btn btn-outline-primary btn-lg', title: 'Document PDF' do %>
				<span class="material-symbols-outlined text-dark align-middle">picture_as_pdf</span>
			<% end %>		
			<%= link_to a_propos_path(anchor: 'utilisateur'), class: 'btn btn-outline-primary btn-lg', title: 'Utilisateur' do %>
				<span class="material-symbols-outlined text-dark align-middle">person</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'url'), class: 'btn btn-outline-primary btn-lg', title: 'Lien URL' do %>
				<span class="material-symbols-outlined text-dark align-middle">link</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'email'), class: 'btn btn-outline-primary btn-lg', title: 'Adresse email' do %>
				<span class="material-symbols-outlined text-dark align-middle">mail</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'video'), class: 'btn btn-outline-primary btn-lg', title: 'Vidéo YouTube' do %>
				<span class="material-symbols-outlined text-dark align-middle">play_circle</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'couleur'), class: 'btn btn-outline-primary btn-lg', title: 'Couleur' do %>
				<span class="material-symbols-outlined text-dark align-middle">palette</span>
			<% end %>
		</div>
		
		<div class="mt-4">
			<%= link_to a_propos_path(anchor: 'localisation'), class: 'btn btn-outline-primary btn-lg', title: 'Localisation GPS' do %>
				<span class="material-symbols-outlined text-dark align-middle">my_location</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'qrcode'), class: 'btn btn-outline-primary btn-lg', title: 'QR Code' do %>
				<span class="material-symbols-outlined text-dark align-middle">qr_code_2</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'qrscan'), class: 'btn btn-outline-primary btn-lg', title: 'Scanner à QR Code' do %>
				<span class="material-symbols-outlined text-dark align-middle">barcode_reader</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'signature'), class: 'btn btn-outline-primary btn-lg', title: 'Signature manuscrite' do %>
				<span class="material-symbols-outlined text-dark align-middle">signature</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'uuid'), class: 'btn btn-outline-primary btn-lg', title: 'UDID' do %>
				<span class="material-symbols-outlined text-dark align-middle">key</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'tags'), class: 'btn btn-outline-primary btn-lg', title: 'Tags' do %>
				<span class="material-symbols-outlined text-dark align-middle">sell</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'stars'), class: 'btn btn-outline-primary btn-lg', title: 'Etoiles' do %>
				<span class="material-symbols-outlined text-dark align-middle">star</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'meteo'), class: 'btn btn-outline-primary btn-lg', title: 'Etoiles' do %>
				<span class="material-symbols-outlined text-dark align-middle">partly_cloudy_day</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'workflow'), class: 'btn btn-outline-primary btn-lg', title: 'Workflow' do %>
				<span class="material-symbols-outlined text-dark align-middle">steppers</span>
			<% end %>
		</div>
		
		<ul class="list-group list-group-flush my-4 m-3 gap-2 w-sm-75">
			<li>
				<b id="texte">Texte</b> :
				<ul>
					<li>Texte simple : peut contenir une chaine de 255 caractères maximum. L'option 'Filtre ?' permet de créer une liste déroulante contenant les valeurs distinctes. </li>
					<li>Texte long : permet de rédiger de longs textes</li>
					<li>Texte riche : permet de rédiger et formater un texte long (gras, souligné, titre, couleur, taille, liens, listes, etc.), à l'aide d'un petit éditeur de texte intégré (TRIX Editor)</li>
				</ul>
			</i>
			<li>
				<b id="chiffres">Chiffres</b> :
				<ul>
					<li>Nombre : pour saisir des valeurs numériques, avec ou sans décimales. L'option 'Opération en bas de page', calculera la moyenne ou la somme des valeurs de l'attribut.</li>
					<li>Euros : idem 'Nombre' mais affiche la valeur avec le symbole euros (€).</li>
					<li>Formule : champ calculé à partir de champs existants ou d'une formule en langage Ruby. (Ex: <i>[Temps Passé] * [Coût horaire]</i> OU <i>[Prix HT] * 1.2</i>)
				</ul>
			</li>
			<li><b id="date">Date</b> : une date choisie dans un calendrier.</li>
			<li><b id="oui_non">Oui/Non</b> : permet de choisir entre Oui ou Non ou aucun des deux.</li>
			<li><b id="liste">Liste</b> : pour contenir une liste de valeurs, comme 'Bleu,Blanc,Rouge' ou 'À faire,Fait,Annulé'. Les valeurs doivent être séparées par une virgule.
			</li>
			<li><b id="liste_objet">Liste d'objets (Collection)</b> : pour choisir un objet parmi les objets d'une autre de vos collections.(Ex: <i>[Technicien."Nom,Prénom,Expérience"]</i>)</li>
			<li>
				<b id="fichier">Fichier</b> :
				<ul>
					<li>Fichier : permet de lier et de stocker un fichier dans un objet (document, image, etc...).</li>
					<li>Image : idem 'Fichier' mais affiche un aperçu de l'image ou l'image d'origine selon le contexte.</li>
					<li>PDF : idem 'Fichier' mais affiche un aperçu de la première page du document PDF.</li>
				</ul>
			</li>
			<li><b id="utilisateur">Utilisateur</b> : permet de choisir un utilisateur parmi ceux qui ont accès à la table</li>
			<li><b id="url">URL</b> : permet d'ajouter un lien vers une ressource internet via une URL (interne ou externe).</li>
			<li><b id="email">Email</b> : pour ajouter un lien vers une adresse email.</li>
			<li>
				<b id="video">Vidéo YouTube</b> : permet d'ajouter un lien vers une vidéo YouTube et d'afficher l'aperçu de la vidéo dans une miniature.  
			</li>
			<li><b id="couleur">Couleur</b> : une couleur choisie dans une palette.</li>
			<li><b id="localisation">Localisation (GPS)</b> :
				<ul>
					<li>Capture la localisation de l'utilisateur, s'il le demande, en appuyant sur le bouton <span class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-location-crosshairs"></i></li></span>
					<li>Affiche la location sur une carte, basée sur les coordonnées indiquées au format "LNG, LAT". (Ex: <i>48.85879287621989, 2.294761243572842</i> pour pointer sur la tour Eiffel).</li>
					<li>Distance : Permet de calculer la distance (à vol d'oiseau) entre deux positions GPS. (Ex: <i>[Chantier(GPS)] - [Maison(GPS)]</i> OU <i>[Chantier(GPS)] - 48.85879287621989, 2.294761243572842</i>)</li>
				</ul>
			</li>
			<li>
				<b id="qrcode">QR Code</b> : pour générer un QR Code à partir du contenu d'un autre attribut de l'objet. (Ex: <i>[N°deSérie],[Reference],[URL site web]</i>)
			</li>
			<li>
				<b id="qrscan">QR Scan</b> : permet de scanner un QR Code avec la caméra de votre smartphone, tablette ou ordinateur.
			</li>
			<li>
				<b id="signature">Signature</b> : permet de signer manuellement avec la souris ou sur un écran tactile.
			</li>
			<li>
				<b id="uuid">UUID</b> : génère automatiquement un identifiant unique. (UDID = Universally Unique IDentifier)
			</li>
			<li>
				<b id="tags">Tags</b> : permet de saisir des mots-clés séparés par des virgules. (Ex: <i>Paris, France, Europe</i>)
			</li>
			<li>
				<b id="stars">Stars</b> : permet de noter un objet avec des étoiles. (Ex: <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i><i class="bi bi-star"></i>)
			</li>
			<li>
				<b id="meteo">Météo</b> : permet d'afficher la météo actuelle de votre localisation. (Ex: <i>22°C, Pluie légère, 73% d'humidité</i>)
			</li>
			<li><b id="workflow">Workflow</b> : pour ajouter un état à un objet, associé à une couleur. (Ex: <i class="text-break">Nouveau:primary,Confirmé:success,Annulé:danger,Archivé:secondary</i>)
				<ul>
					<li>
						Couleurs disponibles :
						<span class="badge bg-primary">Primary</span>
						<span class="badge bg-secondary">Secondary</span>
						<span class="badge bg-success">Success</span>
						<span class="badge bg-danger">Danger</span>
						<span class="badge bg-warning text-dark">Warning</span>
						<span class="badge bg-info text-dark">Info</span>
						<span class="badge bg-light text-dark">Light</span>
						<span class="badge bg-dark">Dark</span>
					</li>
				</ul>
			</li>
		</ul>
	</p>

	<h3 class="fw-bold text-dark my-4">Relations entre objets</h3>
	<p class="fs-5 fw-light w-sm-75">
		Les relations entre objets sont créées avec l'attribut 'Collection'. 
		Exemple : un objet Intervention aura un attribut 'Technicien' qui permettra de choisir un technicien dans la collection du même nom.
		Ces relations sont aussi visibles dans la vue détails d'un objet. 
		Ainsi, quand un objet Technicien est lié à des Interventions, 
		la vue de détails de chaque Technicien affiche automatiquement ses Interventions et permet d'en saisir une nouvelle pour ce Technicien.  
	</p>

	<h3 class="fw-bold text-dark my-4">Filtres/Reports</h3>
	<p class="fs-5 fw-light w-sm-75">
		Les Filtres/Reports permettent de mémoriser des critères de sélection afin d'obtenir une collection filtrée d'objets, répondant à ses critères.
		<br><br>
		Ces filtres/reports acceptent des critères différents selon le type d'attribut :
		<ul class="list-group mb-5 m-3 gap-2">
			<li>
				un attribut de type Texte est filtré avec %TXT% (Filtre tout ce qui contient les 3 lettres TXT) 
			</li>
			<li>		
				un attribut numérique est filtré avec un signe et une valeur (Qté en stock: > 5) 
			</li>
		</ul>
	</p>

	<h3 class="fw-bold text-dark my-4">Notifications</h3>
	<p class="fs-5 fw-light w-sm-75">
		Les Notifications permettent d'être alerté par email après chaque ajout et modification d'objet dans une collection. 
		Elles sont paramétrables pour chaque collection et chaque attribut. 
		<br><br>
		Exemple : être alerté quand un objet dans la collection 'Interventions' a un attribut 'Statut' égal à 'Terminé'.
	</p>

	<h3 class="fw-bold text-dark my-4">Utilisateurs, partages et rôles</h3>
	<p class="fs-5 fw-light w-sm-75">
		Vous pouvez partager vos collections avec d'autres utilisateurs en leur donnant un rôle (Lecteur, Collecteur, Éditeur).
		<ul class="list-group mb-5 m-3 gap-2">
			<li>
				<b>Lecteur</b> peut uniquement voir les objets de la collection partagée.
			</li>
			<li>
				<b>Collecteur</b> peut ajouter des objets dans la collection partagée, et ne verra que ses objets. 
			</li>
			<li>
				<b>Éditeur</b> peut voir et modifier tous les objets.
			</li>
		</ul>
	</p>


	<h3 class="fw-bold text-dark my-4">Assistant (IA)</h3>
	<p class="fs-5 fw-light w-sm-75">
		Posez une question à l'Assistant, basée sur les données de vos collections d'objets
		<br>
		Exemples de question, en langage naturel, que l'on peut poser à l'Assistant : 
		<ul class="list-group m-3 mt-2 gap-2">
			<li>Quel est le nom du client qui revient le plus souvent dans cette liste : [Client] ?
			<li>Génère-moi les 3 prochaines interventions à prévoir, en te basant sur cette liste : [Date, Client, Type] ?</li>
			<li>Tu es statisticien. Calcule moi la moyenne des durées de cette liste : [Durée] ? (Celle-ci est à faire uniquement si vous doutez du sérieux de cet Assistant ;-)</li>
		</ul>
	</p>


</div>

<h3 class="fw-bold text-dark my-4">Historique et motivation</h3>

<p class="fs-5 fw-light w-sm-75">
	Développeur d'applications métiers en entreprise depuis plus de 30 ans, j'ai souvent aidé mes clients à passer 
	d'un système d'information en silos, où les données métier de l'entreprise sont enfermées 
	dans des feuilles Excel, à un système de type plateforme où les données sont centralisées et 
	partagées entre les services depuis une source unique de confiance (<b>Single Source Of Truth</b>). 
</p>

<p class="fs-5 fw-light w-sm-75">	
	Fort d'une expérience de plus de 30 ans sur les base de données et outils de développement les plus intéressants de leurs époques 
	(SuperBase 64, Yes You Can, SuperDB, FoxPro, dBase 3/4, Paradox 3/4, Access, Delphi, VB4/5/6/SQL Server,
	C#/SQLite/MySQL, stack LAMP, Ruby on Rails, et j'en passe...), ma vocation a toujours été d'aider mes clients à franchir 
	le pas vers le décloisonnement de leurs données avec pour objectif une informatique de gestion plus efficace, 
	collaborative et centrée sur les objectifs. 
	<br><br>
	Même si les domaines d'activités des clients ne se ressemblaient pas 
	(Loueur auto, Social, Télécom, Pharma, Industrie, TPE/PME), des motifs se répétaient et chaque nouveau projet 
	se déroulait d'une façon à peu près identique :
</p>

<div class="row my-5 w-sm-75">
	<div class="col">
		<ul class="list-group">
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Importer les données d'Excel
			</li>
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Accéder aux données de n'importe où
			</li>
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Rechercher, trier, filtrer et exporter les données
			</li>
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Partager les données en toute sécurité
			</li>
		</ul>
	</div>
	<div class="col">
		<ul class="list-group">
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Lier les données entre elles
			</li>
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Ajouter des règles métiers
			</li>
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Créer des vues personnalisées
			</li>
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Gérer des utilisateurs et des rôles
			</li>
		</ul>
	</div>
</div>

<p class="fs-5 fw-light w-sm-75">
	C'est pourquoi j'ai commencé le développement de cet outil NO-CODE et open-source, il y a 10 ans,  
	dans le but de couvrir les fonctions de base d'une plateforme d'information ouverte.
	<br><br>
	CrystalDATA a donc pour ambition d'offrir un petit concentré de mon expérience des bases de données, 
	et, pourquoi pas, de poser les fondations d'une future application/plateforme sur mesure, la vôtre, 
	intégrant toutes vos spécificités, règles métier, Workflow, Services, etc.
</p>

<h3 class="fw-bold text-dark my-4">Développement, support et services</h3>

<p class="mt-3">
	<i>CrystalDATA a été développé en Ruby on Rails par Philippe et Pierre-Emmanuel</i>
</p>

<div class="row mt-3">
	<div class="col-sm-2">
		<%= image_tag "philippe.webp",
		class: "img-thumbnail rounded"
		%>
	<h5 class="font-bold">
		Philippe N.
	</h5>
	<h6 class="italic text-xl">
		Product Manager/Dev senior
	</h6>
	</div>
	<div class="col-sm-2">
	<%= image_tag "pierre-emmanuel.webp",
		class: "img-thumbnail rounded"
	%>
	<h5 class="font-bold">
		Pierre-Emmanuel D.
	</h5>
	<h6 class="italic">
		Développeur junior
	</h6>
</div>

<p class="fs-5 fw-light text-secondary mt-4">
	Besoin d'une fonctionnalité ou d'une nouvelle application sur mesure ? Nous vous la développons !
	<br><br>
	Vous êtes à la recherche d'une application pour la gestion de projets, d'interventions, de planning, d'émargement ou de facturation ?
	<br>
	Consultez notre <%= link_to "catalogue de logiciels Open-Source", 'https://www.philnoug.com/logiciels', target: '_blank', class: 'link' %>
	<br><br>
	Nous pouvons aussi convertir vos anciennes applications PC/Windows (ex: VB/VBA/MS ACCESS/EXCEL/C#...) en une plateforme WEB.
	<br><br>
	Pour en savoir plus,
	<%= link_to "contactez-nous", 'https://www.philnoug.com/contact', target: '_blank', class: 'link' %>
</p>
