<div class="mb-5">
	<div class="d-flex justify-content-between align-items-center">
		<div>
			<h1 class="text-primary mb-2">CrystalDATA</h1>
			<h2 class="fw-normal fs-4 mt-0">
				Your business data 'In da Cloud'
				<span class="fw-lighter text-secondary fs-6">Go, go, go... It's your birthday!</span>
			</h2>
		</div>
		<%= image_tag 'icons/crystaldata.png', class:'mt-3', style: "height: 8rem" %>
	</div>

	<h3 class="fw-bold text-dark my-4">For whom and for what use?</h3>

	<h4 class="mb-2">Field Service Management (FSM)</h4>

	<p class="fs-5 fw-light w-sm-75">
		You are a service company with teams in the field and
		Are you looking for a method of managing your interventions (e.g. construction, after -sales service, installation, maintenance)?
		<br><br>
		Crystaldata is a NO-Code information manager that allows you to create
		Collections of business objects (eg customers, interventions, technician, costs, projects, etc.),
		To link them (customers <=> interventions <=> Technicians <=> Frais)
		And to share them online with your employees, in complete safety.
	</p>

	<h4 class="mb-2">Project Management</h4>
	<p class="fs-5 fw-light w-sm-75">
		Are you responsible for a team and the smooth running of a project program?
		<br><br>
		Crystaldata allows you to quickly create, and without making a line of code, a tool for monitoring the state of each project,
		to be notified when a significant change of state is recorded, and to see your dates of deadlines
		in a 'calendar' view or in your personal agenda (Google Calendar/Outlook/etc.).
	</p>

	<h4 class="mb-2">DATA Management</h4>
	<p class="fs-5 fw-light w-sm-75">
		Are you looking for a simple tool to manage your files, documents, report, and your information collected in the field?
		<br><br>
		Crystaldata has been designed to be usable on a smartphone in order to collect data as close as possible to their origin and whatever their nature (text, number, photo, PDF, etc.).
		Context data, such as the weather statement, the GPS position, can be acquired automatically.
		A graphic generation tool allows you to view information in the form of a curve or histogram.
	</p>

	<h3 class="fw-bold text-dark my-4">Main features</h3>

	<ul class="list-group list-group-flush mb-5 w-sm-75">
		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Create objects made up of various attributes, such as: text, number, euros, date, yes/no, choice list, file, image, PDF, GPS position, link to an object in another collection, QR code, weather...
		</li>
		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Add, edit your objects in a form
		</li>
		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Search, filter and sort your items
		</li> 
		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Share your objects of objects with other users
		</li>		

		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Export your collections in CSV, XSL and PDF
		</li> 

		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Be notified after each adding an object in one of your collections, or when an attribute changes state
		</li>

		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Activity: Each modification of an object is recorded in a history (when, which, what, value before, value after)
		</li>		

		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Access all your mobility collections (screens automatically adapt to smartphones/tablets)
		</li> 

		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Assistant (IA).
			Ask the assistant, based on data from your object collections
		</li> 

	</ul>

	<h3 class="fw-bold text-dark my-4">The Crystaldata object and its attributes</h3>

	<p class="fs-5 fw-light w-sm-75">
		An object consists of attributes (ex: name, brand, color, age, price, Qty in stock, etc.) and
		Each attribute has a specific type in order to best adapt to the data it will contain (text, number, date, list, yes/no, file, etc.)
		<br><br>
		The types of attributes available are:

		<div class="mt-4">
			<%= link_to a_propos_path(anchor: 'texte'), class: 'btn btn-outline-primary btn-lg', title: 'Texte' do %>
				<span class="material-symbols-outlined text-dark align-middle">abc</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'texte'), class: 'btn btn-outline-primary btn-lg', title: 'Texte long' do %>
				<span class="material-symbols-outlined text-dark align-middle">notes</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'texte'), class: 'btn btn-outline-primary btn-lg', title: 'Texte riche' do %>
				<span class="material-symbols-outlined text-dark align-middle">text_snippet</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'chiffres'), class: 'btn btn-outline-primary btn-lg', title: 'Nombre' do %>
				<span class="material-symbols-outlined text-dark align-middle">tag</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'chiffres'), class: 'btn btn-outline-primary btn-lg', title: 'Euros' do %>
				<span class="material-symbols-outlined text-dark align-middle">euro</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'chiffres'), class: 'btn btn-outline-primary btn-lg', title: 'Formule' do %>
				<span class="material-symbols-outlined text-dark align-middle">calculate</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'date'), class: 'btn btn-outline-primary btn-lg', title: 'Date' do %>
				<span class="material-symbols-outlined text-dark align-middle">calendar_today</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'oui_non'), class: 'btn btn-outline-primary btn-lg', title: 'Oui/Non?' do %>
				<span class="material-symbols-outlined text-dark align-middle">help</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'liste'), class: 'btn btn-outline-primary btn-lg', title: 'Liste de choix' do %>
				<span class="material-symbols-outlined text-dark align-middle">format_list_numbered</span>
			<% end %>

		</div>
		<div class="mt-4">
			<%= link_to a_propos_path(anchor: 'liste_objet'), class: 'btn btn-outline-primary btn-lg', title: "Liste d'objets (Collection)" do %>
				<span class="material-symbols-outlined text-dark align-middle">database</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'fichier'), class: 'btn btn-outline-primary btn-lg', title: 'Fichier' do %>
				<span class="material-symbols-outlined text-dark align-middle">description</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'fichier'), class: 'btn btn-outline-primary btn-lg', title: 'Image' do %>
				<span class="material-symbols-outlined text-dark align-middle">image</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'fichier'), class: 'btn btn-outline-primary btn-lg', title: 'Document PDF' do %>
				<span class="material-symbols-outlined text-dark align-middle">picture_as_pdf</span>
			<% end %>		
			<%= link_to a_propos_path(anchor: 'utilisateur'), class: 'btn btn-outline-primary btn-lg', title: 'Utilisateur' do %>
				<span class="material-symbols-outlined text-dark align-middle">person</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'url'), class: 'btn btn-outline-primary btn-lg', title: 'Lien URL' do %>
				<span class="material-symbols-outlined text-dark align-middle">link</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'email'), class: 'btn btn-outline-primary btn-lg', title: 'Adresse email' do %>
				<span class="material-symbols-outlined text-dark align-middle">mail</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'video'), class: 'btn btn-outline-primary btn-lg', title: 'Vidéo YouTube' do %>
				<span class="material-symbols-outlined text-dark align-middle">play_circle</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'couleur'), class: 'btn btn-outline-primary btn-lg', title: 'Couleur' do %>
				<span class="material-symbols-outlined text-dark align-middle">palette</span>
			<% end %>
		</div>
		
		<div class="mt-4">
			<%= link_to a_propos_path(anchor: 'localisation'), class: 'btn btn-outline-primary btn-lg', title: 'Localisation GPS' do %>
				<span class="material-symbols-outlined text-dark align-middle">my_location</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'qrcode'), class: 'btn btn-outline-primary btn-lg', title: 'QR Code' do %>
				<span class="material-symbols-outlined text-dark align-middle">qr_code_2</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'qrscan'), class: 'btn btn-outline-primary btn-lg', title: 'Scanner à QR Code' do %>
				<span class="material-symbols-outlined text-dark align-middle">barcode_reader</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'signature'), class: 'btn btn-outline-primary btn-lg', title: 'Signature manuscrite' do %>
				<span class="material-symbols-outlined text-dark align-middle">signature</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'uuid'), class: 'btn btn-outline-primary btn-lg', title: 'UDID' do %>
				<span class="material-symbols-outlined text-dark align-middle">key</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'tags'), class: 'btn btn-outline-primary btn-lg', title: 'Tags' do %>
				<span class="material-symbols-outlined text-dark align-middle">sell</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'stars'), class: 'btn btn-outline-primary btn-lg', title: 'Etoiles' do %>
				<span class="material-symbols-outlined text-dark align-middle">star</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'meteo'), class: 'btn btn-outline-primary btn-lg', title: 'Etoiles' do %>
				<span class="material-symbols-outlined text-dark align-middle">partly_cloudy_day</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'statut'), class: 'btn btn-outline-primary btn-lg', title: 'Statut' do %>
				<span class="material-symbols-outlined text-dark align-middle">steppers</span>
			<% end %>
		</div>
		
		<ul class="list-group list-group-flush my-4 m-3 gap-2 w-sm-75">
			<li>
				<b id="texte"><%= t('fields.datatype.Texte') %></b> :
				<ul>
					<li>Simple text: can contain a chain of 255 characters maximum.The 'filter option?'Allows you to create a drop -down list containing the distinct values.</li>
					<li><%= t('fields.datatype.Texte_long') %>: allows you to write long texts</li>
					<li><%= t('fields.datatype.Texte_riche') %>: allows you to write and format a long text (fat, underlined, title, color, size, links, lists, etc.), using a small integrated text editor (Trix Editor)</li>
				</ul>
			</i>
			<li>
				<b id="chiffres">Numbers</b> :
				<ul>
					<li><%= t('fields.datatype.Nombre') %>: to enter digital values, with or without decimal.The 'Operation' option at the bottom of the page 'will calculate the average or the sum of the attribute values.</li>
					<li><%= t('fields.datatype.Euros') %>: ditto 'number' but displays the value with the Euros symbol (€).</li>
					<li><%= t('fields.datatype.Formule') %>: field calculated from existing fields or a formula in Ruby language.(Ex: <i> [time spent] * [Time cost] </i> or <i> [price excl.
				</ul>
			</li>
			<li><b id="date"><%= t('fields.datatype.Date') %></b>: A date chosen in a calendar. </li>
			<li><b id="oui_non"><%= t('fields.datatype.Oui_non?') %></b>: allows you to choose between yes or no or none of the two. </li>
			<li><b id="liste"><%= t('fields.datatype.Liste') %></b>: to contain a list of values, like 'Blue, White, Red' or 'to do, done, canceled'.The values ​​must be separated by a comma.</li>
			<li><b id="liste_objet">List of objects (<%= t('fields.datatype.Collection') %>)</b>: to choose an object from the objects of another of your collections. (Ex: <i> [Technician. "Last name, first name, experience"] </i>) </li>
			<li>
				<b id="fichier"><%= t('fields.datatype.Fichier') %></b>:
				<ul>
					<li><%= t('fields.datatype.Fichier') %>: Allows you to link and store a file in an object (document, image, etc ...). </li>
					<li><%= t('fields.datatype.Image') %>: ditto 'file' but displays an original image or image preview according to the context. </li>
					<li><%= t('fields.datatype.PDF') %>: ditto 'file' but displays an overview of the first page of the PDF document. </li>
				</ul>
			</li>
			<li><b id="utilisateur"><%= t('fields.datatype.Utilisateur') %></b>: allows you to choose a user from those who have access to the table </li>
			<li><b id="url"><%= t('fields.datatype.URL') %></b>: allows you to add a link to an internet resource via an URL (internal or external). </li>
			<li><b id="email"><%= t('fields.datatype.Email') %></b>: to add a link to an email address. </li>
			<li>
				<b id="video"><%= t('fields.datatype.Vidéo_YouTube') %></b>: allows you to add a link to a YouTube video and display the preview of the video in a miniature.
			</li>
			<li><b id="couleur"><%= t('fields.datatype.Couleur') %></b>: a color chosen in a palette. </li>
			<li><b id="localisation">Localisation (<%= t('fields.datatype.GPS') %>)</b> :
				<ul>
					<li>Capture the location of the user, if it requests it, by pressing the button<span class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-location-crosshairs"></i></li></span>
					<li>Displays the rental on a card, based on the contact details indicated in "LNG, LAT" format.(Ex: <i> 48.85879287621989, 2,294761243572842 </i> to point on the Eiffel Tower). </li>
					<li>Distance: allows you to calculate the distance (on bird's flight) between two GPS positions.(Ex: <i> [Site (GPS)] - [House (GPS)] </i> or <i> [Site (GPS)] - 48.85879287621989, 2.294761243572842 </i>) </li>
				</ul>
			</li>
			<li>
				<b id="qrcode"><%= t('fields.datatype.QRCode') %></b>: to generate a QR code from the content of another attribute of the object.(Ex: <i> [n ° desérie], [Reference], [URL website] </i>)
			</li>
			<li>
				<b id="qrscan"><%= t('fields.datatype.QRScan') %></b>: allows you to scan a QR code with the camera of your smartphone, tablet or computer.
			</li>
			<li>
				<b id="signature"><%= t('fields.datatype.Signature') %></b>: allows you to sign manually with the mouse or on a touch screen.
			</li>
			<li>
				<b id="uuid"><%= t('fields.datatype.UUID') %></b>: automatically generates a unique identifier.(Udid = universally unique identify)
			</li>
			<li>
				<b id="tags"><%= t('fields.datatype.Tags') %></b>: allows you to enter keywords separated by commas.(Ex: <i> Paris, France, Europe </i>)
			</li>
			<li>
				<b id="stars"><%= t('fields.datatype.Stars') %></b>: allows you to note an object with stars.(Ex: <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i><i class="bi bi-star"></i>)
			</li>
			<li>
				<b id="meteo"><%= t('fields.datatype.Météo') %></b>: allows you to display the current weather for your location.(Ex: <i> 22 ° C, light rain, 73% humidity </i>)
			</li>
			<li><b id="statut"><%= t('fields.datatype.Statut') %></b>: to add a statement to an object, associated with a color.(Ex: <i class = "text-break"> new:blue, confirmed:green, canceled:red, archived:gray </i>)
				<ul>
					<li>
						Available colors:
						<span class="badge bg-primary">Blue</span>
						<span class="badge bg-secondary">Gray</span>
						<span class="badge bg-success">Green</span>
						<span class="badge bg-danger">Red</span>
						<span class="badge bg-warning text-dark">Yellow</span>
						<span class="badge bg-info text-dark">LightBlue</span>
						<span class="badge bg-light text-dark">White</span>
						<span class="badge bg-dark">Black</span>
					</li>
				</ul>
			</li>
		</ul>
	</p>

	<h3 class="fw-bold text-dark my-4">Relations between objects</h3>
	<p class="fs-5 fw-light w-sm-75">
		The relationships between objects are created with the 'collection' attribute.
		Example: an intervention object will have an 'technician' attribute which will allow you to choose a technician in the collection of the same name.
		These relationships are also visible in view of the details of an object.
		Thus, when a technician object is linked to interventions,
		The detail view of each technician automatically displays their interventions and allows you to enter a new one for this technician.
	</p>

	<h3 class="fw-bold text-dark my-4">Filters/Reports</h3>
	<p class="fs-5 fw-light w-sm-75">
		Filters/Reports make it possible to memorize selection criteria in order to obtain a filtered collection of objects, meeting its criteria.
		<br><br>
		These filters/reports accept different criteria depending on the type of attribute:
		<ul class="list-group mb-5 m-3 gap-2">
			<li>
				A text type attribute is filtered with % TXT % (filter everything that contains the 3 letters TXT)
			</li>
			<li>		
				A digital attribute is filtered with a sign and a value (Qty in stock:> 5)
			</li>
		</ul>
	</p>

	<h3 class="fw-bold text-dark my-4">Notifications</h3>
	<p class="fs-5 fw-light w-sm-75">
		The notifications make it possible to be alerted by email after each addition and modification of objects in a collection.
		They are configurable for each collection and each attribute.
		<br><br>
		Example: to be alerted when an object in the 'Interventions' collection has an attribute 'status' equal to 'finished'.
	</p>

	<h3 class="fw-bold text-dark my-4">Users, sharing and roles</h3>
	<p class="fs-5 fw-light w-sm-75">
		You can share your collections with other users by giving them a role (reader, collector, publisher).
		<ul class="list-group mb-5 m-3 gap-2">
			<li>
				<b> Reader </b> can only see objects from the shared collection.
			</li>
			<li>
				<b> collector </b> can add objects in the shared collection, and will only see his objects.
			</li>
			<li>
				<b> editor </b> can see and modify all objects.
			</li>
		</ul>
	</p>


	<h3 class="fw-bold text-dark my-4">Assistant (IA)</h3>
	<p class="fs-5 fw-light w-sm-75">
		Ask the assistant, based on data from your object collections
		<br>
		Examples of questions, in natural language, which can be asked to the assistant:
		<ul class="list-group m-3 mt-2 gap-2">
			<li>What is the name of the customer who returns most often in this list: [Customer]?
			<li>Genate me the next 3 interventions to be expected, based on this list: [Date, customer, type]? </li>
			<li>You are a statistician.Calculate me the average of the durations of this list: [Duration]?(This is to be done only if you doubt the seriousness of this assistant;-) </li>
		</ul>
	</p>


</div>

<h3 class="fw-bold text-dark my-4">History and motivation</h3>

<p class="fs-5 fw-light w-sm-75">
	Business applications developer for over 30 years, I have often helped my customers spend
	an information system in silos, where business business data is locked up
	in Excel sheets, to a platform type system where the data is centralized and
	Shared between services from a single source of trust (<b> single source of truth </b>).
</p>

<p class="fs-5 fw-light w-sm-75">	
	With an experience of more than 30 years on databases and the most interesting development tools of their eras
	(Superbase 64, Yes You Can, Superdb, FoxPro, DBase 3/4, Paradox 3/4, Access, Delphi, VB4/5/6/SQL Server,
	C#/sqlite/mysql, stack lamp, ruby ​​on rails, and so on ...), my vocation has always been to help my customers to cross
	the step towards the decompartmentalization of their data with the objective of a more efficient management IT,
	collaborative and focused on objectives.
	<br><br>
	Even if customer activity areas were not alike
	(Auto, Social, Telecom, Pharma, Industry, VSE/SMEs), reasons were repeated and each new project
	took place in an almost identical way:
</p>

<div class="row my-5 w-sm-75">
	<div class="col">
		<ul class="list-group">
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Import Excel data
			</li>
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Access data from anywhere
			</li>
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Search, sort, filter and export the data
			</li>
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Share data safely
			</li>
		</ul>
	</div>
	<div class="col">
		<ul class="list-group">
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Bind data between them
			</li>
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Add business rules
			</li>
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Create personalized views
			</li>
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Manage users and roles
			</li>
		</ul>
	</div>
</div>

<p class="fs-5 fw-light w-sm-75">
	This is why I started the development of this No-Code and Open-Source tool, 10 years ago,
	in order to cover the basic functions of an open information platform.
	<br><br>
	Crystaldata therefore aims to offer a small concentrate of my database experience,
	And, why not, to lay the foundations of a future tailor -made application/platform, yours,
	Integrating all your specificities, business rules, status, services, etc.
</p>

<h3 class="fw-bold text-dark my-4">Development, support and services</h3>

<p class="mt-3">
	<i>Crystaldata was developed in Ruby on Rails by Philippe and Pierre-Emmanuel</i>
</p>

<div class="row mt-3">
	<div class="col-sm-2">
		<%= image_tag "philippe.webp",
		class: "img-thumbnail rounded"
		%>
	<h5 class="font-bold">
		Philippe N.
	</h5>
	<h6 class="italic text-xl">
		Product Manager/Dev senior
	</h6>
	</div>
	<div class="col-sm-2">
	<%= image_tag "pierre-emmanuel.webp",
		class: "img-thumbnail rounded"
	%>
	<h5 class="font-bold">
		Pierre-Emmanuel D.
	</h5>
	<h6 class="italic">
		Junior developer
	</h6>
</div>

<p class="fs-5 fw-light text-secondary mt-4">
	Need feature or new tailor -made application?We are developing it!
	<br><br>
	Are you looking for an application for project management, interventions, planning, emarging or billing?
	<br>
	Consult our <%= link_to "Open-Source software catalog", 'https://www.philnoug.com/logiciels', target: '_blank', class: 'link' %>
	<br><br>
	We can also convert your old PC/Windows applications (ex: VB/VBA/MS Access/Excel/C#...) to a web platform.
	<br><br>
	To find out more,
	<%= link_to "Contact us", 'https://www.philnoug.com/contact', target: '_blank', class: 'link' %>
</p>
