<div class="container px-5">
	<h1 class="text-primary">CrystalData 7</h1>
	<h2 class="fw-normal text-secondary">Vos données métier, en ligne et en mobilité</h2>

	<h3 class="mt-5 text-info">Motivation</h3>

	<p>
		Développeur d'applications métiers depuis plus de 30 ans, j'ai souvent aidé mes clients à passer 
		d'un système d'information en silos, où les données métier de l'entreprise sont enfermées 
		dans des feuilles Excel, à un système de type plateforme où les données sont centralisées et 
		partagées entre les services depuis une source unique de confiance (Single source of truth). 
		<br><br>
		A force de mettre en place ce type de solution tout au cours de ma carrière, j'ai rapidement remarqué 
		que même si les clients domaine d'ativité de mes clients ne se resemnlait pas du tout 
		(Loueur, Social, Telcos, Pharma) des motifs se répétaient et que chaque nouveau projet 
		se déroulait selon un process de création à peu près toujours le même :
	</p>

	<ul class="list-group list-group-numbered list-group-flush mb-3">
		<li class="list-group-item">Importer les données d'Excel</li>
		<li class="list-group-item">Accéder aux données de n'importe où</li>
		<li class="list-group-item">Rechercher, trier, filtrer et exporter les données</li>
		<li class="list-group-item">Partager les données en toute sécurité</li>
		<li class="list-group-item">Lier les données entre elles</li>
		<li class="list-group-item">Ajouter des règles métiers</li>
		<li class="list-group-item">Créer des vues personnalisées</li>
		<li class="list-group-item">Gérer des utilisateurs et des rôles</li>
	</ul>

	<p>
		C'est pourquoi, il y a bientôt 10 ans, j'ai commencé le développement d'un outil NOCODE et open-source, CrystalData, 
		dans le but de couvrir les 5 fonctions de base d'une plateforme d'informations ouverte.
		<br><br>
		CrystalData a pour ambition d'être un concentré de toute mon expérience des L4G/SGBD/AGL, 
		et de poser ainsi les fondations d'une future application sur mesures, la vôtre, 
		intégrant toutes vos spécificités.
		<br><br>
		Fort d'une expérience de plus de 30 ans sur les SGDB les plus intéressants de leur époque 
		(SuperBase 64, Yes You Can, SuperDB, FoxPro, dBase 3/4, Paradox 3/4, Access, Delphi, VB4/5/6/SQL Server,
		C#/SQLite/MySQL, stack LAMP, Ruby on Rails...), ma vocation a toujours été d'aider mes clients à franchir 
		le pas vers le décloisonnement de leurs données, avec pour objectif une informatique de gestion plus efficace, 
		collaborative et centrée sur les objectifs. 
	</p>

	<h3 class="mt-5 text-info">Principales fonctionnalités de CrystalData</h3>

	<ul class="list-group list-group-flush mb-5">
		<li class="list-group-item"><i class="fa fa-check text-success"></i> Créez vos tables de données simplement à partir de feuilles Excel</li>
		<li class="list-group-item"><i class="fa fa-check text-success"></i> Ajoutez des colonnes de type: Texte, Nombre, Euros, Date, Oui/Non, Liste de choix, Champ calculé (formule Ruby), Fichier, Image, PDF, etc.</li>
		<li class="list-group-item"><i class="fa fa-check text-success"></i> Ajoutez, éditez vos enregistrements dans un formulaire</li>
		<li class="list-group-item"><i class="fa fa-check text-success"></i> Audit: chaque modification est consignée dans un historique (qui, quand, quoi)</li>
		<li class="list-group-item"><i class="fa fa-check text-success"></i> Recherchez, filtrez et triez vos données</li> 
		<li class="list-group-item"><i class="fa fa-check text-success"></i> Partagez vos données avec d'autres utilisateurs</li>		
		<li class="list-group-item"><i class="fa fa-check text-success"></i> Exportez vos données vers un tableur</li> 
		<li class="list-group-item"><i class="fa fa-check text-success"></i> Notification après chaque ajout de nouvelles données</li>
		<li class="list-group-item"><i class="fa fa-check text-success"></i> Accédez à vos données en mobilité (Les écrans s'adaptent automatiquement à la taille d'un écran de smartphone)</li> 
	</ul>

	<% if false %>

		<h3 class="text-info">Toutes les fonctionnalités de CrystalData en détails</h3>

		<div class="row">
			<div class="col">
				<h4 class="mt-3">
					<i class="fa fa-check"></i>
					Créer des tables de données<br>
				</h4>

				<p>Créez vos tables de donnée simplement à partir de feuilles Excel (exportées au format CSV)</p>

				<%= link_to image_path 'screen-lg.png' do %>
					<%= image_tag 'screen-lg.png', class: 'img-thumbnail w-100' %>
				<% end %>
			</div>

			<div class="col">
				<h4 class="mt-3">
					<i class="fa fa-check"></i>
					Ajoutez de nouvelles colonnes 
				</h4>
				
				<p>
					Ajoutez des colonnes de type: Texte, Nombre, Euros, Date, Oui/Non, Liste de choix, 
					Champ calculé (formule <%= link_to "Ruby","https://www.ruby-lang.org/fr/documentation/quickstart/", :target => "_blank" %>), 
					Fichier, Image, 
					Signature manuscrite, Coordonnées GPS, Météo locale
				</p>

				<%= link_to image_path 'screen-lg-modif.png' do %>
					<%= image_tag 'screen-lg-modif.png', class: 'img-thumbnail w-100' %>
				<% end %>	
			</div>
		</div>

		<div class="row">
			<div class="col">
				<h4 class="mt-5">
					<i class="fa fa-check"></i>
					Ajoutez, éditez vos enregistrements dans un formulaire
				</h4>
				<p>
					Un formulaire permet de saisir vos données, sur PC ou sur mobile. Chaque modification est consignée dans un historique (qui, quand, quoi)
				</p>
				<%= link_to image_path 'screen-lg-form.png' do %>
					<%= image_tag 'screen-lg-form.png', class: 'img-thumbnail w-100' %>
				<% end %>	
			</div>

			<div class="col">
				<h4 class="mt-5">
					<i class="fa fa-check"></i>
					Recherchez, filtrez et triez vos données 
				</h4>
		
				<%= link_to image_path 'screen-lg-filtre.png' do %>
					<%= image_tag 'screen-lg-filtre.png', class: 'img-thumbnail w-100' %>
				<% end %>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<h4 class="mt-5">
					<i class="fa fa-check"></i>
					Partagez vos données avec d'autres utilisateurs
				</h4>
				<%= link_to image_path 'screen-lg-partage.png' do %>
					<%= image_tag 'screen-lg-partage.png', class: 'img-thumbnail w-100' %>
				<% end %>
			</div>

			<div class="col">
				<h4 class="mt-5">
					<i class="fa fa-check"></i>
					Exportez vos données vers un tableur 
				</h4>
				<%= link_to image_path 'screen-lg-excel2.png' do %>
					<%= image_tag 'screen-lg-excel2.png', class: 'img-thumbnail w-100' %>
				<% end %>
			</div>
		</div>

		<h4 class="mt-5">
			<i class="fa fa-check"></i>
			Accédez à vos données en mobilité
		</h4>
		<p>Les écrans s'adaptent automatiquement à la taille d'un écran de smartphone (Responsive Design)</p>

		<div class="d-flex gap-2 gap-sm-4 mb-5">
			<%= image_tag 'screen-sm-1.png', class: 'img-thumbnail w-25' %>
			<%= image_tag 'screen-sm-2.png', class: 'img-thumbnail w-25' %>
			<%= image_tag 'screen-sm-3.png', class: 'img-thumbnail w-25' %>
		</div>

	<% end %>

	<h3 class="text-info">Les types de données à la loupe</h3>

	<p>
		Une table de données est constituée de colonne (ex: Marque, Couleur, Prix, Qté en stock) et chaque colonne peut avoir un type de données spécifique afin de s'adapter au mieux aux données contenues dans chaque colonne.
		Les types de données disponibles sont : 
		<ul class="list-group list-group-flush mb-5">
			<li>
				Types de textes :
				<ul>
					<li><b>Texte</b> : peut contenir une chaine de 255 caractères maximum. L'option 'Filtre ?' permet de créer une liste déroulante contenant les valeurs distinctes. </li>
					<li><b>Texte long</b> : permet de faire des gros messages</li>
					<li><b>Texte riche</b> : permet de formater du texte (gras, souligné, titre, couleur, taille, liens, listes, etc.), grâce à un éditeur de texte intégré</li>
				</ul>
			</i>
			<li>
				Chiffres :
				<ul>
					<li><b>Nombre</b> : pour saisir des valeurs numériques, avec ou sans décimales. L'option 'Opération en bas de page', calculera la moyenne ou la somme des valeurs de la colonne.</li>
					<li><b>Euros</b> : idem 'Nombre' mais affiche la valeur avec le symbole euros (€).</li>
					<li><b>Formule</b> : champ calculé à partir de champs existants ou d'une formule en langage Ruby, ex: '[Temps Passé] * [Coût horaire]' ou '[Prix HT] * 1.2'
				</ul>
			</li>
			<li><b>Date</b> : une date choisie dans un calendrier.</li>
			<li><b>Oui_Non?</b> : permet de choisir entre Oui ou Non ou aucun des deux.</li>
			<li><b>Liste</b> : 
				<ol>
					<li>
						pour contenir une liste de valeurs, comme 'Bleu,Blanc,Rouge' ou 'À faire,Fait,Annulé'. Les valeurs doivent être séparées par une virgule.
					</li>
					<li>
						pour contenir une liste de valeurs venant d'une autre table, en utilisant la syntaxe suivante : '[nom_table.nom_colonne]', ex: '[Utilisateurs.Nom]'. (Attention aux min/Majuscules)
					</li>
				</ol>
			</li>
			<li><b>Table</b> : pour afficher les enregistrements d'une table liée. ex: '[Plombiers."Nom,Expérience"]'</li>
			<li>
				Fichiers:
				<ul>
					<li><b>Fichier</b> : permet de lier et de stocker un fichier (document, image, etc...).</li>
					<li><b>Image</b> : idem 'Fichier' mais affiche un aperçu de l'image ou l'image d'origine selon le contexte.</li>
					<li><b>PDF</b> : idem 'Fichier' mais affiche un aperçu de la première page du document PDF.</li>
				</ul>
			</li>
			<li><b>URL</b> : permet d'ajouter un lien vers une ressource internet (interne ou externe).</li>
			<li><b>Couleur</b> : affiche une couleur choisie dans une palette.</li>
			<li><b>GPS</b> :
				<ol>
					<li>Capture la localisation de l'utilisateur s'il le demande [<i class="fa-solid fa-location-crosshairs"></i>]</li>
					<li>Affiche une position sur une carte aux coordonnées indiquées au format "lng, lat". ex: '48.85879287621989, 2.294761243572842' pour pointer sur la tour Eiffel.</li>
				</ol>
			</li>
			<li><b>Utilisateur</b> : permet de choisir un utilisateur parmi ceux qui ont accès à la table</li>
			<li><b>Workflow</b> : contient l'état d'un objet (enregistrement) associé à une couleur. ex: 'Nouveau:primary, Confirmé:success, Annulé:danger, Archivé:secondary'.
				<br>
				Couleurs disponibles:
				<span class="badge bg-primary">Primary</span>
				<span class="badge bg-secondary">Secondary</span>
				<span class="badge bg-success">Success</span>
				<span class="badge bg-danger">Danger</span>
				<span class="badge bg-warning text-dark">Warning</span>
				<span class="badge bg-info text-dark">Info</span>
				<span class="badge bg-light text-dark">Light</span>
				<span class="badge bg-dark">Dark</span>
			</li>
		</ul>
	</p>

	<h3 class="my-5 text-info">Développement, support et services</h3>
	<p class="mb-5">
		CrystalData est développé et maintenu par 
		<%= link_to 'Philnoug & Partners', 'https://www.philnoug.com', target: '_blank' %>
	</p>
</div>