<div class="mb-5">
	<div class="d-flex justify-content-between align-items-center">
		<div>
			<h1 class="text-primary mb-2"><%= @sitename %></h1>
			<h2 class="fw-normal fs-4 mt-0">
				Your business data 'In da Cloud'
				<span class="fw-lighter text-secondary fs-6">Go, go, go... It's your birthday!</span>
			</h2>
		</div>
		<%= image_tag 'icons/aikku.png', class:'mt-3', style: "height: 8rem" %>
	</div>

	<h3 class="fw-bold text-dark my-4">For whom and for what purpose?</h3>

	<h4 class="mb-2">Field Service Management (FSM)</h4>

	<p class="fs-5 fw-light w-sm-75">
		Are you a service company with field teams looking for a way to manage your interventions
		(e.g., construction, after-sales service, installation, maintenance)?
		<br><br>
		<%= @sitename %> is a NO-CODE information manager that allows you to create
		collections of business objects (e.g., Clients, Interventions, Technicians, Expenses, Projects, etc.),
		link them (Clients <=> Interventions <=> Technicians <=> Expenses),
		and securely share them online with your collaborators.
	</p>

	<h4 class="mb-2">Project Management</h4>
	<p class="fs-5 fw-light w-sm-75">
		Are you responsible for a team and the successful execution of a project program?
		<br><br>
		<%= @sitename %> allows you to quickly create a tool for tracking the status
		of each project without writing a single line of code.
		You’ll be notified when a significant status change is recorded,
		and you can view your deadlines in a 'Calendar'
		view or in your personal agenda (Google Calendar/Outlook/etc.).
	</p>

	<h4 class="mb-2">DATA Management</h4>
	<p class="fs-5 fw-light w-sm-75">
		Are you looking for a simple tool to manage your files, documents, reports, and information collected in the field?
		<br><br>
		<%= @sitename %> was designed to be usable on a smartphone to collect data as close to its source as possible, regardless of its type (Text, Numbers, Photo, PDF, etc.).
		Contextual data, such as weather conditions and GPS location, can be automatically acquired.
		A graph generation tool allows you to visualize the information in the form of a curve or a histogram.
	</p>

	<h3 class="fw-bold text-dark my-4">Key features</h3>

	<ul class="list-group list-group-flush mb-5 w-sm-75">
		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Create Objects made up of various attributes, such as: Text, Number, Euros, Date, Yes/No, choice List, File, Image, PDF, GPS position, Link to an Object in another Collection, QR Code, Weather...
		</li>
		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Add and edit your objects in a form
		</li>
		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Search, filter, and sort your objects
		</li> 
		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Share your object collections with other users
		</li>		

		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Export your collections in CSV, XLS, and PDF formats
		</li> 

		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Be notified after each object is added to one of your collections, or when an attribute changes state
		</li>

		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Activity: every modification of an object is recorded in a history (when, who, what, value before, value after)
		</li>		

		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Access all your mobility collections (screens automatically adapt to smartphones/tablets)
		</li> 

		<li class="list-group-item d-flex align-items-center gap-2">
			<span class="material-symbols-outlined text-success">
				new_releases
			</span>
			Assistant (AI).
			Ask a question to the Assistant, based on the data from your object collections
		</li> 

	</ul>

	<h3 class="fw-bold text-dark my-4">The <%= @sitename %> object and its attributes</h3>

	<p class="fs-5 fw-light w-sm-75">
		An object is made up of attributes (e.g., Name, Brand, Color, Age, Price, Quantity in stock, etc.),
		and each attribute has a specific type to best suit the data it will contain (Text, Number, Date, List, Yes/No, File, etc.).
		<br><br>
		The available attribute types are

		<div class="mt-4">
			<%= link_to a_propos_path(anchor: 'text'), class: 'btn btn-outline-primary btn-lg', title: 'Texte' do %>
				<span class="material-symbols-outlined text-dark align-middle">abc</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'text'), class: 'btn btn-outline-primary btn-lg', title: t('fields.datatype.Texte_long') do %>
				<span class="material-symbols-outlined text-dark align-middle">notes</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'text'), class: 'btn btn-outline-primary btn-lg', title: t('fields.datatype.Texte_riche') do %>
				<span class="material-symbols-outlined text-dark align-middle">text_snippet</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'numbers'), class: 'btn btn-outline-primary btn-lg', title: t('fields.datatype.Nombre') do %>
				<span class="material-symbols-outlined text-dark align-middle">tag</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'numbers'), class: 'btn btn-outline-primary btn-lg', title: t('fields.datatype.Euros') do %>
				<span class="material-symbols-outlined text-dark align-middle">euro</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'numbers'), class: 'btn btn-outline-primary btn-lg', title: t('fields.datatype.Formule') do %>
				<span class="material-symbols-outlined text-dark align-middle">calculate</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'date'), class: 'btn btn-outline-primary btn-lg', title: t('fields.datatype.Date') do %>
				<span class="material-symbols-outlined text-dark align-middle">calendar_today</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'yes_no'), class: 'btn btn-outline-primary btn-lg', title: t('fields.datatype.Oui_non?') do %>
				<span class="material-symbols-outlined text-dark align-middle">help</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'list'), class: 'btn btn-outline-primary btn-lg', title: t('fields.datatype.List') do %>
				<span class="material-symbols-outlined text-dark align-middle">format_list_numbered</span>
			<% end %>

		</div>
		<div class="mt-4">
			<%= link_to a_propos_path(anchor: 'object_list'), class: 'btn btn-outline-primary btn-lg', title: "List of objects (#{t('fields.datatype.Collection')})" do %>
				<span class="material-symbols-outlined text-dark align-middle">database</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'file'), class: 'btn btn-outline-primary btn-lg', title: t('fields.datatype.Fichier') do %>
				<span class="material-symbols-outlined text-dark align-middle">description</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'file'), class: 'btn btn-outline-primary btn-lg', title: t('fields.datatype.Image') do %>
				<span class="material-symbols-outlined text-dark align-middle">image</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'file'), class: 'btn btn-outline-primary btn-lg', title: 'PDF document' do %>
				<span class="material-symbols-outlined text-dark align-middle">picture_as_pdf</span>
			<% end %>		
			<%= link_to a_propos_path(anchor: 'user'), class: 'btn btn-outline-primary btn-lg', title: t('fields.datatype.Utilisateur') do %>
				<span class="material-symbols-outlined text-dark align-middle">person</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'url'), class: 'btn btn-outline-primary btn-lg', title: 'URL link' do %>
				<span class="material-symbols-outlined text-dark align-middle">link</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'email'), class: 'btn btn-outline-primary btn-lg', title: 'E-mail address' do %>
				<span class="material-symbols-outlined text-dark align-middle">mail</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'video'), class: 'btn btn-outline-primary btn-lg', title: t('fields.datatype.Vidéo_YouTube') do %>
				<span class="material-symbols-outlined text-dark align-middle">play_circle</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'color'), class: 'btn btn-outline-primary btn-lg', title: t('fields.datatype.Couleur') do %>
				<span class="material-symbols-outlined text-dark align-middle">palette</span>
			<% end %>
		</div>
		
		<div class="mt-4">
			<%= link_to a_propos_path(anchor: 'location'), class: 'btn btn-outline-primary btn-lg', title: 'GPS location' do %>
				<span class="material-symbols-outlined text-dark align-middle">my_location</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'qrcode'), class: 'btn btn-outline-primary btn-lg', title: t('fields.datatype.QRCode') do %>
				<span class="material-symbols-outlined text-dark align-middle">qr_code_2</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'qrscan'), class: 'btn btn-outline-primary btn-lg', title: 'QR Code Scanner' do %>
				<span class="material-symbols-outlined text-dark align-middle">barcode_reader</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'signature'), class: 'btn btn-outline-primary btn-lg', title: 'Handwritten signature' do %>
				<span class="material-symbols-outlined text-dark align-middle">signature</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'uuid'), class: 'btn btn-outline-primary btn-lg', title: 'UUID (Universally Unique IDentify)' do %>
				<span class="material-symbols-outlined text-dark align-middle">key</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'tags'), class: 'btn btn-outline-primary btn-lg', title: t('fields.datatype.Tags') do %>
				<span class="material-symbols-outlined text-dark align-middle">sell</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'stars'), class: 'btn btn-outline-primary btn-lg', title: t('fields.datatype.Stars') do %>
				<span class="material-symbols-outlined text-dark align-middle">star</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'weather'), class: 'btn btn-outline-primary btn-lg', title: t('fields.datatype.Météo') do %>
				<span class="material-symbols-outlined text-dark align-middle">partly_cloudy_day</span>
			<% end %>
			<%= link_to a_propos_path(anchor: 'status'), class: 'btn btn-outline-primary btn-lg', title: t('fields.datatype.Statut') do %>
				<span class="material-symbols-outlined text-dark align-middle">steppers</span>
			<% end %>
		</div>
		
		<ul class="list-group list-group-flush my-4 m-3 gap-2 w-sm-75">
			<li>
				<b id="text"><%= t('fields.datatype.Texte') %></b> :
				<ul>
					<li>Simple text: can contain a string of up to 255 characters. The 'Filter?' option allows you to create a dropdown list containing distinct values.</li>
					<li><%= t('fields.datatype.Texte_long') %>: allows you to write long texts.</li>
					<li><%= t('fields.datatype.Texte_riche') %>: allows you to write and format long texts (bold, underline, title, color, size, links, lists, etc.) using a built-in text editor (TRIX Editor).</li>
				</ul>
			</i>
			<li>
				<b id="numbers">Numbers</b> :
				<ul>
					<li><%= t('fields.datatype.Nombre') %>: to enter numeric values, with or without decimals. The 'Operation at the bottom of the page' option will calculate the average or sum of the attribute values.</li>
					<li><%= t('fields.datatype.Euros') %>: same as 'Number' but displays the value with the euro symbol (€).</li>
					<li><%= t('fields.datatype.Formule') %>: calculated field based on existing fields or a formula in Ruby language. (e.g., <i>[Time Spent] * [Hourly Rate]</i> OR <i>[Price Excluding Tax] * 1.2</i>)</li>
				</ul>
			</li>
			<li><b id="date"><%= t('fields.datatype.Date') %></b>: a date selected from a calendar.</li>
			<li><b id="yes_no"><%= t('fields.datatype.Oui_non?') %></b>: allows you to choose between Yes, No, or neither.</li>
			<li><b id="list"><%= t('fields.datatype.Liste') %></b>: to contain a list of values, such as 'Blue, White, Red' or 'To do, Done, Canceled'. The values must be separated by commas</li>
			<li><b id="liste_objet">List of objects (<%= t('fields.datatype.Collection') %>)</b>: to select an object from another one of your collections. (e.g., <i>[Technician."Name, First Name, Experience"]</i>)</li>
			<li>
				<b id="file"><%= t('fields.datatype.Fichier') %></b>:
				<ul>
					<li><%= t('fields.datatype.Fichier') %>: allows you to link and store a file within an object (document, image, etc.).</li>
					<li><%= t('fields.datatype.Image') %>: same as 'File' but displays a preview of the image or the original image, depending on the context.</li>
					<li><%= t('fields.datatype.PDF') %>: same as 'File' but displays a preview of the first page of the PDF document. </li>
				</ul>
			</li>
			<li><b id="user"><%= t('fields.datatype.Utilisateur') %></b>: allows you to select a user from those who have access to the table.</li>
			<li><b id="url"><%= t('fields.datatype.URL') %></b>: allows you to add a link to an internet resource via a URL (internal or external).</li>
			<li><b id="email"><%= t('fields.datatype.Email') %></b>: to add a link to an email address.</li>
			<li><b id="video"><%= t('fields.datatype.Vidéo_YouTube') %></b>: allows you to add a link to a YouTube video and display a preview of the video in a thumbnail.</li>
			<li><b id="color"><%= t('fields.datatype.Couleur') %></b>: a color selected from a palette.</li>
			<li><b id="location">Location (<%= t('fields.datatype.GPS') %>)</b>:
				<ul>
					<li>Captures the user's location, if requested, by pressing the button <span class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-location-crosshairs"></i></li></span>
					<li>Displays the location on a map based on the coordinates provided in the format 'LNG, LAT'. (e.g., <i>48.85879287621989, 2.294761243572842</i> to point to the Eiffel Tower).</li>
					<li>Distance: Allows you to calculate the distance (as the crow flies) between two GPS locations. (e.g., <i>[Construction Site(GPS)] - [House(GPS)]</i> OR <i>[Construction Site(GPS)] - 48.85879287621989, 2.294761243572842</i>)</li>
				</ul>
			</li>
			<li><b id="qrcode"><%= t('fields.datatype.QRCode') %></b>: generates a QR Code from the content of another attribute of the object. (e.g., <i>[SerialNumber], [Reference], [Website URL]</i>)</li>
			<li><b id="qrscan"><%= t('fields.datatype.QRScan') %></b>: allows you to scan a QR Code using the camera of your smartphone, tablet, or computer.</li>
			<li><b id="signature"><%= t('fields.datatype.Signature') %></b>: allows you to sign manually with a mouse or on a touchscreen.</li>
			<li><b id="uuid"><%= t('fields.datatype.UUID') %></b>: automatically generates a unique identifier. (UUID = Universally Unique Identifier)</li>
			<li><b id="tags"><%= t('fields.datatype.Tags') %></b>: allows you to enter keywords separated by commas. (Ex: <i>Paris, France, Europe</i>)</li>
			<li><b id="stars"><%= t('fields.datatype.Stars') %></b>: allows you to rate an object with stars. (Ex: <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i><i class="bi bi-star"></i>)</li>
			<li><b id="weather"><%= t('fields.datatype.Météo') %></b>: Displays the current weather at your location. (e.g., <i>22°C, Light rain, 73% humidity</i>)</li>
			<li>
				<b id="status"><%= t('fields.datatype.Statut') %></b>: to add a state to an object, associated with a color. (Ex: <i class = "text-break"> New:blue,Confirmed:green,Canceled:red,Archived:gray</i>)
				<ul>
					<li>
						Available colors:
						<span class="badge bg-primary">Blue</span>
						<span class="badge bg-secondary">Gray</span>
						<span class="badge bg-success">Green</span>
						<span class="badge bg-danger">Red</span>
						<span class="badge bg-warning text-dark">Yellow</span>
						<span class="badge bg-info text-dark">LightBlue</span>
						<span class="badge bg-light text-dark">White</span>
						<span class="badge bg-dark">Black</span>
					</li>
				</ul>
			</li>
		</ul>
	</p>

	<h3 class="fw-bold text-dark my-4">Relations between objects</h3>
	<p class="fs-5 fw-light w-sm-75">
		Relations between objects are created with the 'Collection' attribute.  
		Example: an Intervention object will have a 'Technician' attribute that allows selecting a technician from the same collection.  
		These relationships are also visible in the object detail view.  
		Thus, when a Technician object is linked to Interventions, the detail view of each Technician automatically displays their Interventions and allows entering a new one for that Technician.
	</p>

	<h3 class="fw-bold text-dark my-4">Queries</h3>
	<p class="fs-5 fw-light w-sm-75">
		Queries allow you to save selection criteria in order to obtain a filtered collection of objects that meet those criteria.
		<br><br>
		These Queries accept different criteria depending on the attribute type:
		<ul class="list-group mb-5 m-3 gap-2">
			<li>
				A Text attribute is filtered with %TXT% (Filters everything that contains the letters TXT)
			</li>
			<li>		
				A numeric attribute is filtered with a sign and a value (e.g., Stock quantity: > 5)
			</li>
		</ul>
	</p>

	<h3 class="fw-bold text-dark my-4">Notifications</h3>
	<p class="fs-5 fw-light w-sm-75">
		Notifications allow you to be alerted by email after each addition and modification of an object in a collection.  
		They can be configured for each collection and each attribute.
		<br><br>
		Example: Be alerted when an object in the 'Interventions' collection has an attribute 'Status' equal to 'Completed'.
	</p>

	<h3 class="fw-bold text-dark my-4">Users ands Teams</h3>
	<p class="fs-5 fw-light w-sm-75">
		You can create users and include them in a team.
		<br>
		A team has access to certain information defined in the filters.
		<br>
		For each team, it is possible to have a filter for each collection.
		<br>
		If no filter is assigned to a collection for a team, that team will not see the collection.
	</p>


	<h3 class="fw-bold text-dark my-4">Assistant (AI)</h3>
	<p class="fs-5 fw-light w-sm-75">
		Ask a question to the Assistant based on the data from your object collections
		<br>
		Examples of questions you can ask the Assistant in natural language:
		<ul class="list-group m-3 mt-2 gap-2">
			<li>What is the name of the client that appears most frequently in this list: [Client]?</li>
			<li>Generate the next 3 upcoming interventions, based on this list: [Date, Client, Type]?</li>
			<li>You are a statistician. Calculate the average duration from this list: [Duration]? (This should only be done if you doubt the reliability of this Assistant ;-)</li>
		</ul>
	</p>


</div>

<h3 class="fw-bold text-dark my-4">History and motivation</h3>

<p class="fs-5 fw-light w-sm-75">
	Developer of business applications in companies for over 30 years, I have often helped my clients transition from a siloed information system, where business data is locked in Excel spreadsheets, to a platform-based system where data is centralized and shared across departments from a single trusted source (<b>Single Source of Truth</b>).
</p>

<p class="fs-5 fw-light w-sm-75">	
	With over 30 years of experience with the most interesting databases and development tools of their time (SuperBase 64, Yes You Can, SuperDB, FoxPro, dBase 3/4, Paradox 3/4, Access, Delphi, VB4/5/6/SQL Server, C#/SQLite/MySQL, LAMP stack, Ruby on Rails, and more...), my vocation has always been to help my clients move towards breaking down the silos of their data with the goal of achieving more efficient, collaborative, and goal-oriented business management IT.
	<br><br>
	Even though the business sectors of my clients were different (Car rental, Social, Telecom, Pharma, Industry, SMBs), recurring patterns emerged, and each new project followed a roughly identical process:
</p>

<div class="row my-5 w-sm-75">
	<div class="col">
		<ul class="list-group">
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Import data from Excel
			</li>
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Access data from anywhere
			</li>
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Search, sort, filter, and export data
			</li>
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Share data securely
			</li>
		</ul>
	</div>
	<div class="col">
		<ul class="list-group">
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Link data together
			</li>
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Add business rules
			</li>
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Create custom views
			</li>
			<li class="list-group-item d-flex align-items-center gap-2">
				<span class="material-symbols-outlined text-primary">
					priority
				</span>
				Manage users and roles
			</li>
		</ul>
	</div>
</div>

<p class="fs-5 fw-light w-sm-75">
	That's why I started developing this NO-CODE and open-source tool 10 years ago, with the goal of covering the basic functions of an open information platform.
	<br><br>
	<%= @sitename %> thus aims to offer a small concentration of my database experience, and, why not, lay the foundations for a future custom application/platform, yours, integrating all your specificities, business rules, statuses, services, etc.
</p>

<h3 class="fw-bold text-dark my-4">Development, support and services</h3>

<p class="mt-3">
	<%= @sitename %> was developed in Ruby on Rails by AIKKU SAS
</p>

<p class="fs-5 fw-light text-secondary mt-4">
	Need a feature or a custom application? We will develop it for you!
	<br><br>
	Are you looking for an application for project management, interventions, scheduling, attendance tracking, or invoicing?
	<br>
	Check out our <%= link_to "Open-Source software catalog", 'https://www.aikku.eu/en/logiciels', target: '_blank', class: 'link' %>
	<br><br>
	We can also convert your old PC/Windows applications (e.g., VB/VBA/MS ACCESS/EXCEL/C#...) into a web platform.
	<br><br>
	To learn more,
	<%= link_to "contact us", 'https://www.aikku.eu/en/contact', target: '_blank', class: 'link' %>
	<br><br>
	<%= link_to "Legal notices", mentions_legales_path, class: 'link' %>
</p>
