<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="ml-2 mt-4 lg:mt-0">
  <div class="d-flex flex-wrap">
    <% @graphs.each_with_index do |graph, i| %>
      <div class="w-sm-33 shadow-sm pt-3 px-2">
        <h2 class="text-center fs-5"><%= graph.name.humanize %></h2>
        <canvas data-turbo="false" id="chart<%= i %>"></canvas>
        <div class="d-flex flex-row justify-content-end">
          <% if policy(graph).edit? %>
            <%= link_to edit_graph_path(graph), class: 'text-gray-300 hover-text-secondary' do %>
              <span class="material-symbols-outlined">
                edit
              </span>
            <% end %>
          <% end %>
          <% if policy(graph).destroy? %>
            <%= button_to graph, method: :delete, data: {turbo_confirm: t('scaffold.sure?') }, class:'text-gray-300 hover-text-danger btn btn-sm p-0' do %>
              <span class="material-symbols-outlined">
                delete
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
      <script>
        var data<%= i %> = {
          labels: <%= @results[i].keys.to_json.html_safe %>,
          datasets: [
            {
              label: "<%= "#{graph.name}" %>",
              <% if ['pie','doughnut', 'bar'].include?(graph.chart_type) %>
                backgroundColor: [
                  'rgba(255, 99, 132, 0.4)',
                  'rgba(75, 192, 192, 0.4)',
                  'rgba(54, 162, 235, 0.4)',
                  'rgba(255, 205, 86, 0.4)',
                  'rgba(153, 101, 255, 0,4)',
                  'rgba(255,159,64, 0.4)',
                  'rgba(201, 203, 207, 0.4)',
                ],
                borderColor: [
                  'rgb(255, 99, 132)',
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)',
                  'rgb(255, 205, 86)',
                  'rgb(153, 102, 255)',
                  'rgb(255, 159, 64)',
                  'rgb(201, 203, 207)'
                ],
                borderWidth: 1,
              <% else %>
                backgroundColor: [
                  'rgb(255, 99, 132)',
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)',
                  'rgb(255, 205, 86)',
                  'rgb(153, 101, 255)',
                  'rgb(255,159,64)',
                  'rgb(201, 203, 207)'
                ],
              <% end %>
              data: <%= @results[i].values.to_json.html_safe %>,
            },
          ],
        };

        var configChart<%= i %> = {
          type: "<%= graph.chart_type %>",
          data: data<%= i %>,
          options: {},
        };

        var chartElement<%= i %> = document.getElementById("chart<%= i %>");
        if (chartElement<%= i %>) {
          new Chart(chartElement<%= i %>, configChart<%= i %>);
        }
      </script>
    <% end %>
  </div>
</div>