<h1 class="text-2xl mt-4 text-secondary">
  Dashboard
</h1>

<div class="ml-2 mt-4 lg:mt-0">
  <%= form_tag dashboard_path, method: :get, class: 'flex-fill d-flex flex-row flex-wrap mt-4 gap-4 mb-4' do %>

    <div>
      <%= label_tag :attribut_id, "Attribut", class: "label" %>
      <%= select_tag :attribut_id, 
                      options_from_collection_for_select(@column_names, 'id', 'name', params[:attribut_id]),
                      include_blank: true,
                      class: 'form-select w-100',
                      required: true %>
    </div>

    <div>
      <%= label_tag :type, t('misc.type') %>
      <%= select_tag :type, 
                options_for_select(@types, params[:type]),
                include_blank: true,
                class: 'form-select w-100' %>
    </div>

    <% unless params[:type] == 'scatter' %>
      <div>
        <%= check_box_tag :sort, 1, params[:sort] %>
        <%= label_tag :sort, t('misc.sort') %>
        <br>

        <div class="btn-group btn-group-sm flex-row" role="group" aria-label="Basic radio toggle button group">
          <%= radio_button_tag :order, 'asc', params[:order] == 'asc', class:'btn-check', id:"btnradio1"%>
          <label class="btn btn-outline-primary" for="btnradio1"><%= t('misc.ascending') %></label>
          <%= radio_button_tag :order, 'desc', params[:order] == 'desc', class:'btn-check', id:"btnradio2" %>
          <label class="btn btn-outline-primary" for="btnradio2"><%= t('misc.descending') %></label>
        </div>
      </div>
    <% end %>

    <div>
      <%= label_tag :filtre, t('tables.filter') %>
      <%= select_tag :filtre, options_from_collection_for_select(@filters, 'slug', 'name', params[:filtre]), include_blank: true, class: 'form-select'%>
    </div>

    <%= submit_tag "Lancer", class: 'btn btn-outline-primary mt-4', 'data-turbo': false %>
  <% end %>

  <canvas id="chart"></canvas> 
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const data = {
    labels: <%= @results.keys.to_json.html_safe %>,
    datasets: [
      {
        label: "<%= "#{@table.size}  #{@table.name_pluralized}" if @table %>",
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(75, 192, 192)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)',
          "hsl(252, 82.9%, 67.8%)",
          'rgb(255,159,64)',
          'rgb(201, 203, 207)',
          ],
        data: <%= @results.values.to_json.html_safe %>,
      },
    ],
  };

  const configChart = {
    type: "<%= params[:type] %>",
    data,
    options: {},
  };

  var chart = new Chart(
    document.getElementById("chart"),
    configChart
  );
</script>