<h1 class="text-2xl mt-4">Statistiques</h1>

<div class="d-flex justify-items-center flex-wrap gap-5">
  <%= form_tag stats_path, method: :get, class: 'flex-fill d-flex flex-column mt-4 gap-4' do %>
    <div>
      <%= label_tag :collection_id, "Collection", class: "label" %>
      <%= select_tag :collection_id,
                      options_from_collection_for_select(@tables, 'id', 'name', params[:collection_id]),
                      include_blank: true,
                      class: 'form-select w-100', 
                      onchange: 'this.form.submit()' %>
    </div>

    <% if params[:collection_id].present? %>
      <div>
        <%= label_tag :attribut_id, "Attribut", class: "label" %>
        <%= select_tag :attribut_id, 
                        options_from_collection_for_select(@column_names, 'id', 'name', params[:attribut_id]),
                        include_blank: true,
                        class: 'form-select w-100', 
                        onchange: 'this.form.submit()' %>
      </div>

      <% if params[:attribut_id].present? %>
        <div class="btn-group btn-group-sm flex-row" role="group" aria-label="Basic radio toggle button group">
          <%= radio_button_tag :type, 'line', params[:type] == 'line', class:'btn-check', id:"btnradio1", onchange: 'this.form.submit()' %>
          <label class="btn btn-outline-primary" for="btnradio1">Lignes</label>
          <%= radio_button_tag :type, 'bar', params[:type] == 'bar', class:'btn-check', id:"btnradio2", onchange: 'this.form.submit()' %>
          <label class="btn btn-outline-primary" for="btnradio2">Barres</label>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div class="flex-fill ml-2 mt-4 lg:mt-0">
    <canvas id="chart"></canvas> 
  </div>
</div>

<!-- Required chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart -->
<script>
  const data = {
    labels: <%= @results.keys.to_json.html_safe %>,
    datasets: [
      {
        label: "<%= @results.values.sum %> <%= @table.name.pluralize if @table %>",
        backgroundColor: "hsl(252, 82.9%, 67.8%)",
        borderColor: "hsl(252, 82.9%, 67.8%)",
        data: <%= @results.values.to_json.html_safe %>,
      },
    ],
  };

  const configChart = {
    type: "<%= params[:type] %>",
    data,
    options: {},
  };

  var chart = new Chart(
    document.getElementById("chart"),
    configChart
  );
</script>