<div class="<%= aperçu ? 'phone-content' : 'border rounded shadow-sm p-3 p-sm-4' %>">
  <div class="<%= aperçu ? 'px-1' : 'row row-cols-sm-2 row-cols-lg-3' %>">
    <% @table.fields.ordered.each_with_index do |field, index| %>
      <% field_name = "[data][#{@record_index}][#{field.id}]" %> 
      <% value = field.values.find_by(record_index: @record_index) %> 
      <% field_value = value.data if value %>

      <fieldset class="mb-3">

        <label class="fw-bold d-flex gap-2">
          <span class="material-symbols-outlined text-black-50">
            <%= field.icon %>
          </span>
          <%= (field.obligatoire ? field.name.humanize.insert(0, '* ') : field.name.humanize) %>
        </label>

        <% case field.datatype 
          when 'Texte' %>
          <%= text_field_tag field_name, field_value, autofocus: (index == 0), class: 'form-control w-100', required: field.obligatoire, 'data-testid': field.name %>
        <% when 'Nombre' %>
          <%= number_field_tag field_name, field_value, class: 'form-control w-100', required: field.obligatoire, 'data-testid': field.name %>
        <% when 'Euros' %>
          <%= number_field_tag field_name, field_value, step: 'any', class: 'form-control w-100', placeholder: "€", required: field.obligatoire, 'data-testid': field.name %>
        <% when 'Date' %>
          <%= text_field_tag field_name, field_value, class: 'form-control w-100', type: 'date', required: field.obligatoire, 'data-testid': field.name %>
        <% when 'Oui_non?' %>
          <div class="d-flex flex-row gap-2 mt-2">
            <%= radio_button_tag field_name, 'Oui', (field_value == 'Oui'), class:'form-check-input', 'data-testid': field.name %> <%= t('misc.Oui') %>
            <%= radio_button_tag field_name, 'Non', (field_value == 'Non'), class:'form-check-input ms-3', 'data-testid': field.name %> <%= t('misc.Non') %>
          </div>
        <% when 'Liste' %>
          <%= select_tag field_name, options_for_select(field.items_splitted, field_value), include_blank: true, class: 'form-select w-100', required: field.obligatoire, 'data-testid': field.name %>
        <% when 'Formule' %>
          <% if params[:record_index].present? %>
            <% field_value = field.evaluate(@table, @record_index) %>
          <% else %>
            <% field_value = 'n/a' %>
          <% end %>
          <%= text_field_tag field_name, field_value, disabled: true, class: 'form-control w-100', required: field.obligatoire, 'data-testid': field.name %>
        <% when 'Signature' %>
          <div id="signature">
            <%= hidden_field_tag field_name, field_value, 'data-testid': "signature" %>
            <canvas id="signature-pad" class="form-control" width=400 height=200></canvas>

            <div style="margin-top: 8px;">
              <button id="save" class="btn btn-sm btn-outline-success"><%= t('tables.validate_signature') %></button>
              <a id="clear" class="btn btn-sm btn-outline-dark"><%= t('tables.clear') %></a>
            </div>
          </div>

          <%= render partial:'partials/script_signature' %>
        <% when 'Texte_long' %>
          <%= text_area_tag field_name, field_value, autofocus: (index == 0),col: 10, row: 10, class: 'form-control w-100', 'data-testid': field.name %>
        <% when 'Texte_riche' %>
          <%= rich_text_area_tag field_name, field_value, required: field.obligatoire, 'data-testid': field.name %>
        <% when 'Fichier', 'Image', 'PDF' %>
          <% if field_value %>
            <%= link_to Blob.find(field_value).file_attachment.filename, url_for(Blob.find(field_value).file), class:'w-100', required: field.obligatoire, 'data-testid': field.name %>
          <% end %>
          <br>
          <%= file_field_tag field_name, class:'w-100', required: field.obligatoire, 'data-testid': field.name %>
        <% when 'Statut' %>
          <% items = field.items_splitted.map{|e| e.split(':')}.to_h %>
          <%= select_tag field_name, options_for_select(items.keys, field_value), include_blank: true, class: 'form-select w-100', required: field.obligatoire, 'data-testid': field.name %>
        <% when 'URL' %>
          <%= text_field_tag field_name, field_value, autofocus: (index == 0), class: 'form-control w-100', required: field.obligatoire, 'data-testid': field.name %>
        <% when 'Couleur' %>
          <br>
          <%= color_field_tag field_name, field_value, class: 'form-control w-100', required: field.obligatoire, 'data-testid': field.name %>
        <% when 'GPS' %>
          <div data-controller="geolocation" class="input-group flex-row">
            <%= text_field_tag field_name, field_value, class: 'form-control', 'data-geolocation-target': 'gpstextfield', required: field.obligatoire, 'data-testid': field.name %>
            <button type="button" data-action="click->geolocation#search" class="btn btn-outline-primary btn-sm p-0" title=<%= t('tables.actual_position') %>>
              <span class="material-symbols-outlined mt-1 px-2">
                my_location
              </span>
            </button>
          </div>
          <p class="form-text">
            <%= t('tables.wait') %>
          </p>
        <% when 'Collection' %>
          <%# Checker si la liste vient d'une autre table %>
          <% if field.is_valid_table_params %>
            <% if params[:relation].present? && Relation.find(params[:relation]).field_id == field.id %>
              <% field_value = params[:value] %>
            <% end %>
            <div class="d-flex align-items-center">
              <%= select_tag field_name, options_for_select(field.populate_linked_table.invert, field_value), include_blank: true, class: 'form-select w-100', required: field.obligatoire, 'data-testid': field.name %> 
              <%= link_to table_path(Table.find(field.relation.relation_with_id)), target: '_blank' do %>
              <% end %>
            </div>
          <% else %>
            <%= select_tag field_name, options_for_select(["Aucune relation trouvée"]), class: 'form-control w-100', required: field.obligatoire, 'data-testid': field.name %>
          <% end %>
        <% when 'Utilisateur' %>
          <%= select_tag field_name, options_for_select(@table.users.pluck(:name), field_value), include_blank: true, class: 'form-select w-100', required: field.obligatoire, 'data-testid': field.name %>
        <% when 'Vidéo_YouTube' %>
          <%= text_field_tag field_name, field_value, autofocus: (index == 0), class: 'form-control w-100', required: field.obligatoire, placeholder: "ex: https://www.youtube.com/embed/eY67d0_ywiE", 'data-testid': field.name, title: t('tables.youtube_hint') %>
        <% when 'QRCode', 'Distance' %>
          <%= text_field_tag field_name, field_value, class: 'form-control w-100', disabled: true, 'data-testid': field.name %>
        <% when 'UUID' %>
          <%= text_field_tag field_name, field_value || SecureRandom.uuid, class: 'form-control w-100', required: field.obligatoire, 'data-testid': field.name %>
        <% when 'Tags' %>
          <%= text_field_tag field_name, field_value, class: 'form-control w-100', required: field.obligatoire, 'data-testid': field.name %>
        <% when 'Email' %>
          <%= email_field_tag field_name, field_value, class: 'form-control w-100', required: field.obligatoire, 'data-testid': field.name %>
        <% when 'QRScan' %>
          <video id="video" class="form-control w-100 p-0 mb-1"></video>

          <div id="sourceSelectPanel" class="d-flex align-items-center" style="display:none; gap: 4px;">
            <label for="sourceSelect">Source:</label>
            <select id="sourceSelect" class="form-select w-100"></select>
          </div>

          <div class="my-2 d-flex" style="gap: 4px;">
            <a class="btn btn-sm btn-outline-success w-100" id="startButton"><%= t('tables.scan') %></a>
            <a class="btn btn-sm btn-outline-dark w-100" id="resetButton"><%= t('tables.clear') %></a>
          </div>

          <%= text_field_tag field_name, field_value, class: 'form-control w-100 mt-4', required: field.obligatoire, placeholder: t('tables.no_scan'), 'data-testid': field.name %>

          <%= render partial:'partials/script_qrscan', locals: {field_name:} %>
        <% when 'Stars' %>
          <div class="d-flex flex-row flex-wrap gap-2 mt-2">
            <% 1.upto(5) do |i| %>
              <div class="d-flex flex-row gap-1">
                <%= radio_button_tag field_name, i, (!field_value.nil? && field_value.to_i == i), 'data-testid': field.name %>
                <% i.times do %>
                  <i class="bi bi-star-fill"></i>
                <% end %>
              </div>
            <% end %> 
          </div>
        <% when 'Météo' %>
          <div data-controller="weather" class="input-group flex-row">
            <%= text_field_tag field_name, field_value, class: 'form-control', 'data-weather-target': 'weathertextfield', required: field.obligatoire, 'data-testid': field.name %>
            <button type="button" data-action="click->weather#search" class="btn btn-outline-primary btn-sm p-0" title=<%= t('tables.acutal_position') %>>
              <span class="material-symbols-outlined mt-1 px-2">
                my_location
              </span>
            </button>
          </div>
          <p class="form-text">
            <%= t('tables.wait') %>
          </p>
        <% end %>
      </fieldset>
    <% end %>
  </div>

  <% if aperçu && @table.fields.count.zero? %>
    <p class="mt-4 px-1"><%= t('tables.no_attribute') %></p>
  <% end %>
  <div class="d-flex flex-wrap align-items-center gap-2 mt-4 <%= aperçu ? 'px-1' : '' %>">
    <%= submit_tag t('scaffold.submit'), id:'submit', class: 'btn btn-outline-primary' %>
    <%= link_to_unless aperçu, t('scaffold.cancel'), table_path(@table) %>
  </div>
</div>