<%= bootstrap_form_for(@table) do |f| %>

    <%= f.text_field :name, required: true, label: "Nom de la table", placeholder: 'Ex: Articles', autofocus: true, class:'mb-4' %>

    <%= f.form_group do %>
        <div class="mb-4">
            <%= f.check_box :lifo, label: "Trié ?" %>
            <div id="lifo" class="form-text">Afficher le contenu de la table trié par date de modification (le dernier modifié en haut)</div>
        </div>

        <%= f.check_box :notification, label: "Notification ?" %>
        <div id="notification" class="form-text">Si vous voulez être notifié à chaque nouvel ajout de données</div>
    <% end %>

    <%= f.submit @table.new_record? ? "Continuer" : "Modifier cette table", class: 'btn btn-outline-success mt-4' %>
<% end %>
