<%= form_for(@table) do |f| %>

  <%= f.label :name, "Nom de la table" %>
  <%= f.text_field :name, required: true, placeholder: 'Ex: Articles, Interventions, Chantiers...', autofocus: true, class:' form-control mb-4' %>

  <div class="mb-4">
    <%= f.check_box :lifo %>
    <%= f.label :lifo, "Trier ?" %>
    <div id="lifo" class="form-text">
      Afficher le contenu de la table trié par date de modification (le dernier élément modifié apparaît en haut de la liste)
    </div>
  </div>

  <div class="mb-4">
    <%= f.check_box :notification %>
    <%= f.label :notification, "Notification ?" %>
    <div class="form-text">
      Si vous voulez être notifié à chaque nouvel ajout d'un nouvel élément dans la collection
    </div>
  </div>

  <%= f.submit @table.new_record? ? "Continuer" : "Modifier cette table", class: 'btn btn-outline-success' %>
<% end %>
