<div class="d-block d-md-flex justify-content-between gap-5">
  <%= form_for(@table, class: 'flex-grow-1 mt-4') do |f| %>

    <%= f.label :name, "Nom" %>
    <%= f.text_field :name, required: true,
                      autofocus: true,
                      autocomplete: :off, 
                      class: 'form-control mt-2 w-sm-50',
                      disabled: action_name == "edit",
                      'data-testid': 'Name' %>
    <p class="form-text">
      ex: Article, Intervention, Technicien...
    </p>

    <%= label_tag :model_id, "Modèle d'objet" %>
    <%= select_tag :model_id, options_from_collection_for_select(@modèles, 'id', 'name_with_fields'), class: 'form-control mb-4 w-sm-50', include_blank: true %>

    <div class="form-check mb-4">
      <%= f.check_box :lifo, class: 'form-check-input' %>
      <%= f.label :lifo, "Trier ?", class: 'form-check-label' %>
      <p class="form-text">
        Trier la collection par date de modification (le dernier objet modifié apparaît en haut de la collection)
      </p>
    </div>

    <div class="form-check mb-4">
      <%= f.check_box :notification, class: 'form-check-input' %>
      <%= f.label :notification, "Notification ?", class: 'form-check-label' %>
      <p class="form-text">
        Si vous voulez être notifié à chaque ajout d'un nouvel objet dans cette collection
      </p>
    </div>

    <div class="form-check mb-4">
      <%= f.check_box :show_on_startup_screen, class: 'form-check-input' %>
      <%= f.label :show_on_startup_screen, "Collection favorite ?", class: 'form-check-label' %>
      <p class="form-text">
        Pour voir cette collection directement sur la page d'accueil
      </p>
    </div>

    <%= f.submit @table.new_record? ? "Continuer" : "Modifier cet objet", class: 'btn btn-outline-primary' %>
  <% end %>
</div>
