<div id='map' style='height: 70vh;'></div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoicGhpbG5vdWciLCJhIjoiY2pvNXRyczhjMDFkajNxcGVmNHZtcHZ4OSJ9.vcFMjboSUDUUg--tDsgapg';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
  });

  <% @table.values.joins(:field).where(record_index: @records, 'field.datatype': 'GPS').each_with_index do |record, index| %>
    <% unless record.data.empty? %>
      var lng = <%= record.data.split(',').last.to_f %>
      var lat = <%= record.data.split(',').first.to_f %>
      var marker = new mapboxgl.Marker({ color: "#FF0000"})
        .setLngLat([lng, lat])
        .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
        .setHTML("<a id='pin' href=<%= details_path(@table.slug, record_index: record.record_index) %> class='text-decoration-none text-reset'><h1 class='text-center mb-4'><%= @data[index].first %></h1><p class=''><%= @data[index].drop(1).join(', ') %></p></a>"))
        .addTo(map);
    <% end %>
  <% end %>

  map.fitBounds([
    [<%= @lng.min %> - 0.25, <%= @lat.min %> - 0.25],
    [<%= @lng.max %> + 0.25, <%= @lat.max %> + 0.25]
  ]);
  map.addControl(new mapboxgl.FullscreenControl());
  map.addControl(new mapboxgl.NavigationControl());
  
  setTimeout(function(){ map.setLayoutProperty('country-label', 'text-field', ['get', 'name_fr']); }, 3000);
</script>