<%= turbo_frame_tag "partage_frame" do %>
  <h2 class="text-primary mt-3">
    Partager l'Objet '<%= @table.name.humanize %>' avec un autre utilisateur
  </h2>

  <%= form_for :user, url: '/add_user_do' do %>
    <%= hidden_field_tag :id, params[:id] %>

    <h4>Choisissez l'utilisateur avec qui vous souhaitez partager cet Objet</h4>

    <div class="col-sm-5">
      <% users_not_in = User.where.not(id: @table.users.pluck(:id)).where(id: current_user.tables.map { |t| t.users.pluck(:id)}.flatten.uniq).pluck(:email) %>
      <%= select_tag :email, options_for_select(users_not_in), include_blank: true, class: 'form-select w-100 mb-4' %>

      <%= label_tag :email, "Ou entrez son email s'il n'a pas encore de compte" %>
      <%= text_field_tag :email, nil, class:'form-control w-100' %>
      <br>

      <%= label_tag :role, 'Rôle' %>
      <%= select_tag :role, options_for_select(TablesUser.roles.keys.reject { |i| i == "Propriétaire" }), class:'form-select', required: true %>
      <br>
      <%= submit_tag "Partager", class: 'btn btn-outline-primary', 'data-turbo-frame': "_top" %>
    </div>
  <% end %>
<% end %>