<h1 class="text-primary">
  Partager la table '<%= @table.name.humanize %>' avec un autre utilisateur
</h1>
<br>

<%= form_for :user, url: '/add_user_do' do %>

  <%= hidden_field_tag :id, params[:id] %>

  <div>
    <div class="col-sm-5">
      <h4>Entrez l'adresse mail de l'utilisateur avec qui vous souhaitez pargager cette table.</h4>
      <i><small>Si l'utilisateur n'a pas de compte, <%# link_to "créez-lui un compte maintenant", new_registration_path(user) %></small></i>
      <br><br>
      <%= label_tag :email %>
      <%= text_field_tag :email, nil, class:'form-control w-100', required: true %>
      <%= label_tag :role %>
      <%= select_tag :role, options_for_select(TablesUser.roles.keys.reject { |i| i == "propriétaire" }), class:'form-select', required: true %>
      <br>
      <%= submit_tag "Partager", class: 'btn btn-outline-success' %>
    </div>
  </div>
<% end %>