<h1 class="text-primary mb-4">
  Exporter la table '<%= @table.name.humanize %>'
</h1>

<%= form_tag(action: "export_do", method: :get, format: :csv) do %>

  <%= hidden_field_tag :id, params[:id] %>

  <p>Exporter les données modifiées</p>

  <div class="d-flex flex-wrap gap-4 mb-4">
    <div>
      <%= label :date_debut, "du" %>
      <%= text_field_tag :debut, params[:debut], type: 'date', class: 'form-control' %>
    </div>
    <div>
      <%= label :date_fin, "au " %>
      <%= text_field_tag :fin, params[:fin], type: 'date', class: 'form-control' %>
    </div>
  </div>

  <%= submit_tag "Exporter", class: 'btn btn-outline-success' %>
<% end %>
