<h1 class="text-primary mb-4">
  <i class="glyphicon glyphicon-upload"></i> 
  Exporter la table '<%= @table.name.humanize %>'
</h1>

<%= form_tag(action: "export_do", method: :get, format: :csv) do %>

  <%= hidden_field_tag :id, params[:id] %>

  <div class="w-50">
    <%= label :date_debut, "Exporter les données modifiées du" %>
    <%= text_field_tag :debut, params[:debut], type: 'date', class: 'form-control' %>

    <%= label :date_fin, "au " %>
    <%= text_field_tag :fin, params[:fin], type: 'date', class: 'form-control' %>
  </div>
  <br>

  <div class="actions">
    <%= submit_tag "Exporter", class: 'btn btn-outline-success' %>
  </div>
<% end %>
