<h1 class="text-primary my-4">
  <%= "#{params[:record_index] ? 'Modification' : 'Ajout'} '#{@table.name}'" %>
</h1>
<%= form_tag fill_do_path(relation: params[:relation], value: params[:value]), multipart: true do %>

  <%= hidden_field_tag :table_id, @table.id %>

  <%= render partial: 'fill_form', locals: {demo: false} %>

  <div class="d-flex flex-wrap align-items-center gap-2 mt-4">
    <%= submit_tag "Enregistrer", class: 'btn btn-outline-primary'%>
    <%= link_to "Annuler", request.referer %>
  </div>
<% end %>