<h1 class="text-primary mb-4">Formulaire '<%= @table.name.humanize %>'</h1>

<%= form_tag fill_do_path, multipart: true do %>

  <%= hidden_field_tag :table_id, @table.id %>

	<% @table.fields.each_with_index do |field, index| %>
    <% field_name = "[data][#{@record_index}][#{field.id}]" %> 
    <% value = field.values.find_by(record_index: @record_index) %> 
    <% field_value = value.data if value %>

    <fieldset class="mb-3">

      <label class="fw-bold">
        <%= (field.obligatoire ? field.name.humanize.insert(0, '* ') : field.name.humanize) %>
      </label>

      <div class="row">
        <div class="col-sm-4"> 
          <% case field.datatype 
            when 'Texte' %>
            <%= text_field_tag field_name, field_value, autofocus: (index == 0), class: 'form-control', 'data-testid': field.name %>
          <% when 'Nombre' %>
            <%= number_field_tag field_name, field_value, class: 'form-control', 'data-testid': field.name %>
          <% when 'Euros' %>
            <%= number_field_tag field_name, field_value, step: 'any', class: 'form-control', placeholder: "€", 'data-testid': field.name %>
          <% when 'Date' %>
            <%= text_field_tag field_name, field_value, class: 'form-control', type: 'date', 'data-testid': field.name %>
          <% when 'Oui_non?' %>
            <%= radio_button_tag field_name, 'Oui', (field_value == 'Oui'), 'data-testid': field.name %> Oui 
            <%= radio_button_tag field_name, 'Non', (field_value == 'Non'), 'data-testid': field.name %> Non
          <% when 'Liste' %>
            <%# Checker si la liste vient d'une autre table %>
            <% if field.items.include?('[') && field.items.include?(']') %>
              <% sources = field.items.tr('[]','').split('.') %>
              <% table = Table.find_by(name: sources.first) %>
              <% source_field = table.fields.find_by(name: sources.last) %>
              <%= select_tag field_name, options_for_select(source_field.values.pluck(:data).sort, field_value), include_blank: true, class: 'form-select', 'data-testid': field.name %>
            <% else %>
              <%= select_tag field_name, options_for_select(field.items.split(","), field_value), include_blank: true, class: 'form-select', 'data-testid': field.name %>
            <% end %>
          <% when 'Formule' %>
            <% if params[:record_index].present? %>
              <% field_value = field.evaluate(@table, @record_index) %>
            <% else %>
              <% field_value = 'n/a' %>
            <% end %>
            <%= text_field_tag field_name, field_value, disabled: true, class: 'form-control', 'data-testid': field.name %>
          <% when 'Signature' %>
            <div class="sig" disabled=true>
              <canvas class="pad" width="400" height="53"></canvas>
              <%= hidden_field_tag field_name, nil, class: "output", 'data-testid': field.name %>
            </div>
          <% when 'Texte_long' %>
            <%= text_area_tag field_name, field_value, autofocus: (index == 0),col: 10, row: 10, class: 'form-control', 'data-testid': field.name %>
          <% else %>
            <% if field_value %>
              <%= link_to Blob.find(field_value).file_attachment.filename, url_for(Blob.find(field_value).file), 'data-testid': field.name %>
            <% end %>
            <%= file_field_tag field_name, 'data-testid': field.name %>
          <% end %>
        </div>
      </div>
    </fieldset>
  <% end %>
  <br>

  <div class="d-flex flex-wrap align-items-center gap-2">
    <%= submit_tag "Enregistrer", class: 'btn btn-outline-success'%>
    <%= link_to "Voir les données de '#{@table.name}'", @table %>
  </div>
<% end %>