<h1 class="text-primary mb-4">Formulaire '<%= @table.name.humanize %>'</h1>

<%= form_tag fill_do_path, multipart: true do %>

  <%= hidden_field_tag :table_id, @table.id %>

	<% @table.fields.each_with_index do |field, index| %>
    <% field_name = "[data][#{@record_index}][#{field.id}]" %> 
    <% value = field.values.find_by(record_index: @record_index) %> 
    <% field_value = value.data if value %>

    <fieldset class="mb-3">

      <label class="fw-bold">
        <%= (field.obligatoire ? field.name.humanize.insert(0, '* ') : field.name.humanize) %>
      </label>

      <div class="row">
        <div class="col-sm-4"> 
          <% case field.datatype 
            when 'Texte' %>
            <%= text_field_tag field_name, field_value, autofocus: (index == 0), class: 'form-control' %>
          <% when 'Nombre' %>
            <%= number_field_tag field_name, field_value, class: 'form-control' %>
          <% when 'Euros' %>
            <%= number_field_tag field_name, field_value, step: 'any', class: 'form-control', placeholder: "€" %>
          <% when 'Date' %>
            <%= text_field_tag field_name, field_value, class: 'form-control', type: 'date' %>
          <% when 'Oui_non?' %>
            <%= radio_button_tag field_name, 'Oui', (field_value == 'Oui') %> Oui 
            <%= radio_button_tag field_name, 'Non', (field_value == 'Non') %> Non
          <% when 'Liste' %>
            <%= select_tag field_name, options_for_select(field.items.split(","), field_value), include_blank: true, class: 'form-select' %>
          <% when 'Formule' %>
            <% field_value = field.evaluate(@table, @record_index) %>
            <%= text_field_tag field_name, field_value, disabled: true, class: 'form-control' %>
          <% when 'Signature' %>
            <div class="sig" disabled=true>
              <canvas class="pad" width="400" height="53"></canvas>
              <%= hidden_field_tag field_name, nil, class: "output" %>
            </div>
          <% when 'Texte_long' %>
            <%= text_area_tag field_name, field_value, autofocus: (index == 0),col: 10, row: 10, class: 'form-control' %>
          <% else %>
            <% if field_value %>
              <%= link_to Blob.find(field_value).file_attachment.filename, url_for(Blob.find(field_value).file) %>
            <% end %>
            <%= file_field_tag field_name %>
          <% end %>
        </div>
      </div>
    </fieldset>
  <% end %>
  <br>

  <div class="d-flex flex-wrap align-items-center gap-2">
    <%= submit_tag "Enregistrer", class: 'btn btn-outline-success'%>
    <%= link_to "Voir les données de '#{@table.name}'", @table %>
  </div>
<% end %>