<h2>
    <span class="fa fa-table"></span>
    <%= @table.name.humanize %>
</h2>
<br>

<%= form_tag(url: fill_do_path, multipart: true) do %>

  <%= hidden_field_tag :table_id, @table.id %>

  <% @table.fields.each_with_index do |field, index| %>
      <% field_name = "[data][#{@record_index}][#{field.id}]" %> 
      <% value = field.values.find_by(record_index:@record_index) %> 
      <% field_value = value.data if value %>
      <% tabindex = index + 1 %>

      <fieldset class="form-group">

          <label>
            <%= truncate((field.obligatoire ? field.name.upcase.insert(0, '* ') : field.name), length:20) %>
          </label>

          <div class="input-group-lg">
              <% if field.datatype == "Texte" %>  
                  <%= text_field_tag field_name, field_value, autofocus: (index == 0), class: 'form-control', tabindex:"#{tabindex}" %>
              <% elsif field.datatype == "Nombre" %>
                  <%= number_field_tag field_name, field_value, class: 'form-control', tabindex:"#{tabindex}" %>
              <% elsif field.datatype == "Euros" %>  
                  <%= number_field_tag field_name, field_value, step: 'any', class: 'form-control', tabindex:"#{tabindex}" %> €
              <% elsif field.datatype == "Date" %>
                  <%= date_field_tag field_name, field_value, class: 'form-control', tabindex:"#{tabindex}" %>
              <% elsif field.datatype == "Oui_non?" %>
                  <%= radio_button_tag field_name, 'Oui', (field_value == 'Oui'), class: 'form-control' %> Oui
                  <%= radio_button_tag field_name, 'Non', (field_value == 'Non'), class: 'form-control' %> Non
              <% elsif field.datatype == "Liste" %>
                  <%= select_tag field_name, options_for_select(field.items.split(","), field_value), 
                        include_blank: true, class: 'form-control', tabindex:"#{tabindex}" %>
              <% elsif field.datatype == "Formule" %>
                  <% field_value = field.evaluate(@table.values.records_at(@record_index).pluck(:data)) %>
                  <%= text_field_tag field_name, field_value, class: 'form-control', disabled:true, tabindex:"#{tabindex}" %>
              <% elsif field.datatype == "Fichier" %>
                  <%= file_field_tag field_name, class: 'form-control-file', tabindex:"#{tabindex}" %>
                  <br>
              <% elsif field.datatype == "Signature" %>
                  <br>
                  <div class="col-sm-4 sigPad">
                    <div class="sig">
                      <canvas class="pad" height="100"></canvas>
                      <%= hidden_field_tag field_name, nil, class: "output" %>
                    </div>
                  </div>
              <% end %>
          </div>
      </fieldset>
  <% end %>  
  <br>
  <%= submit_tag "Ajouter!", class: 'btn btn-lg btn-block btn-outline-success'%>
<% end %>


