<h1 class="text-info my-4">
  <%= t('scaffold.import') %>
</h1>

<p class="mb-4">
  <%= t('tables.import.instructions').html_safe %>
</p>

<%= form_tag({action: "import_do", method: :post}, multipart: true) do %>
  <%= label_tag :upload, t('tables.import.source'), class:'form-label' %>
  <%= file_field_tag :upload, accept: 'text/csv', class: 'form-control mb-4', required: true %>

  <%= label_tag :col_sep, t('tables.import.column_separator') %>
  <%= select_tag :col_sep, options_for_select([',',';',':','::'], ','), class:'form-select mb-4' %>

  <%= label_tag :table_id, t('tables.import.existing_table?') %>
  <%= select_tag :table_id, options_from_collection_for_select(current_user.tables.order(:name), :id, :name), include_blank: true, class:'form-select' %>
  <p class="form-text">
    <%= t('tables.import.existing_table_instructions').html_safe %>
  </p>


  <%= submit_tag t('scaffold.import'), class: 'btn btn-outline-primary mt-4' %>
<% end %>
