<div class="my-4 d-flex align-items-center text-info gap-2">
  <h1 class="mb-0">
    Objets
  </h1>
</div>

<div class="overflow-x-auto">
  <table class="table table-hover w-100 border align-middle">
    <thead>
      <tr class="table-secondary">
        <th>Nom</th>
        <th>màj</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% if @tables.any? %>
        <% @tables.each do | table | %>
          <tr>
            <td>
            <%= link_to table.name, table, class: ' text-primary' %>
            <% if table.show_on_startup_screen? %>
              <span class="material-symbols-outlined text-primary fs-6">
                diamond
              </span>
            <% end %>
            <br>
            <%= table.field_names %></td>
            <td>
              <%= "il y a #{time_ago_in_words(table.values.maximum(:updated_at))}" unless table.size.zero? %>
            </td>
            <td>
              <% if policy(table).fill? || current_user.compte_démo? %>
                <%= link_to "(+) #{table.name}", fill_path(table.slug), title: "Ajouter un nouvel Objet à la collection '#{table.name}'", class: 'btn btn-outline-primary btn-sm me-2 w-100' %>
              <% end %>
            </td>
            <td style="text-align: right; white-space: nowrap;">
              <% if policy(table).show_attrs? %>
                <%= link_to 'Modifier Attributs', show_attrs_path(id: table.slug), title:"Modifier les attributs de l'Objet '#{table.name}'", class: 'btn btn-outline-success btn-sm me-2' %>
              <% end %>
              <% if policy(table).logs? %>
                <%= link_to 'Activité', logs_path(id: table.slug), title:"Historique des modifications de l'Objet '#{table.name}'", class: 'btn btn-outline-secondary btn-sm me-2' %>
              <% end %>
              <% if policy(table).destroy? || current_user.compte_démo? %>
                <%= link_to 'X', table, title: "Supprimer l'Objet #{table.name}", 'data-turbo-method': :delete, 'data-turbo-confirm': "Êtes-vous certain.e de vouloir supprimer l'Objet #{table.name} ? Toutes les données enregistrées dedans seront perdues !", class: 'btn btn-outline-danger btn-sm' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan=7>
            <i>
              Aucun objet pour l'instant...
            </i>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="mt-3">
  <%= link_to new_table_path, class: 'btn btn-outline-primary me-2' do %>
    Nouvel Objet
  <% end %>

  <%= link_to import_path, class: 'btn btn-outline-info' do %>
    Importer
  <% end %>
</div>