<div class="my-4 d-flex align-items-center text-dark gap-2">
  <h1 class="mb-0">
    <%= t('tables.title') %>
  </h1>
</div>

<div class="overflow-x-auto">
  <table class="table table-hover w-100 border align-middle">
    <thead>
      <tr class="table-light">
        <% if current_user.admin? && @tables.where(show_on_startup_screen: true).or(@tables.where(public: true)).any? %>
          <th></th>
        <% end %>
        <th><%= t('scaffold.name') %></th>
        <th><%= t('tables.records') %></th>
        <th><%= t('scaffold.updated_at') %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% if @tables.any? %>
        <% @tables.each do | table | %>
          <tr>
            <% if current_user.admin? && @tables.where(show_on_startup_screen: true).or(@tables.where(public: true)).any? %>
              <td>
                <% if table.show_on_startup_screen? %>
                  <%= link_to table.name do %>
                    <span class="material-symbols-outlined text-primary fs-6">
                      home
                    </span>
                  <% end %>
                <% end %>
                <% if table.public? %>
                  <%= link_to fill_path(table), target: :_blank do %>
                    <span class="material-symbols-outlined text-primary fs-6" title="<%= t('tables.public_form_tooltip') %>">
                      public
                    </span>
                  <% end %>
                <% end %>
              </td>
            <% end%>
            <td>
              <%= link_to table.name, table, class: 'text-primary' %>
              <br>
              <%= table.field_names %>
            </td>
            <td>
              <%= table.record_index %>
            </td>
            <td>
              <%= t('scaffold.time_ago', time: time_ago_in_words(table.values.maximum(:updated_at))) unless table.size.zero? %>
            </td>
            <td>
              <% if policy(table).fill? || current_user.compte_démo? %>
                <%= link_to "(+) #{table.name}", fill_path(table.slug), title: t('tables.add_new', name: table.name), class: 'btn btn-outline-primary btn-sm me-2 w-100' %>
              <% end %>
            </td>
            <td style="text-align: right; white-space: nowrap;">
              <% if policy(table).show_attrs? %>
                <%= link_to t('tables.modify_attributes'), show_attrs_path(id: table.slug), title: t('tables.modify_attributes_title', name: table.name), class: 'btn btn-outline-success btn-sm me-2' %>
              <% end %>
              <% if policy(table).edit? || current_user.compte_démo? %>
                <%= link_to t('tables.modify_object'), edit_table_path(id: table), title: t('tables.modify_object_title', name: table.name), class: 'btn btn-outline-warning btn-sm me-2' %> 
              <% end %>
              <% if policy(table).logs? %>
                <%= link_to t('tables.activity'), logs_path(id: table.slug), title: t('tables.activity_title', name: table.name), class: 'btn btn-outline-secondary btn-sm me-2' %>
              <% end %>
              <% if policy(table).destroy? || current_user.compte_démo? %>
                <%= link_to 'X', table, title: t('tables.delete_table', name: table.name), 'data-turbo-method': :delete, 'data-turbo-confirm': t('tables.delete_confirm', name: table.name), class: 'btn btn-outline-danger btn-sm' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan=7>
            <i>
              <%= t('tables.no_tables') %>
            </i>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="mt-3">
  <% if policy(Table).new? %>
    <%= link_to new_table_path, class: 'btn btn-outline-primary me-2' do %>
      <%= t('tables.new') %>
    <% end %>
  <% end %>

  <% if policy(Table).import? %>
    <%= link_to import_path, class: 'btn btn-outline-info' do %>
      <%= t('scaffold.import') %>
    <% end %>
  <% end %>
</div>
