<div class="mb-4">
  <h1 class="text-primary">
    <span class="fa fa-database"></span>
    Tables
  </h1>
</div>

<div class="overflow-x-auto">
  <table class="table table-hover w-100">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Colonnes</th>
        <th>Rôle</th>
        <th class="col-md-2">Partagée avec</th>
        <th>MÀJ</th>
        <th>Lignes</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% if @tables.any? %>
        <% @tables.each do | table | %>
          <% is_owner = table.is_owner?(@current_user) %>
          <tr>
            <td><%= link_to table.name.humanize, table, class: 'fw-bold text-decoration-none' %></td>
            <td><%= table.field_names %></td>
            <td><%= table.role_name(current_user) %></td>
            <td>
              <%= table.shared_with(current_user) %>
              <% if policy(table).partages? %>
                <%= link_to partages_path(table), title: "Partager avec un autre utilisateur" do %>
                  +
                <% end %>
              <% end %>
            </td>
            <td><%= "il y a #{time_ago_in_words(table.values.maximum(:updated_at))}" unless table.size.zero? %></td>
            <td style="text-align: right"><%= table.size %></td>
            <td>
              <% if policy(table).show_attrs? %>
                <%= link_to 'Modifier', show_attrs_path(id: table.slug), title:"Modifier les colonnes", class: 'btn btn-outline-warning btn-sm' %>
              <% end %>
            </td>
            <td>
              <% if policy(table).destroy? %>
                <%= link_to 'X', table, data: {'turbo-method': :delete, 'turbo-confirm': 'Confirmez-vous ?'}, class: 'btn btn-outline-danger btn-sm' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan=7>
            <i>
              Aucune table partagée pour l'instant...
              <br>
              Pour en créer une, utilisez le bouton 'Nouvelle Table' ci-dessous
            </i>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to new_table_path, class: 'btn btn-outline-primary' do %>
  Nouvelle Table
<% end %>

<%= link_to import_path, class: 'btn btn-outline-dark' do %>
  Importer
<% end %>
