<%= turbo_frame_tag "audit_frame" do %>

  <div class="my-4 d-flex align-items-center text-secondary gap-2">
    <h1 class="mb-0 d-inline">
      Audit des modifications (<%= @table.name %>)
    </h1>
  </div>

  <% if params[:record_index].blank? %>
    <%= form_tag(request.path, method: :get, class: 'd-flex mb-4 gap-4 align-items-end') do %>

      <div>
        <%= label_tag "Utilisateur" %>
        <%= select_tag :user_id, options_from_collection_for_select(@table.users, "id", "name", params[:user_id]), include_blank:true, onchange: 'this.form.submit()', class:'form-select' %>
      </div>

      <%= submit_tag 'Filtrer', class: 'btn btn-outline-primary' %>
    <% end %>
  <% end %>

  <div class="overflow-x-auto">
    <table class="table table-hover table-bordered sticky border">
      <thead>
        <tr>
          <th>Il y a</th>
          <th>Qui</th>
          <th>IP</th>
          <th>Action</th>
          <th>Index</th>
          <th>Attribut</th>
          <th>Avant</th>
          <th>Après</th>
        </tr>
      </thead>

      <tbody>
        <% @audits.includes(:user).each do | log | %>
          <%= render partial: 'tables/log', locals: {log:} %>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= page_entries_info @audits, entry_name: 'changement' %>
  <%= paginate @audits, theme: 'twitter-bootstrap-4' %>
<% end %>