<h2>
  <i class="glyphicon glyphicon-time"></i> 
  Audit des modifications
</h2>
<br>

<p>
  <%= form_tag(request.path, method: :get) do %>

    Utilisateur:
    <%= select_tag :user_id, options_from_collection_for_select(@table.users, "id", "name", params[:user_id]), include_blank:true, onchange: 'this.form.submit()'%>

    Action:
    <%= select_tag :type_action, options_for_select(Log.actions, params[:type_action]), include_blank:true, onchange: 'this.form.submit()' %>

    <%= submit_tag 'Filtrer', class: 'btn btn-outline-success' %>
  <% end %>
</p>
<br>

<table class="table table-hover table-bordered sticky">
  <thead>
    <tr>
      <th>Le</th>
      <th>Qui</th>
      <th>IP</th>
      <th>Colonne</th>
      <th>Données</th>
    </tr>
  </thead>

  <tbody>
    <% @audits.each do |log| %>
      <tr>
        <td>
          <%= l(log.created_at) %>
          (il y a <%= time_ago_in_words(log.created_at) %>)
        </td>
        <td><%= log.try(:user).try(:name).try(:humanize) %></td>
        <td><%= log.remote_address %></td>
        <td><%= Field.find(log.audited_changes['field_id']).name %></td>
        <td><%= log.audited_changes['data'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @audits, renderer: BootstrapPagination::Rails %>
<br>

<%= @audits.size.to_s + " modification".pluralize(@audits.size) %>
<br><br>

<%= @sql %>



