<%= turbo_frame_tag "audit_frame" do %>

  <div class="my-4 d-flex align-items-center text-secondary gap-2">
    <h1 class="mb-0 d-inline">
      <%= t('tables.audit_title', table: @table.name) %>
    </h1>
  </div>

  <% if params[:record_index].blank? %>
    <%= form_tag(request.path, method: :get, class: 'd-flex mb-4 gap-4 align-items-end') do %>

      <div>
        <%= label_tag t('misc.users') %>
        <%= select_tag :user_id, options_from_collection_for_select(@table.users, "id", "name", params[:user_id]), include_blank:true, onchange: 'this.form.submit()', class:'form-select' %>
      </div>

      <%= submit_tag t('misc.filter'), class: 'btn btn-outline-primary' %>
    <% end %>
  <% end %>

  <div class="overflow-x-auto">
    <table class="table table-hover table-bordered border align-middle">
      <thead>
        <tr>
          <th><%= t('misc.time_ago') %></th>
          <th><%= t('misc.who') %></th>
          <th><%= t('misc.ip') %></th>
          <th><%= t('misc.action') %></th>
          <th><%= t('misc.index') %></th>
          <th><%= t('misc.attribute') %></th>
          <th><%= t('misc.before') %></th>
          <th><%= t('misc.after') %></th>
          <th><%= t('misc.comments') %></th>
        </tr>
      </thead>

      <tbody>
        <% @audits.includes(:user).each do | log | %>
          <%= render partial: 'tables/log', locals: {log:} %>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= page_entries_info @audits, entry_name: t('misc.change') %>
  <%= paginate @audits, theme: 'twitter-bootstrap-4' %>
<% end %>