<div class="my-4 d-flex align-items-center text-secondary gap-2">
	<h1 class="mb-0 d-inline">
		Liste des partages de l'Objet '<%= @table.name.humanize %>'
	</h1>
</div>

<div class="overflow-x-auto">
	<table class="table table-striped table-hover table-bordered table-responsive">
		<thead>
			<tr>
				<th>Utilisateur</th>
				<th>Email</th>
				<th>Rôle</th><th />
			</tr>
		</thead>

		<% @table.users.each do |user| %>
			<tr>
				<td><b><%= user.name %></b></td>
				<td><%= user.email %></td>
				<td><%= @table.role_name(user) %></td>
				<td>
					<% unless @table.users[0] == user %>
						<%= link_to "Annuler le partage", annuler_partage_path(@table, user_id:user.id), title:"Annuler ce partage", 
							data: { confirm: 'Vraiment ??' }, class: 'btn btn-outline-danger btn-sm' %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
</div>

<i><small>Seuls les utilisateurs propriétaires peuvent modifier les attributs de l'Objet</small></i>
<br><br>

<% if policy(@table).add_user? %>
	<%= render partial: 'tables/add_user', locals: {others: current_user.others(@table) } %>
<% end %>