<div class="my-4 d-flex align-items-center text-secondary gap-2">
	<h1 class="mb-0 d-inline text-primary">
		<%= t('tables.share_title', table: @table.name) %>
	</h1>
</div>

<div class="overflow-x-auto">
	<table class="table table-hover table-bordered table-responsive border align-middle">
		<thead>
			<tr>
				<th><%= t('misc.user') %></th>
				<th><%= t('misc.email') %></th>
				<th><%= t('misc.role') %></th><th />
			</tr>
		</thead>

		<% @table.users.each do |user| %>
			<tr>
				<td><b><%= user.name %></b></td>
				<td><%= user.email %></td>
				<td><%= @table.role_name(user) %></td>
				<td>
					<% if !@table.propriétaire?(user) && policy(@table).delete_record? %>
						<%= link_to t('security.cancel_share'), annuler_partage_path(@table, user_id:user.id), title:"t('security.cancel_this_share')", 
							data: { confirm: t('misc.confirm?') }, class: 'btn btn-outline-danger btn-sm' %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
</div>

<i><small><%= t('tables.share_hint') %></small></i>
<br><br>

<% if policy(@table).add_user? %>
	<%= render partial: 'tables/add_user', locals: { others: current_user.others(@table) } %>
<% end %>