<div class="my-4 d-flex align-items-center text-danger gap-2">
  <h1 class="mb-0">
    <%= t('security.title') %>
  </h1>
</div>

<% if @tables.any? %>
  <% @tables.each do | table | %>
    <div class="mb-3">
      <div class="d-flex gap-2 align-items-center justify-content-between">
        <h3><%= table.name %></h3>
        <% if policy(table).add_user? %>
          <%= link_to partages_path(table), class: 'btn btn-outline-danger btn-sm', title: t('security.add_user') do %>
            <span class="material-symbols-outlined">
              person_add
            </span>
          <% end %>
        <% end %>
      </div>
      <div class="overflow-x-auto mt-2">
        <table class="table table-hover w-100 border align-middle">
          <thead>
            <tr class="">
              <th class="col-md-2"><%= t('misc.user') %></th>
              <th class="col-md-4"><%= t('misc.email') %></th>
              <th><%= t('misc.role') %></th>
              <th><%= t('misc.show') %></th>
              <th><%= t('misc.create') %></th>
              <th><%= t('scaffold.update') %></th>
              <th><%= t('scaffold.delete') %></th>
              <th class="col-md-2"></th>
            </tr>
          </thead>

          <tbody>
            <% table.users.each do |user| %>
              <tr>
                <td class="<%= 'text-danger fw-bold' if user == current_user %>"><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= table.role_name(user) %></td>
                <td class="text-success fw-bold">
                  <% case table.role_number(user) when 1 %>
                    <span title=<%= t('security.see_own_data_only') %> >✓*</span>
                  <% else %>
                    ✓
                  <% end %>
                </td>
                <td class="text-success fw-bold"><%= table.role_number(user) >= 1 ? "✓" : "-" %></td>
                <td class="text-success fw-bold">
                  <% case table.role_number(user) when 0 %>
                    -
                  <% when 1 %>
                    <span title=<%= t('security.update_own_data_only') %>>✓*</span>
                  <% else %>
                    ✓
                  <% end %>
                </td>
                <td class="text-success fw-bold"><%= table.propriétaire?(user) ? "✓" : "-" %></td>
                <td>
                  <% if !table.propriétaire?(user) && policy(table).delete_record? %>
                    <%= link_to t('security.cancel_share'), annuler_partage_path(table, user_id:user.id), title:t('security.cancel_this_share'), 
                      data: { confirm: 'Confirmez-vous ?' }, class: 'btn btn-outline-danger btn-sm' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% else %>
  <i>
    <%= t('tables.no_tables') %>
  </i>
<% end %>