<h1 class="text-primary mb-4"><%= @table.name.humanize %></h1>

<div class="border rounded shadow p-5">
  <%= render partial: 'partials/détails', locals: {table: @table, record_index: @record_index} %>
</div>

<div class="mt-3">
  <%= link_to "Modifier", fill_url(@table.slug, record_index: @record_index), 'data-testid': "Modifier ligne n°#{ @record_index }" %>
  |
  <%= link_to "Audit Trail", logs_path(record_index: @record_index), title:"Audit des modifications", data: { turbo_frame: "main_frame" } %>
  |
  <%= link_to "Retour", @table %>
</div>

<div class="mt-4">
  <%= turbo_frame_tag "main_frame" do %>
  <% end %>
</div>