<div class="mt-4 d-flex align-items-center text-primary gap-2">
	<h1 class="mb-0 d-inline">
		<%= t('tables.attributes', table: @table.name) %>
	</h1>
</div>

<div class="d-block d-md-flex justify-content-between gap-5">
	<div class="flex-grow-1 mt-4">
		<div class="overflow-x-auto">
			<table class="table table-hover align-middle">
				<thead>
					<tr>
						<th class="col-md-1">#</th>
						<th><%= t('tables.datatype') %></th>
						<th><%= t('tables.attribute_name') %></th>
						<th><%= t('tables.options') %></th>
						<th><%= t('tables.visibility') %></th>
						<th></th>
					</tr>
				</thead>
				<% if @table.fields.any? %>
					<% @table.fields.ordered.each_with_index do | field, index | %>
						<%= render partial:'fields/field', locals: {field:field, i:index} %>
					<% end %>
				<% else %>
					<tr>
						<td colspan="6" class="text-center">
							<%= t('tables.no_attribute') %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
		<div class="flex-grow-1 mt-4">
			<h3 class="text-primary mb-4"><%= t('tables.new_attribute') %></h3>

			<% if @field %>	
				<%= render partial:'fields/form' %>
			<% end %>
		</div>
	</div>
	<div class="d-none d-md-block mx-auto">
		<h4 class="text-secondary text-center mb-0"><%= t('tables.phone_preview') %></h4>
		<div class="mockup-phone">
			<%= render partial: 'fill_form', locals: {aperçu: true} %>
		</div>
	</div>
</div>