<div class="mt-4 d-flex align-items-center text-primary gap-2">
	<h1 class="mb-0 d-inline">
		Attributs de l'Objet '<%= @table.name %>'
	</h1>
</div>

<div class="float-end">
	<%= link_to "Voir la Collection", @field.table, title: "Voir la Collection d'Objets" %> 
</div>

<!--
<small>
	<%= link_to "Renommer", edit_table_path(@table), title:"Renommer cette table ou modifier les options" %>
</small>
-->

<br>
<% if @table.fields.any? %>
	<div class="overflow-x-auto">
		<table class="table table-hover align-middle">
			<thead>
				<tr>
					<th class="col-md-1">#</th>
					<th>Nom de l'attribut</th>
					<th>Type</th>
					<th>Options</th>
					<th>Visibilité</th>
					<th></th>
				</tr>
			</thead>
			<% @table.fields.ordered.each_with_index do | field, index | %>
				<%= render partial:'fields/field', locals: {field:field, i:index} %>
			<% end %>
		</table>
	</div>
<% end %>
<br>

<h3 class="text-primary mb-4">Ajouter un nouvel attribut</h3>

<% if @field %>	
	<%= render partial:'fields/form' %>
<% end %>
