<nav class="navbar navbar-expand-lg">
  <div class="container-fluid px-0">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 justify-content-between align-items-center">
        <%= render partial: 'partials/navbar_table_show' %>
        <div class="d-flex align-items-center">
          <% if policy(@table).show_attrs? || (policy(@table).edit? || current_user.compte_démo?) || policy(@table).partages? %>
            <p class="mb-0">Modifier :</p>
          <% end %>
          <% if policy(@table).show_attrs? %>
            <li class="nav-item">
              <%= link_to show_attrs_path(id: @table), class: 'nav-link', title: t('tables.navbar.attributes_title', table_name: @table.name) do %> 
                <%= t('tables.attributes') %>
              <% end %>
            </li>
          <% end %>
          <% if policy(@table).edit? || current_user.compte_démo? %>
            <li class="nav-item">
              <%= link_to edit_table_path(id: @table), class: 'nav-link', title: t('tables.navbar.edit_title', table_name: @table.name) do %> 
                <%= t('tables.navbar.object') %>
              <% end %>
            </li>
          <% end %>
          <% if policy(@table).partages? %>
            <li class="nav-item">
              <%= link_to partages_path(@table), class: 'nav-link', title: t('tables.navbar.sharing_title', table_name: @table.name) do %>
                <%= t('tables.navbar.sharing') %>
              <% end %>
            </li>
          <% end %>
          <% if policy(@table).logs? %>
            <p class="mb-0">|</p>
            <li class="nav-item">
              <%= link_to logs_path(id: @table), class: 'nav-link', title: t('tables.navbar.activity_title', table_name: @table.name) do %>
                <%= t('tables.activity') %>
              <% end %>
            </li>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</nav>

<% if @table.fields.any? %>
  <%= form_tag table_path(@table.slug), { method: :get, class: 'd-flex flex-wrap align-items-start justify-content-end gap-4 mb-4' } do |f| %>
    <div class="d-flex gap-4 flex-wrap flex-fill">
      <div>
        <%= label_tag :search, t('tables.navbar.search') %>
        <%= text_field_tag :search, params[:search], onchange: 'this.form.submit()', class: 'form-control' %>
      </div>
      <% @table.fields.filtres.each do |field| %>
        <% if field.Date? %>
          <% default_start_date = params.permit![:date].try(:[], field.id.to_s).try(:[], :start) ? params[:date][field.id.to_s][:start] : 'nil' %>
          <% default_end_date = params.permit![:date].try(:[], field.id.to_s).try(:[], :start) ? params[:date][field.id.to_s][:end] : 'nil' %>
          <div>
            <%= label_tag "date[#{field.id}][start]", "#{field.name.humanize} : #{t('tables.navbar.from')}" %>
            <%= date_field_tag "date[#{field.id}][start]", default_start_date, class: 'form-control', onchange: 'this.form.submit()' %>
          </div>
          <div>
            <%= label_tag "date[#{field.id}][end]", t('tables.navbar.to') %>
            <%= date_field_tag "date[#{field.id}][end]", default_end_date, class: 'form-control', onchange: 'this.form.submit()' %>
          </div>
        <% else %>
          <div>
            <%= label_tag "select[#{field.id}]", field.name.humanize %>
            <% default_value = params.permit![:select] ? params[:select][field.id.to_s] : 'nil' %>
            <% if field.Collection? %>
              <%= select_tag "select[#{field.id}]", 
                    options_for_select(field.populate_linked_table.invert, default_value), 
                    include_blank: true, 
                    class: 'form-select', 
                    onchange: 'this.form.submit()' %>
            <% elsif field.Tags? %>
              <%= select_tag "select[#{field.id}]", 
                    options_for_select(field.populate_field_tags(@records), default_value), 
                    include_blank: true, 
                    class: 'form-select', 
                    onchange: 'this.form.submit()', 
                    data: { select2: { tags: true, tokenSeparators: [',', ' '] } } %>
            <% else %>
              <%= select_tag "select[#{field.id}]", 
                    options_for_select(field.populate_select_filter(@records), default_value), 
                    include_blank: true, 
                    class: 'form-select', 
                    onchange: 'this.form.submit()' %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% if @table.filters.any? %>
        <div>
          <%= label_tag :filtre, t('tables.navbar.filter') %>
          <%= select_tag :filtre, options_from_collection_for_select(@table.filters, 'slug', 'name', params[:filtre]), include_blank: true, class: 'form-select', onchange: 'this.form.submit()' %>
        </div>
      <% end %>
      <% if policy(@table).fill? || current_user.compte_démo? %>
        <%= link_to "(+) #{@table.name}", fill_url(@table.slug), class: 'btn btn-outline-primary align-self-end', title: t('tables.navbar.add_new_object', table_name: @table.name) %>
      <% end %>
    </div>

    <div class='flex-fill mt-4 text-end'>
      <div class="btn-group flex-no-wrap" role="group" aria-label="Basic radio toggle button group">
        <%= radio_button_tag :view, "table", (params[:view] == 'table'), name: 'view', id: 'btnradio1', autocomplete: 'off', onchange: 'this.form.submit()', class: "btn-check" %>
        <label class="btn btn-outline-primary pb-1 lh-1" for="btnradio1" title="<%= t('tables.table') %>">
          <span class="material-symbols-outlined">
            view_list
          </span>
        </label>

        <%= radio_button_tag :view, "card", (params[:view] == 'card'), name: 'view', id: 'btnradio2', autocomplete: 'off', onchange: 'this.form.submit()', class: "btn-check" %>
        <label class="btn btn-outline-primary pb-1 lh-1" for="btnradio2" title="<%= t('tables.card') %>">
          <span class="material-symbols-outlined">
            cards
          </span>
        </label>

        <%= radio_button_tag :view, "calendar", (params[:view] == 'calendar'), name: 'view', id: 'btnradio3', autocomplete: 'off', onchange: 'this.form.submit()', class: "btn-check" %>
        <label class="btn btn-outline-primary pb-1 lh-1" for="btnradio3" title="<%= t('tables.calendar') %>">
          <span class="material-symbols-outlined">
            calendar_month
          </span>
        </label>

        <%= radio_button_tag :view, "map", (params[:view] == 'map'), name: 'view', id: 'btnradio4', autocomplete: 'off', onchange: 'this.form.submit()', class: "btn-check" %>
        <label class="btn btn-outline-primary pb-1 lh-1" for="btnradio4" title="<%= t('tables.map') %>">
          <span class="material-symbols-outlined">
            map
          </span>
        </label>

        <%= radio_button_tag :view, "graph", (params[:view] == 'graph'), name: 'view', id: 'btnradio5', autocomplete: 'off', onchange: 'this.form.submit()', class: "btn-check" %>
        <label class="btn btn-outline-primary pb-1 lh-1" for="btnradio5" title="<%= t('tables.graph') %>">
          <span class="material-symbols-outlined">
            bar_chart_4_bars
          </span>
        </label>
      </div>
    </div>
  <% end %>

  <% case params[:view] when 'table' %>
    <%= render partial: 'partials/table', locals: { table: @table, records: @records } %>
  <% when 'card' %>
    <%= render partial: 'cards', locals: { table: @table, records: @records } %>
  <% when 'map' %>
    <% if @records.any? %>
      <%= render partial: 'map', locals: { records: @records, table: @table } %>
    <% else %>
      <p>Aucune donnée à afficher sur la carte.</p>
    <% end %>
  <% when 'graph' %>
    <%= render partial: 'graph', locals: { records: @records, table: @table } %>
  <% else %>
    <%= render partial: 'calendar', locals: { records: @records, table: @table } %>
  <% end %>
<% else %>
  <p><%= t('tables.no_record') %></p>
<% end %>
