<div class="mb-4">
  <h1 class="text-primary">
    <span class="fa fa-gears"></span>
    Structure de la table '<%= @table.name.humanize %>'
  </h1>

  <div class="float-end mt-3">
    <%= link_to 'Voir la table de données', @field.table, title:"Voir la table de données" %> 
  </div>
</div>

<!--
<small>
	<%= link_to "Renommer", edit_table_path(@table), title:"Renommer cette table ou modifier les options" %>
</small>
-->

<br>
<% if @table.fields.any? %>
	<div class="overflow-x-auto">
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th class="col-md-1">#</th>
					<th>Nom de la colonne</th>
					<th>Type</th>
					<th>Options</th>
					<th>Visibilité</th>
					<th colspan=2>
				</tr>
			</thead>
			<% @table.fields.each_with_index do | field, index | %>
				<%= render partial:'fields/field', locals: {field:field, i:index} %>
			<% end %>
		</table>
	</div>
<% end %>
<br>

<h3 class="mb-4">Ajouter une nouvelle colonne</h3>

<% if @field %>	
	<%= render partial:'fields/form' %>
<% end %>
