<nav class="navbar navbar-expand-lg">
  <div class="container-fluid px-0">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 justify-content-between align-items-center">
        <li class="nav-item dropdown">
          <a class="navbar-brand nav-link text-primary fs-1 px-0 fw-bold <%= current_user.tables.count > 1 ? "dropdown-toggle" : "" %>" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= @table.name.humanize.pluralize %>
          </a>
          <% if current_user.tables.count > 1 %>
            <ul class="dropdown-menu">
              <% current_user.tables.where.not(name: @table.name).order(:name).each do |table| %>
                <li><%= link_to table.name.humanize.pluralize, table_path(table), class: 'dropdown-item fs-4 fw-bold' %></li>
              <% end %>
            </ul>
          <% end %>
        </li>
        <div class="d-flex justify-content-end gap-2">
          <% if policy(@table).show_attrs? %>
              <%= link_to show_attrs_path(id:@table), class:'nav-link', title:"Modifier les attributs de l'Objet '#{@table.name}'" do %> 
              <i class="fa fa-gears"></i>
              Modifier Attributs
              <% end %>
          <% end %>
          <% if policy(@table).edit? %>
            <%= link_to edit_table_path(id:@table), class:'nav-link', title:"Modifier l'Objet '#{@table.name}'" do %> 
              <i class="fa fa-cube"></i>
              Modifier Objet
            <% end %>
          <% end %>
          <% if policy(@table).partages? %>
            <%= link_to partages_path(@table), class:'nav-link', title:"Voir les utilisateurs qui partagent l'Objet '#{@table.name}'" do %>
              <i class="fa fa-share-nodes"></i>
              Partages
            <% end %>
          <% end %>
          <% if policy(@table).logs? %>
            <%= link_to logs_path(id:@table), class:'nav-link', title:"Historique des modifications de l'Objet '#{@table.name}'" do %>
              <i class="fa fa-search"></i>
              Audit Trail
            <% end %>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</nav>

<% if @table.fields.any? %>
  <%= form_tag table_path(@table.slug), {method: :get, class: 'd-flex gap-4 mb-4'} do |f| %>
    <div class="d-flex gap-4 flex-wrap mb-4">
      <div>
        <%= label_tag :search, "Rechercher" %>
        <%= text_field_tag :search, params[:search], onchange:'this.form.submit()', class:'form-control' %>
      </div>
      <% @table.fields.filtres.each do | field | %>
        <% if field.Date? %>
          <% default_start_date = params.permit![:date].try(:[], field.id.to_s).try(:[], :start) ? params[:date][field.id.to_s][:start] : 'nil' %>
          <% default_end_date = params.permit![:date].try(:[], field.id.to_s).try(:[], :start) ? params[:date][field.id.to_s][:end] : 'nil' %>
          <div>
            <%= label_tag "date[#{field.id}][start]", "#{field.name.humanize} : Du" %>
            <%= date_field_tag "date[#{field.id}][start]", default_start_date, class: 'form-control', onchange: 'this.form.submit()' %>
          </div>
          <div>
            <%= label_tag "date[#{field.id}][end]","Au" %>
            <%= date_field_tag "date[#{field.id}][end]", default_end_date, class: 'form-control', onchange: 'this.form.submit()' %>
          </div>
        <% else %>
          <div>
            <%= label_tag "select[#{field.id}]", field.name.humanize %>
            <% default_value = params.permit![:select] ? params[:select][field.id.to_s] : 'nil' %>
            <% if field.Collection? %>
              <%= select_tag "select[#{field.id}]", 
                    options_for_select(field.populate_linked_table.invert, default_value), 
                    include_blank: true, 
                    class: 'form-select', 
                    onchange: 'this.form.submit()' %>
            <% else %>
              <%= select_tag "select[#{field.id}]", 
                    options_for_select(field.populate_select_filter(@records), default_value), 
                    include_blank: true, 
                    class: 'form-select', 
                    onchange: 'this.form.submit()' %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% if policy(@table).fill? %>
        <%= link_to "(+) #{@table.name.humanize}", fill_url(@table.slug), class: 'btn btn-outline-primary align-self-end' %>
      <% end %>
    </div>
  <% end %>

  <%= render partial: 'partials/table', locals: { table: @table, records: @records} %>

<% else %>
  <% unless params[:attrs] %>
    Cet objet ne contient aucun attribut pour l'instant<br><br>
    <%= link_to show_attrs_path(id: @table.slug), class: 'btn btn-outline-primary' do %>
      Ajouter un attribut
    <% end %> 
  <% end %>
<% end %>