<div class="mb-4">
  <h1 class="text-primary">
    <%= @table.name.humanize %>
  </h1>

  <% if @table.is_owner?(@current_user) %>
    <small class="float-end mt-3">
      <%= link_to 'Modifier la structure de la table', show_attrs_path(id:@table), title:"Modifier les colonnes", data: { no_turbolink: true } %> 
      |
      <%= link_to "Partager", partages_path(@table), title:"Voir les utilisateurs qui partagent cette table" %>
      |
      <%= link_to 'Audit', logs_path(id:@table), title:"Audit des modifications" %> 
      |
      <%= link_to 'Exporter', export_path(@table), title:"Exporter les données" %>
    </small>
  <% end %>
</div>

<% if @table.fields.any? %>
  <%= bootstrap_form_tag url: table_path(@table), method: :get, class: 'd-flex gap-4 mb-4' do |f| %>
    <div>
      <%= f.text_field :search, value: params[:search], label: "Rechercher", onchange:'this.form.submit()' %>
    </div>

    <% @table.fields.filtres.each do | field | %>
      <div>
        <%= label_tag :filter, field.name.humanize %>
        <% default_value = params.permit![:select] ? params[:select][field.id.to_s] : 'nil' %>
        <%= select_tag "select[#{field.id}]", 
              options_for_select(
                field.values.records_at(@records).where.not(data: nil).pluck(:data).uniq.sort,
                default_value), 
              include_blank: true, 
              class: "form-select", 
              onchange: 'this.form.submit()' %>
      </div>
    <% end %>
    <%= link_to "+ Ajouter", fill_url(@table.slug), class: 'btn btn-outline-primary align-self-end' %>
  <% end %>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered sticky">
      <thead>
        <tr>
          <% @table.fields.each_with_index do | field,index | %>
            <th>
              <%= link_to field.name.humanize, url_for(params.merge(sort_by: field.id).permit(:id, :sort_by, :search, :select)) %>
            </th>
            <% @td_style[index] = @numeric_types.include?(field.datatype) ? 'text-right' : nil %>
          <% end %>
          <th></th>
        </tr>
      </thead>

      <% unless @records.size.zero? %>
        <tbody>
          <% @records.each do | record_index | %>
            <% values = @table.value_datas(record_index) %>
            <tr>
              <% @table.fields.each_with_index do | field,index | %>
                <% value = values[index] %>
                <td class= <%= @td_style[index] %> >
                  <% if field.datatype == "Fichier" and values[index] %>
                    <%= link_to(value.split('__').last, url_for("/table_files/" + value)) %>
                  <% elsif field.datatype == "Signature" and values[index] %>
                    <%= link_to("Oui", values_signature_path(table:@table, field:field, record_index:record_index),data: { no_turbolink: true }) %>
                  <% elsif field.datatype == "Date" and values[index] %>
                    <%= l(value.to_date) unless value.blank? %>
                  <% else %>
                    <%= value %>
                  <% end %>
                  <% if field.operation %>
                    <% @sum[field.id] += value.to_f %>
                  <% end %>
                </td>
              <% end %>
              <td>
                <%= link_to "Modifier", fill_url(@table.id, record_index:record_index), class: 'btn btn-outline-primary btn-sm' %>
                <%= link_to "Audit", logs_path(record_index: record_index), class: 'btn btn-outline-info btn-sm', title:"Audit des modifications" %>
                <%= link_to "X", delete_record_url(@table.id, record_index:record_index), data: {'turbo-method': :delete, 'turbo-confirm': 'Confirmez-vous ?'}, class: 'btn btn-outline-danger btn-sm' %>
              </td>
            </tr>
          <% end %>
        </tbody>

        <tfoot>
          <tr>
            <% @table.fields.each do |field| %>
              <% if field.operation %>
                <td class="text-right text-info">
                  <% if field.Somme? %>
                    <%= @sum[field.id] %>
                  <% elsif field.Moyenne? %>
                    <%= @sum[field.id] / @records.count %>
                  <% end %>
                </td>
              <% else %>
                <td />
              <% end %>
            <% end %>
            <td />
          </tr>
        </tfoot>
      <% end %>
    </table>
    <%= @records.size %> sur <%= @table.size %> au total 
    <br>
  </div>
<% else %>
  <% unless params[:attrs] %>
    Cette table ne contient aucune colonne<br><br>
    <%= link_to show_attrs_path(id:@table), class: 'btn btn-outline-success' do %>
      <i class="glyphicon glyphicon-plus"></i> Ajouter une colonne
    <% end %> 
  <% end %>
<% end %>
<br><br>
