<% if @table.fields.any? %>
	<p>
	  <%= form_tag(request.path, method: :get) do %>
	  	<div class="input-group-lg">

		    Rechercher: 
		    <%= text_field_tag :search, params[:search], onchange:'this.form.submit()', class: 'form-control' %>
		    <br>
		    
		    <% @table.fields.filtres.each_with_index do | field,index | %>
			    <%= field.name.humanize %>:
			    <% default_value = params[:select] ? params[:select][field.id.to_s] : 'nil' %>
			    <%= select_tag "select[#{field.id}]", options_for_select(field.values.records_at(@records).pluck(:data).uniq.sort, default_value), include_blank:true, onchange:'this.form.submit()', class: 'form-control' %>

			    <br>
			<% end %>

			<%= link_to fill_url(@table.id), class: 'btn btn-block btn-outline-success' do %>
				<i class="glyphicon glyphicon-plus"></i> 
			<% end %>
		</div>
	  <% end %>
	</p>

	<div class="table-responsive">
		<% if @records.any? %>
			<table class="table table-striped table-bordered table-condensed">
				<thead> 
					<tr>
						<% @table.fields.each_with_index do | field,index | %>
							<th>
								<%= link_to field.name.humanize, url_for(params.merge(sort_by:field.id)) %>
							</th>
							<% @td_style[index] = @numeric_types.include?(field.datatype) ? 'text-right' : nil %>
						<% end %>
					</tr>
				</thead>

				<tbody>
					<% @records.each do | record_index | %>
						<% values = @table.values.joins(:field).records_at(record_index).order("fields.row_order").pluck(:data) %>
						<tr>
							<% @table.fields.each_with_index do | field,index | %>
								<% value = values[index] %>
								<td <%= "class=#{@td_style[index]}" if @td_style[index] %>>
									<% if field.datatype == "Fichier" and value %>
										<%= link_to(value.split('__').last, url_for("/table_files/" + value)) %>
									<% elsif field.datatype == "Signature" and value %>
										<%= link_to_modal("Oui", values_signature_path(table:@table, field:field, record_index:record_index),data: { no_turbolink: true }) %>
									<% else %>
										<%= value %>
									<% end %>
									<% if field.operation %>
										<% @sum[field.id] += value.to_f %>
									<% end %>
								</td>
							<% end %>
						</tr>
					<% end %>
				</tbody>

				<tfoot>
					<tr>
						<% @table.fields.each do |field| %>
							<% if field.operation %>
								<td class="text-right">
									<% if field.Somme? %>
										<%= @sum[field.id] %>
									<% elsif field.Moyenne? %>
										<%= @sum[field.id] / @records.count %>
									<% end %>
								</td>
							<% else %>
								<td />
							<% end %>
						<% end %>
					</tr>
				</tfoot>

			</table>
		</div>	
		Affichage de <%= @records.count %> <%= @table.name %> sur <%= @table.size %> au total 
		<br>
	<% end %>
	<br>
<% end %>
