<nav class="navbar navbar-expand-lg">
  <div class="container-fluid px-0">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 justify-content-between align-items-center">
        <%= render partial: 'partials/navbar_table_show'%>
        <div class="d-flex gap-2">
          <% if policy(@table).show_attrs? %>
              <%= link_to show_attrs_path(id:@table), class:'nav-link', title:"Modifier les attributs de l'Objet '#{@table.name}'" do %> 
              Modifier Attributs
              <% end %>
          <% end %>
          <% if policy(@table).edit? %>
            <%= link_to edit_table_path(id:@table), class:'nav-link', title:"Modifier l'Objet '#{@table.name}'" do %> 
              Modifier Objet
            <% end %>
          <% end %>
          <% if policy(@table).partages? %>
            <%= link_to partages_path(@table), class:'nav-link', title:"Voir les utilisateurs qui partagent l'Objet '#{@table.name}'" do %>
              Partages
            <% end %>
          <% end %>
          <% if policy(@table).logs? %>
            <%= link_to logs_path(id:@table), class:'nav-link', title:"Historique des modifications de l'Objet '#{@table.name}'" do %>
              Audit Trail
            <% end %>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</nav>

<% if @table.fields.any? %>
  <%= form_tag table_path(@table.slug), {method: :get, class: 'd-flex gap-4 mb-4'} do |f| %>
    <div class="d-flex gap-4 flex-wrap">
      <div>
        <%= label_tag :search, "Rechercher" %>
        <%= text_field_tag :search, params[:search], onchange:'this.form.submit()', class:'form-control' %>
      </div>
      <% @table.fields.filtres.each do | field | %>
        <% if field.Date? %>
          <% default_start_date = params.permit![:date].try(:[], field.id.to_s).try(:[], :start) ? params[:date][field.id.to_s][:start] : 'nil' %>
          <% default_end_date = params.permit![:date].try(:[], field.id.to_s).try(:[], :start) ? params[:date][field.id.to_s][:end] : 'nil' %>
          <div>
            <%= label_tag "date[#{field.id}][start]", "#{field.name.humanize} : Du" %>
            <%= date_field_tag "date[#{field.id}][start]", default_start_date, class: 'form-control', onchange: 'this.form.submit()' %>
          </div>
          <div>
            <%= label_tag "date[#{field.id}][end]","Au" %>
            <%= date_field_tag "date[#{field.id}][end]", default_end_date, class: 'form-control', onchange: 'this.form.submit()' %>
          </div>
        <% else %>
          <div>
            <%= label_tag "select[#{field.id}]", field.name.humanize %>
            <% default_value = params.permit![:select] ? params[:select][field.id.to_s] : 'nil' %>
            <% if field.Collection? %>
              <%= select_tag "select[#{field.id}]", 
                    options_for_select(field.populate_linked_table.invert, default_value), 
                    include_blank: true, 
                    class: 'form-select', 
                    onchange: 'this.form.submit()' %>
            <% else %>
              <%= select_tag "select[#{field.id}]", 
                    options_for_select(field.populate_select_filter(@records), default_value), 
                    include_blank: true, 
                    class: 'form-select', 
                    onchange: 'this.form.submit()' %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% if policy(@table).fill? %>
        <%= link_to "(+) #{@table.name.humanize}", fill_url(@table.slug), class: 'btn btn-outline-primary align-self-end' %>
      <% end %>
    </div>

    <div>
      <%= label_tag 'Vue' %>
      <br>
      <div class="btn-group flex-no-wrap" role="group" aria-label="Basic radio toggle button group">
        <%= radio_button_tag :view, "table", (params[:view]=='table'), name:'view', id:'btnradio1', autocomplete:'off', onchange:'this.form.submit()', class:"btn-check" %>
        <label class="btn btn-outline-primary" for="btnradio1">Tableau</label>

        <%= radio_button_tag :view, "map", (params[:view]=='map'), name:'view', id:'btnradio2', autocomplete:'off', onchange:'this.form.submit()', class:"btn-check" %>
        <label class="btn btn-outline-primary" for="btnradio2">Carte</label>

        <%= radio_button_tag :view, "graph", (params[:view]=='graph'), name:'view', id:'btnradio3', autocomplete:'off', onchange:'this.form.submit()', class:"btn-check" %>
        <label class="btn btn-outline-primary" for="btnradio3">Graphe</label>

        <%= radio_button_tag :view, "calendar", (params[:view]=='calendar'), name:'view', id:'btnradio4', autocomplete:'off', onchange:'this.form.submit()', class:"btn-check" %>
        <label class="btn btn-outline-primary" for="btnradio4">Calendrier</label>
      </div>
    </div>
  <% end %>

  <% case params[:view] when 'table' %>
    <%= render partial: 'partials/table', locals: { table: @table, records: @records} %>
  <% when 'map' %>
    <div id='map' style='height: 70vh;'></div>
  <% when 'graph' %>
    <div class="shadow mx-auto my-5 p-5">
      <canvas class="p-3" id="chartBar"></canvas>
    </div>
    <%= @table.values.joins(:field).where(record_index: @records, 'field.datatype': 'Nombre').pluck(:data).to_json.html_safe %>
    <%= @records.to_json.html_safe %>
  <% when 'calendar' %>
    <%= month_calendar do |date| %>
      <%= date %>
    <% end %>
  <% end %>

<% else %>
  <% unless params[:attrs] %>
    Cet objet ne contient aucun attribut pour l'instant<br><br>
    <%= link_to show_attrs_path(id: @table.slug), class: 'btn btn-outline-primary' do %>
      Ajouter un attribut
    <% end %> 
  <% end %>
<% end %>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoicGhpbG5vdWciLCJhIjoiY2pvNXRyczhjMDFkajNxcGVmNHZtcHZ4OSJ9.vcFMjboSUDUUg--tDsgapg';
  var map = new mapboxgl.Map({
    container: 'map',
    center: [2.407914616221202, 47.08362763879501],
    zoom: 4,
    style: 'mapbox://styles/mapbox/streets-v11'
  });

  <% @table.values.joins(:field).where(record_index: @records, 'field.datatype': 'GPS').each do |record| %>
    <% unless record.data.empty? %>
      var lng = <%= record.data.split(',').last.to_f %>
      var lat = <%= record.data.split(',').first.to_f %>
      var marker = new mapboxgl.Marker({ color: "#FF0000"})
        .setLngLat([lng, lat])
        .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
        .setHTML("<a id='pin' href='#<%= @records.first %>'><h1 class='has-text-weight-bold has-text-centered is-size-6 mb-4'><%= @records.first %></h1><p class='is-size-7'><%= @records.first %></p><p class='is-size-7'><%= @records.first %> <%= @records.first %></p></a>"))
        .addTo(map);
    <% end %>
  <% end %>

  map.addControl(new mapboxgl.FullscreenControl());
  map.addControl(new mapboxgl.NavigationControl());
  
  setTimeout(function(){ map.setLayoutProperty('country-label', 'text-field', ['get', 'name_fr']); }, 3000);
</script>

<!-- Required chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart bar -->
<script>
  const dataBarChart = {
    labels: <%= @records.to_json.html_safe %>,
    datasets: [
      {
        label: "<%= @table.fields.where(datatype: 'Nombre').first.name %>",
        backgroundColor: "hsl(252, 82.9%, 67.8%)",
        borderColor: "hsl(252, 82.9%, 67.8%)",
        data: <%= @table.values.joins(:field).where(record_index: @records, 'field.datatype': 'Nombre').pluck(:data).to_json.html_safe %>,
      },
    ],
  };

  const configBarChart = {
    type: "bar",
    data: dataBarChart,
    options: {},
  };

  var chartBar = new Chart(
    document.getElementById("chartBar"),
    configBarChart
  );
</script>