<tr id="<%= dom_id filter %>">
  <td><%= link_to filter.name, query_filter_path(filter), class: 'text-primary' %></td>
  <td><%= filter.table.name.pluralize %></td>
  <td><%= filter.query_humanized %></td>
  <td>
    <div class="d-flex flex-column">
      <% filter.teams.each do |team| %>
        <% team.users.order(:name).each do |user| %>
          <p><%= user.name %></p>
        <% end %>
      <% end %>
    </div>
  </td>
  <td>il y a <%= time_ago_in_words(filter.updated_at) %></td>
  <td>
    <% if policy(filter).destroy? %>
      <%= button_to "X", filter, method: :delete, 'data-turbo-confirm': "Êtes-vous certain.e", class: 'btn btn-sm btn-outline-danger float-end' %>
    <% end %>
  </td>
</tr>