<div id="<%= dom_id filter %>">
  <div class="fs-6 row">
    <b><%= link_to filter.name, query_filter_path(filter), class: 'col text-black' %></b>
    <span class='col'><%= filter.table.name.pluralize %></span>
    <span class='col-6'><%= filter.query_humanized %></span>
    <span class='col-6'><%= filter.query %></span>
    <span class='col-2'>il y a <%= time_ago_in_words(filter.updated_at) %></span>
    <span class='col-1'><%= button_to "X", filter, method: :delete, 'data-turbo-confirm': "Êtes-vous certain.e", class: 'btn btn-sm btn-outline-danger float-end' %></span>
  </div>
</div>
<hr>
