<%= form_for(@filter) do |f| %>
  <% if @filter.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.messages.not_saved', count: @filter.errors.count) %></h2>

      <ul>
        <% @filter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= f.label :name, t('scaffold.name'), class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control w-50', required: true, autofocus: true, autocomplete: :off %>
    <p class="form-text">
      <%= t('filters.name_hint') %>
    </p>
  </div>

  <div class="mb-4">
    <%= f.label :table_id, t('misc.collection'), class: 'form-label' %>
    <%= f.select :table_id, options_from_collection_for_select(current_user.tables.order(:name), 'id', 'name'), {}, {class: 'form-select'} %>
  </div>

  <%= f.submit t('misc.continue'), class: 'btn btn-outline-success mt-4' %>
<% end %>
