<div class="my-4 d-flex align-items-center text-success gap-2">
  <h1 class="mb-0">
    <%= t('filters.index') %>
  </h1>
</div>

<div class="overflow-x-auto">
  <table class="table table-hover border align-middle">
    <thead>
      <tr class="table-light">
        <th><%= t('scaffold.name') %></th>
        <th><%= t('misc.collection') %></th>
        <th><%= t('filters.filters') %></th>
        <th><%= t('scaffold.updated_at') %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% if @filters.any? %>
        <% @filters.includes([:table]).each do |filter| %>
          <%= render filter %>
        <% end %>
      <% else %>
        <tr>
          <td colspan=7>
            <i>
              <%= t('filters.no_filter') %>
            </i>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>

<%= link_to t('scaffold.new'), new_filter_path, class: 'btn btn-outline-success' %>
