<tr data-item-id=<%= "#{field.id}" %> class="item">
  <td><%= i + 1 %></td>
  <td><b><%= field.name %></b></td>
  <td>
    <%= field.datatype.humanize %>
    <%= "= #{field.items}" unless field.items.blank? %>
  </td>
  <td>
    <% if field.obligatoire %><i class="glyphicon glyphicon-ok"></i> Obligatoire<% end %>
    <% if field.filtre %>
      <%= " | " if field.obligatoire %>
      <i class="glyphicon glyphicon-zoom-in"></i> Filtre
    <% end %>
    <% if field.operation %>
      <%= " | " if field.obligatoire or field.filtre %>
      <i class="glyphicon glyphicon-flash"></i> <%= field.operation.humanize %>
      en bas de page
    <% end %>
  </td>
  <td>
    <%= link_to 'Modifier', edit_field_path(field), class: 'btn btn-outline-info btn-sm' %>
    <%= link_to '[X]', field, data: {'turbo-method': :delete, 'turbo-confirm': 'Confirmez-vous ?'}, class: 'btn btn-outline-danger btn-sm' %>
  </td>
</tr>
