<tr data-item-id=<%= "#{field.id}" %> class="item">
  <td><%= i + 1 %></td>
  <td><b><%= field.name %></b></td>
  <td>
    <div class="d-flex gap-2">
      <span class="material-symbols-outlined text-black-50">
        <%= field.icon %>
      </span>
      <%= field.datatype.humanize %>
      <%= "= #{field.items}" unless field.items.blank? %>
    </div>
  </td>
  <td>
    <% if field.obligatoire %>Obligatoire<% end %>
    <% if field.filtre %>
      <%= " | " if field.obligatoire %>
      Filtre
    <% end %>
    <% if field.operation %>
      <%= " | " if field.obligatoire or field.filtre %>
      <%= field.operation.humanize %>
      en bas de page
    <% end %>
  </td>
  <td><%= field.visibility_polished %></td>
  <td style="text-align: right; white-space: nowrap;">
    <%= link_to 'Modifier', edit_field_path(id: field.slug), title: 'Modifier l\'attribut', class: 'btn btn-outline-warning btn-sm me-2' %>
    <% if policy(field).destroy? %>
      <%= link_to 'X', field, title: 'Supprimer l\'attribut', 'data-turbo-method': :delete, 'data-turbo-confirm': 'Confirmez-vous la suppression de l\'attribut ?', class: 'btn btn-outline-danger btn-sm' %>
    <% end %>
  </td>
</tr>
