<tr data-item-id=<%= "#{field.id}" %> class="item">
  <td><%= i + 1 %></td>
  <td>
    <div class="d-flex flex-row flex-wrap gap-2">
      <span class="material-symbols-outlined text-black-50">
        <%= field.icon %>
      </span>
      <%= field.datatype.humanize %>
      <%= "= #{field.items}" unless field.items.blank? %>
    </div>
  </td>
  <td><b><%= field.name %></b></td>
  <td>
    <% if field.obligatoire %>Obligatoire<% end %>
    <% if field.filtre %>
      <%= " | " if field.obligatoire %>
      Filtre
    <% end %>
    <% if field.operation %>
      <%= " | " if field.obligatoire or field.filtre %>
      <%= field.operation.humanize %>
      en bas de page
    <% end %>
  </td>
  <td>
    <% case field.visibility %>
    <% when 'Liste_et_Détails' %>
      <span class="material-symbols-outlined" title="Visible dans la liste">
        view_list
      </span>
      <span class="material-symbols-outlined" title="Visible dans les détails (formulaire)">
        cards
      </span>
    <% when 'Vue_Liste' %>
      <span class="material-symbols-outlined" title="Visible dans la liste">
        view_list
      </span>
    <% when 'Vue_Détails' %>
      <span class="material-symbols-outlined" title="Visible dans les détails (formulaire)">
        cards
      </span>
    <% end %>
  </td>
  <td style="text-align: right; white-space: nowrap;">
    <%= link_to 'Modifier', edit_field_path(id: field.slug, anchor: 'field_edit'), title: 'Modifier l\'attribut', class: 'btn btn-outline-secondary btn-sm me-2' %>
    <%= link_to 'X', field, title: 'Supprimer l\'attribut', 'data-turbo-method': :delete, 'data-turbo-confirm': 'Confirmez-vous la suppression de l\'attribut ?', class: 'btn btn-outline-danger btn-sm' %>
  </td>
</tr>
