<tr data-item-id=<%= "#{field.id}" %> class="item">
  <td><%= i + 1 %></td>
  <td>
    <div class="d-flex flex-row flex-wrap gap-2">
      <span class="material-symbols-outlined text-black-50">
        <%= field.icon %>
      </span>
      <%= t("fields.datatype.#{field.datatype}") %>
      <%= "= #{field.items}" unless field.items.blank? %>
    </div>
  </td>
  <td><b><%= field.name %></b></td>
  <td>
    <% if field.obligatoire %><%= t('tables.required') %><% end %>
    <% if field.filtre %>
      <%= " | " if field.obligatoire %>
      <%= t('tables.filter') %>
    <% end %>
    <% if field.operation %>
      <%= " | " if field.obligatoire or field.filtre %>
      <%= field.operation.humanize %>
      <%= t('tables.footer') %>
    <% end %>
  </td>
  <td>
    <% case field.visibility %>
    <% when 'Liste_et_Détails' %>
      <span class="material-symbols-outlined" title=<%= t('tables.visible_in_list')%>>
        view_list
      </span>
      <span class="material-symbols-outlined" title=<%= t('tables.visible_in_details')%>>
        cards
      </span>
    <% when 'Vue_Liste' %>
      <span class="material-symbols-outlined" title=<%= t('tables.visible_in_list')%>>
        view_list
      </span>
    <% when 'Vue_Détails' %>
      <span class="material-symbols-outlined" title=<%= t('tables.visible_in_details')%>>
        cards
      </span>
    <% end %>
  </td>
  <td style="text-align: right; white-space: nowrap;">
    <%= link_to t('scaffold.update'), edit_field_path(id: field.slug, anchor: 'field_edit'), title: t('tables.update_attribute'), class: 'btn btn-outline-secondary btn-sm me-2' %>
    <%= link_to t('scaffold.destroy'), field, title: t('tables.destroy_attribute'), 'data-turbo-method': :delete, 'data-turbo-confirm': t('tables.destroy_attibrute_confirm'), class: 'btn btn-outline-danger btn-sm' %>
  </td>
</tr>
