<tr data-item-id=<%= "#{field.id}" %> class="item">
  <td><%= i + 1 %></td>
  <td><b><%= field.name %></b></td>
  <td>
    <%= field.datatype.humanize %>
    <%= "= #{field.items}" unless field.items.blank? %>
  </td>
  <td>
    <% if field.obligatoire %>Obligatoire<% end %>
    <% if field.filtre %>
      <%= " | " if field.obligatoire %>
      Filtre
    <% end %>
    <% if field.operation %>
      <%= " | " if field.obligatoire or field.filtre %>
      <%= field.operation.humanize %>
      en bas de page
    <% end %>
  </td>
  <td><%= field.visibility %></td>
  <td>
    <%= link_to 'Modifier', edit_field_path(id: field.slug), class: 'btn btn-outline-warning btn-sm' %>
  </td>
  <td>
    <%= link_to 'X', field, data: {'turbo-method': :delete, 'turbo-confirm': 'Confirmez-vous ?'}, class: 'btn btn-outline-danger btn-sm' %>
  </td>
</tr>
