<%= form_for(@field) do |f| %>
  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.messages.not_saved', count: @field.errors.count) %></h2>

      <ul>
        <% @field.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :table_id %>

  <div class="d-flex gap-4">
    <div>
      <%= f.label :name, "Nom" %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div>
      <%= f.label :name, "Type de données" %>
      <%= f.select :datatype, options_for_select(@fields, @field.datatype), {}, class: 'form-select mb-4' %>
    </div>

    <div>
      <%= f.label :name, "Paramètres" %>
      <%= f.text_field :items, class: "form-control mb-4" %>
    </div>
  </div>
    
    <div class="mb-4">
      <%= f.check_box :obligatoire %> Obligatoire ?<br>
      <%= f.check_box :filtre %> Filtre ?<br>
    </div>

    <div class="mb-4 w-25">
      Opération en bas de page: <%= f.select :operation, options_for_select(Field.operations.keys.to_a, @field.operation), {include_blank: true}, class: 'form-select w-50' %>
    </div>

    <% if @field.new_record? %>
      <%= f.submit "Ajouter cette nouvelle colonne", class: 'btn btn-outline-success' %>
      | 
      <%= link_to "Voir la table de données", @field.table %>
    <% else %>  
      <%= f.submit "Modifier", class: 'btn btn-outline-success' %>
      | 
      <%= link_to 'Retour',  show_attrs_path(id: @field.table)  %>
    <% end %>
<% end %>
