<%= form_for(@field) do |f| %>

  <div data-controller="type">
    <%= f.hidden_field :table_id %>

    <div class="d-flex flex-wrap gap-4 mb-4">
      <div>
        <%= f.label :name, "Nom de l'attribut" %>
        <%= f.text_field :name, class: 'form-control', required: true, placeholder: "Ex: Nom#{@field.table.name.humanize}" %>
      </div>

      <div>
        <%= f.label :datatype, "Type de données" %>
        <span data-action="change->type#change">
          <%= f.select :datatype, options_for_select(@fields, @field.datatype), {}, class: 'form-select', data: { 'type-target': 'source' } %>
        </span>
      </div>

      <div data-type-target='params' class="w-100">
        <%= f.label :items, "Paramètres" %>
        <%= f.text_field :items, class: "form-control w-100" %>
        <small class="form-text text-muted"></small>
      </div>
    </div>

    <div class="mb-4">
      <div class="form-check mb-4">
        <%= f.check_box :obligatoire, class: 'form-check-input' %>
        <%= f.label :obligatoire, "Obligatoire ?", class: 'form-check-label' %>
        <p class="form-text">
          Si vous voulez que cet attribut soit obligatoire pour chaque objet de la collection
        </p>
      </div>
      <div class="form-check mb-4">
        <%= f.check_box :filtre, class: 'form-check-input' %>
        <%= f.label :filtre, "Filtre ?", class: 'form-check-label' %>
        <p class="form-text">
          Si vous voulez que cet attribut soit utilisé comme filtre dans la collection
        </p>
      </div>
    </div>

    <% unless @field.new_record? %>
      <div class="mb-4">
        <%= f.label :visibility, "Visibilité" %>
        <%= f.select :visibility, options_for_select(Field.visibilities.keys.to_a, @field.visibility), {}, class: 'form-select' %>
      </div>
    <% end %>

    <div data-type-target='number' class="mb-4">
      <%= f.label :operation, "Opération en bas de page" %>
      <%= f.select :operation, options_for_select(Field.operations.keys.to_a, @field.operation), {include_blank: true}, class: 'form-select' %>
    </div>

    <div class="d-flex flex-wrap align-items-center gap-2">
      <% if @field.new_record? %>
        <%= f.submit "Ajouter cet attribut", class: 'btn btn-outline-primary' %>
        <%= link_to "Voir la Collection", @field.table, title: "Voir la Collection d'Objets" %>
      <% else %>
        <%= f.submit "Modifier", class: 'btn btn-outline-primary' %>
        <%= link_to 'Retour', show_attrs_path(id: @field.table) %>
      <% end %>
    </div>
  </div>
<% end %>
