<div class="my-4 d-flex align-items-center text-primary gap-2">
  <h1 class="mb-0">
    <%= t('tables.attributes_title', table: @field.table.name) %>
  </h1>
</div>

<!--- TODO: Partial (idem show_attrs) -->
<% if @field.table.fields.any? %>
	<div class="overflow-x-auto">
		<table class="table table-hover align-middle">
			<thead>
				<tr>
					<th class="col-md-1">#</th>
						<th><%= t('tables.datatype') %></th>
						<th><%= t('tables.attribute_name') %></th>
						<th><%= t('tables.options') %></th>
						<th><%= t('tables.visibility') %></th>
					<th></th>
				</tr>
			</thead>
			<% @field.table.fields.ordered.each_with_index do | field, index | %>
				<%= render partial:'fields/field', locals: {field:field, i:index} %>
			<% end %>
		</table>
	</div>
<% end %>
<br>

<h3 id="field_edit" class="text-primary mb-4"><%= t('fields.edit', field: @field.name.humanize) %></h3>

<%= render 'form' %>