<!DOCTYPE html>
<html>
	<head>
		<title><%= @sitename %></title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<meta name="author" content="Philippe NOUGAILLON" />
		<meta name="description" content="Crystal-data base de données en ligne"/>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		
		<%= csrf_meta_tags %>
	</head>
<body>

<div class="panel-body">
	<div id="main-container" class="container">
		<div class="row">
			<ul class="nav nav-pills" role="tablist">
				<% if @current_user %>
					<li class=<%= (controller_name == 'tables' && !params[:id]) ? 'active' : '' %>>
						<%= link_to tables_path, class: "text-muted" do %>				               
							<span class="fa fa-database"></span>	
							Tables	
						<% end %>

					</li>
					<% @current_user.tables.each do |table| %>
						<li class=<%= (controller_name == 'tables' && params[:id]== table.slug) ? 'active' : '' %>>
							<%= link_to table do %>
								<span class="fa fa-table"></span>
								<%= table.name.humanize %>
							<% end %>
						</li>
					<% end %>
					<ul class="nav navbar-nav navbar-right">					
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="glyphicon glyphicon-user"></i>
								<%= @current_user.name.humanize %><b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
							<li><%= link_to "Profil", @current_user %></li>
							<li class="divider"></li>
							<li><%= link_to "Créer un compte", signup_path %></li>
							<li class="divider"></li>
							<li>
								<%= link_to "Se déconnecter", '/logout' %>
							</li>
							</ul>
						</li>
					</ul>
				<% else %>
					<li>
					    <li class="dropdown">
				            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<%= image_tag("icons/data_shared16.png") %>		 
				               	Crystal-data<b class="caret"></b>
				            </a>

				            <ul class="dropdown-menu">
				              <li><%= link_to "A propos de Crystal-data", '/about' %></li>
  				              <li class="divider"></li>
				              <li><%= link_to "Créer un compte", signup_path %></li>
				              <li class="divider"></li>
				              <li><%= link_to "Se connecter", '/login' %></li>
				            </ul>
				          </li>
					</li>
				<% end %>
			</ul>
			<hr>
			<% if notice || alert %>
			    <div class="alert <%= notice ? "alert-success" : "" %><%= alert ? "alert-danger" : "" %> alert-dismissible" role="alert">
			        <button type="button" class="close" data-dismiss="alert">
			            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <div>
			            <% if notice %>
			                <%= notice %>
			            <% elsif alert %>
			                <%= alert %>
			            <% end %>
			        </div>
			    </div>
			<% end %>

			<%= yield %>

		</div>
	</div>
</div>

</body>
</html>
