<!DOCTYPE html>
<html>
  <head>
    <title><%= @sitename %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="author" content="Philippe NOUGAILLON" />
    <meta name="description" content="Crystal-data base de données en ligne"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <main class="d-flex min-vh-100">
      <nav class="nav flex-column bg-secondary gap-5 py-4 position-absolute top-0 start-0 overflow-hidden h-100" style="width: 80px;">
        <li class="nav-item flex-fill mx-auto mt-2">
          <%= link_to root_path do %>
            <i class="fa-solid fa-house fa-2xl text-white"></i>
          <% end %>
        </li>
        <li class="nav-item mx-auto">
          <%= link_to @current_user do %>
            <i class="fa-solid fa-user fa-2xl text-white"></i>
          <% end %>
        </li>
        <li class="nav-item mx-auto">
          <%= link_to root_path do %>
            <i class="fa-solid fa-gear fa-2xl text-white"></i>
          <% end %>
        </li>
      </nav>
      <div class="flex-fill px-5 py-4" style="margin-left: 80px;">
        <%# render "partials/navbar" %>
        <%= render "partials/notification" %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
